<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Item\Renderer */

$_item = $block->getItem();
$product = $_item->getProduct();
$isVisibleProduct = $product->isVisibleInSiteVisibility();
/** @var \Magento\Msrp\Helper\Data $helper */
$helper = $this->helper('Magento\Msrp\Helper\Data');
$canApplyMsrp = $helper->isShowBeforeOrderConfirm($product) && $helper->isMinimalPriceLessMsrp($product);
?>

  
    <td class="cart-item-image">
        <?php if ($block->hasProductUrl()):?>
    <a href="<?= /* @escapeNotVerified */ $block->getProductUrl() ?>" title="<?= $block->escapeHtml($block->getProductName()) ?>" tabindex="-1" class="product-image">
          <?php else:?>
                <a class="product-item-photo">
            <?php endif;?>
        <?= $block->getImage($block->getProductForThumbnail(), 'cart_page_product_thumbnail')->toHtml() ?>
        </a></td>
    <td class="cart-item-name">
        <h2 class="product-name">
             <?php if ($block->hasProductUrl()):?>
                    <a href="<?= /* @escapeNotVerified */ $block->getProductUrl() ?>"><?= $block->escapeHtml($block->getProductName()) ?></a>
                <?php else:?>
                    <a href="#"><?= $block->escapeHtml($block->getProductName()) ?></a>
                <?php endif;?>
                    <?php if ($_options = $block->getOptionList()):?>
                    <dl class="item-options">
                        <?php foreach ($_options as $_option) : ?>
                            <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                            <dt><?= $block->escapeHtml($_option['label']) ?></dt>
                            <dd>
                                <?php if (isset($_formatedOptionValue['full_view'])): ?>
                                    <?= /* @escapeNotVerified */ $_formatedOptionValue['full_view'] ?>
                                <?php else: ?>
                                    <?= /* @escapeNotVerified */ $_formatedOptionValue['value'] ?>
                                <?php endif; ?>
                            </dd>
                        <?php endforeach; ?>
                    </dl>
                <?php endif;?>
                    </h2>
                                                        </td>
    <td class="a-center cart-item-edit">
   <div class="action_edit_custom">
                <?= /* @escapeNotVerified */ $block->getActions($_item) ?>
                 
            </div>

            </td>
        <td class="a-center cart-item-wishlist">
   <div class="action_wishlist_custom">
                <?= /* @escapeNotVerified */ $block->getActions($_item) ?>
                 
            </div>

            </td>
    
                <td class="a-center cart-item-price">
            <span class="cart-item-label-sm">Unit Price</span>
                            <span class="cart-price">

                                                <!-- <span class="price">$850<span class="sep">.</span><span class="cents">00</span></span>    -->
                                                <?= $block->getUnitPriceHtml($_item) ?>             
            </span>


                    </td>
                        <td class="a-center cart-item-quantity">
        <span class="cart-item-label-sm">Qty</span>
      
        <div class="control qty">
                    <input id="cart-<?= /* @escapeNotVerified */ $_item->getId() ?>-qty"
                           name="cart[<?= /* @escapeNotVerified */ $_item->getId() ?>][qty]"
                           data-cart-item-id="<?= /* @escapeNotVerified */ $_item->getSku() ?>"
                           value="<?= /* @escapeNotVerified */ $block->getQty() ?>"
                           type="number"
                           size="4"
                           title="<?= $block->escapeHtml(__('Qty')) ?>"
                           class="input-text qty"
                           data-validate="{required:true,'validate-greater-than-zero':true}"
                           data-role="cart-item-qty"/>
                </div>
    </td>
        <td class="a-center cart-item-subtotal">
        <span class="cart-item-label-sm">Subtotal</span>
                    <?php if ($canApplyMsrp): ?>
                <span class="cart msrp subtotal cart-price">--</span>
            <?php else: ?>
                <?= $block->getRowTotalHtml($_item) ?>
            <?php endif; ?>                            
        </span>
            </td>
            <td class="a-center cart-item-remove ">
               <div class="action_remove_custom">
              <?= /* @escapeNotVerified */ $block->getActions($_item) ?>
            </div>
         </td>
         <td class="a-center cart-item-gift last">
   <div class="action_gift_custom">
                <?= /* @escapeNotVerified */ $block->getActions($_item) ?>
            </div>

            </td>
