<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Update Cart'); ?>
<?php if ($_product->isSaleable()): ?>
    <div class="box-tocart update update_product_edit">
        <fieldset class="fieldset">
            <?php if ($block->shouldRenderQuantity()): ?>
            <div class="qty-row">
                <label class="label" for="qty"><span><?= /* @escapeNotVerified */ __('Qty') ?></span></label>
                <div class="control">
                    <input type="number"
                           name="qty"
                           id="qty"
                           value=""
                           title="<?= /* @escapeNotVerified */ __('Qty') ?>"
                           class="input-text qty"
                           data-validate="{'required-number':true,digits:true}"/>
                </div>
                <span class="inquire-about-product">

                                <a id="click-me">Inquire About This Product</a>

            </span>
            </div>
            <?php endif; ?>
            <div class="actions">
                <button type="submit"
                        title="<?= /* @escapeNotVerified */ $buttonTitle ?>"
                        class="action primary tocart button btn-cart"
                        id="product-updatecart-button">
                    <span><span><?= /* @escapeNotVerified */ $buttonTitle ?></span></span>
                </button>
                <?= $block->getChildHtml('', true) ?>
                <a href="#" data-post='<?php  echo $this->helper('Magento\Wishlist\Helper\Data')->getAddParams($_product) ?>' class="button btn-gray action towishlist" data-action="add-to-wishlist"><span><span>' .ADD TO WISHLIST . '</span></span></a>
            </div>
        </fieldset>
    </div>
    <div class="enquiry_popup" id="popup-mpdal" style="display:none;">
        <h3 style="color:#1e3d7d">Ask Question About Peacock Alley Tiffany Bath Rug-Available in Five Different Colors and Two Different Sizes</h3>
        <div class="container">
            <form action="/action_page.php">
                <div class="form-group">
                  <label>Name <em>*</em></label>
                  <input type="text" class="form-control name_cls" id="name">
                  <div class="err name"></div>
                </div>
                
                <div class="form-group">
                  <label>Email <em>*</em></label>
                  <input type="email" class="form-control email_cls" id="email">
                  <div class="err email"></div>
                </div>
                
                <div class="form-group">
                  <label>Question <em>*</em></label>
                 <textarea id="question" class="question_cls"></textarea>
                 <div class="err question"></div>
                </div>
                <input type="hidden" value="<?php echo $_product->getSku() ?>" id="sku">
                
                <input type="hidden" value="<?php echo date("Y-m-d h:i:s") ?>" id="current_date">
                <div id="g-recaptcha-response" class="g-recaptcha" data-sitekey="6LeqxWAUAAAAAK60f5CYp15cfFSTF5ZVbqQHywHQ"></div>
                <div class="err err_captcha"></div>
                <p><em>*</em> Required Fields</p>
                
                 <button type="button"
                    title="SUBMIT"
                    class="button btn-cart"
                    onclick="question_form_submit()"
                    >
                <span><span>SUBMIT</span></span>
                </button>
                
                
                <div id="required"></div>
              </form>
        </div>
        </div>
    <script type="text/x-magento-init">
        {
            "#product_addtocart_form": {
                "validation": {},
                "addToCart": {
                    "cartButtonId": "#product-updatecart-button",
                    "cartForm": "#product_addtocart_form"
                }
            }
        }
    </script>
<?php endif; ?>
<script type="text/x-magento-init">
{
    "*": {
        "Magento_Ui/js/core/app": {
            "components": {
                "wishlist": {
                    "component": "Magento_Wishlist/js/view/wishlist"
                }
            }
        }
    }
}
</script>

<script>
//console.log(window.location);

var url1 = window.location.href;
url1 = url1.slice(0, url1.lastIndexOf('/'));



  require(
        ['jquery','Magento_Ui/js/modal/modal'],
        function($,modal) 
        {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                modalClass:'prod_inner_enquiry_popup',

                //title: 'popup mpdal title',
                buttons: [{
                    //text: $.mage.__('Continue'),
                    class: '',
                    click: function () {
                        this.closeModal();
                    }
                }]
            };

            var popup = modal(options, $('#popup-mpdal'));
            $("#click-me").on('click',function(){ 
                $("#popup-mpdal").modal("openModal");
            });

        }
    );
    
function question_form_submit()
{
    var googleResponse = jQuery('#g-recaptcha-response').val();
    var name=document.getElementById('name').value;
    var email=document.getElementById('email').value;
    var question=document.getElementById('question').value;
    var sku=document.getElementById('sku').value;
    var current_date=document.getElementById('current_date').value;
    if(name !='' && email !="" && question !="" && googleResponse !='')
    {
        var hostname=window.location.hostname;
        document.getElementById('required').innerHTML="";       
          jQuery.ajax({
                url: url1+"/productqa", 
                method:"POST",
                data:{name:name,email:email,question:question,product_sku:sku,created_time:current_date},
                success: function(result){
                document.getElementById('required').innerHTML="<p style='color:Green'>Your question submited Successfully</p>";
                var $ = jQuery.noConflict();
                 setTimeout(function(){ 
                $("#popup-mpdal").modal("closeModal");
                 }, 5000);
                                
                }
            });
    }
    else if(name =='' && email =="" && question =="")
    {
        jQuery('.name').html('This is a required field.');
        jQuery('.email').html('This is a required field.');
        jQuery('.question').html('This is a required field.');
        jQuery('.name_cls').addClass('required-entries');
        jQuery('.email_cls').addClass('required-entries');
        jQuery('.question_cls').addClass('required-entries');

        
    }
    else if(name =='')
    {
        jQuery('.name_cls').addClass('required-entries');
        jQuery('.name').html('This is a required field.');
    }
    else if(email =="")
    {   
        jQuery('.email_cls').addClass('required-entries');
        jQuery('.email').html('This is a required field.');
    }
    else if(question =="")
    {
        jQuery('.question_cls').addClass('required-entries');
        jQuery('.question').html('This is a required field.');
    }
    else if(googleResponse =="")
    {
        jQuery('.err_captcha').html('This is a required field.');
        
    }

}
</script>



