<?php 
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
	$storeManager = $objectManager->get('Magento\Store\Model\StoreManagerInterface'); 
	$currentStore = $storeManager->getStore();
	$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
	$images=$this->getimages();

	$images=$this->getimages();
	$params = $block->getRequest()->getParams();
	if(empty($params))
	{
		$page_active = 1;
		$start_value_get =1;
		$end_value_get =12;
	}
	else{ 
		$page_active = $params['page'];
		$end_value_get = $params['page'] * 12;
		$value_get = $end_value_get - 12;
		$start_value_get = $value_get + 1;
	
	}
	if($start_value_get == 1)
	{
		$start_value_get =1;
		$end_value_get =12;
		
	}

	$page_value = count($images);
	if($page_value < $end_value_get)
	{
		$end_value_get = $page_value;
		
	}


	echo '<div class="custom_press">
		  <div class="photo-gallery-wrap">
          <ul class="photo-gallery-block gallery-paginator-category-items clearfix">
	';

	$count=0;
	for($start_value_get;$start_value_get<=$end_value_get;$start_value_get++)
{ 
	$array_value = $start_value_get - 1; ?>

       <li itmnumber="<?=$count?>" class="gallery-category-items gallery-category-items-item item-number-<?=$count?> item-page-number-<?=$count?>">
       <a href="<?php echo $mediaUrl.'/'.$images[$array_value]['category_image']; ?>"  title="GalleryImage" desc="GalleryImage" rel="group<?=$count?>" class="group<?=$count?>" >
	    <img src="<?php echo $mediaUrl.'/'.$images[$array_value]['category_image']; ?>"/>
	  </a>
      </li>
      <script type="text/javascript">
                jQuery(document).ready(function(){
                    jQuery(".group<?=$count?>").colorbox({rel:"group<?=$count?>"});
                });
            </script>
	 <?php  
	 $count++;}
	 echo '
	 </ul></div></div>';
	 ?>
<div class="custom_press_pagination">
<p>Page: </p>
	 <div class="custom_press_pages">
	 <?php 
	 $single_page_value = $page_value/12;
		for($i=1;$i<=$single_page_value;$i++)
		{?>
			<a class ="<?php  if($i == $page_active) { echo "active"; } ?>"  href="http://<?php echo $_SERVER['SERVER_NAME'] ?>/featuredpress?page=<?php echo $i ?>"><?php echo $i; ?></a>
		<?php } ?></div></div>
		
