<?php 
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
    $storeManager = $objectManager->get('Magento\Store\Model\StoreManagerInterface'); 
    $currentStore = $storeManager->getStore();
    $mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
    $images=$this->getimages();
    ?>
<div class="title-container home-title-press">
    <h2 class="home-title"><span>In The Press</span></h2>
</div>

<div class="frame">
    <div class="home-press">
        <div class="js-carousel">


                        <ul class="bxslider-inthepress" style="width: 4115%; position: relative; transition-duration: 0s; transform: translate3d(-1413px, 0px, 0px);">
                        <?php foreach($images as $img)
                                { ?>
                                <li class="carousel-element inthepress-element bx-clone" style="float: left; list-style: none; position: relative; width: 125px; margin-right: 32px;">
                                    <a href="featuredpress/" class="product-image">
                                        <img class="lazy" src="<?php echo $mediaUrl.'/'.$img['category_image']; ?>" >
                                    </a>
                                </li>
                            <?php  } ?>
                        </ul>

                <div class="bx-controls bx-has-controls-direction">
                    <div class="bx-controls-direction">
                        <a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a>
                    </div>
                </div>

        </div> <!-- End Carousel -->
    </div>
</div>

<script type="text/javascript">
jQuery(document).ready(function(){
jQuery('.bxslider-inthepress').bxSlider({
        moveSlides:1,
        maxSlides:6,
        slideWidth: 125,
        slideMargin: 32,
        pager:false
    });
});
</script>
