<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Multishipping\Block\Checkout\Overview $block */
?>
<div class="multiple-checkout">
<div class="page-title">
        <h1>Review Order</h1>
    </div>
<form action="<?= /* @escapeNotVerified */ $block->getPostActionUrl() ?>" method="post" id="review-order-form" data-mage-init='{"orderOverview": {}, "validation":{}}' class="form multicheckout order-review">
    <?= $block->getBlockHtml('formkey') ?>
    <div class="block block-billing col2-set multi-ship-top">
        <h2 class="block-title legend"><?= /* @escapeNotVerified */ __('Billing Information') ?></h2>
        <div class="block-content">
           
		   <div class="col-1">
		   <div class="box box-billing-address">
                <?php $_address = $block->getBillingAddress() ?>
                <div class="box-title">
                    <h3><?= /* @escapeNotVerified */ __('Billing Address') ?>
					<span class="separator">|</span>
                    <a href="<?= /* @escapeNotVerified */ $block->getEditBillingAddressUrl($_address) ?>" class="action edit"><?= /* @escapeNotVerified */ __('Change') ?></a>
					</h3>
                </div>
                <div class="box-content">
                    <address>
                        <?= /* @escapeNotVerified */ $_address->format('html') ?>
                    </address>
                </div>
            </div>
            </div>
			
            <div class="col-2">
            <div class="box box-billing-method">
                <div class="box-title">
                    <h3><?= /* @escapeNotVerified */ __('Payment Method') ?>
					<span class="separator">|</span>
                    <a href="<?= /* @escapeNotVerified */ $block->getEditBillingUrl() ?>" class="action edit"><?= /* @escapeNotVerified */ __('Change') ?></a>
					</h3>
                </div>
                <div class="box-content">
                    <input type="hidden" name="payment[cc_number]" value="<?= $block->escapeHtml($block->getPayment()->getCcNumber()) ?>" />
                    <input type="hidden" name="payment[cc_cid]" value="<?= $block->escapeHtml($block->getPayment()->getCcCid()) ?>" />
                    <?= $block->getPaymentHtml() ?>
                </div>
            </div>
            </div>
        </div>
    </div>
   
   <div class="block block-shipping">
        <h2 class="block-title legend"><?= /* @escapeNotVerified */ __('Shipping Information') ?></h2>
        <?php $mergedCells = ($this->helper('Magento\Tax\Helper\Data')->displayCartBothPrices() ? 2 : 1); ?>
        <?php foreach ($block->getShippingAddresses() as $_index => $_address): ?>
            <div class="block-content">
                <h3 class="title legend">
                    <?= /* @escapeNotVerified */ __('Address %1 <span>of %2</span>', ($_index+1), $block->getShippingAddressCount()) ?>
                </h3>
                
				
				<div class="box box-shipping-address">
                    <div class="box-title">
                        <h4><?= /* @escapeNotVerified */ __('Shipping To') ?>
						<span class="separator">|</span>
                        <a href="<?= /* @escapeNotVerified */ $block->getEditShippingAddressUrl($_address) ?>" class="action edit"><?= /* @escapeNotVerified */ __('Change') ?></a>
						</h4>
                    </div>
                    <div class="box-content">
                        <address>
                            <?= /* @escapeNotVerified */ $_address->format('html') ?>
                        </address>
                    </div>
                </div>
               

			   <div class="box box-shipping-method">
                    <strong class="box-title">
                        <h4><?= /* @escapeNotVerified */ __('Shipping Method') ?>
						<span class="separator">|</span>
                        <a href="<?= /* @escapeNotVerified */ $block->getEditShippingUrl() ?>" class="action edit"><?= /* @escapeNotVerified */ __('Change') ?></a>
						</h4>
                    </strong>
                    <?php if ($_rate = $block->getShippingAddressRate($_address)): ?>
                        <div class="box-content">
                            <?= $block->escapeHtml($_rate->getCarrierTitle()) ?> (<?= $block->escapeHtml($_rate->getMethodTitle()) ?>)
                            <?php $_excl = $block->getShippingPriceExclTax($_address); ?>
                            <?php $_incl = $block->getShippingPriceInclTax($_address); ?>

                            <?php if ($this->helper('Magento\Tax\Helper\Data')->displayShippingBothPrices() && $_incl != $_excl): ?>
                            <span class="price-including-tax" data-label="<?= /* @escapeNotVerified */ __('Incl. Tax') ?>">
                            <?php endif; ?>
                                <?= /* @escapeNotVerified */ $_incl ?>
                            <?php if ($this->helper('Magento\Tax\Helper\Data')->displayShippingBothPrices() && $_incl != $_excl): ?>
                            </span>
                            <?php endif; ?>
                            <?php if ($this->helper('Magento\Tax\Helper\Data')->displayShippingBothPrices() && $_incl != $_excl): ?>
                                <span class="price-excluding-tax" data-label="<?= /* @escapeNotVerified */ __('Excl. Tax') ?>"><?= /* @escapeNotVerified */ $_excl ?></span>
                            <?php endif; ?>
                        </div>
                    <?php endif; ?>
                </div>
				
				
				
                <div class="box box-items">
                    <div class="box-content">
                        <div class="order-review-wrapper table-wrapper">
							<h4>Items <span class="separator">|</span> 
						
							<a href="<?= /* @escapeNotVerified */ $block->getAddressesEditUrl() ?>" class="action edit"><?= /* @escapeNotVerified */ __('Edit Items') ?></a>
							</h4>
                            <table class="items data table table-order-review data-table" id="overview-table-<?= /* @escapeNotVerified */ $_address->getId() ?>">
                                <caption class="table-caption"><?= /* @escapeNotVerified */ __('Order Review') ?></caption>
                                <thead>
                                <tr>
                                    <th class="col item" scope="col"><?= /* @escapeNotVerified */ __('product name') ?></th>
                                    <th class="col price" scope="col"><?= /* @escapeNotVerified */ __('Price') ?></th>
                                    <th class="col qty" scope="col"><?= /* @escapeNotVerified */ __('Qty') ?></th>
                                    <th class="col subtotal" scope="col"><?= /* @escapeNotVerified */ __('Subtotal') ?></th>
                                </tr>
                                </thead>
                                <tbody>
                                <?php foreach ($block->getShippingAddressItems($_address) as $_item): ?>
                                    <?= $block->getRowItemHtml($_item) ?>
                                <?php endforeach; ?>
                                </tbody>
                                <tfoot>
                                    <?= /* @escapeNotVerified */ $block->renderTotals($block->getShippingAddressTotals($_address)) ?>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        <?php endforeach; ?>
    </div>

    <?php if ($block->getQuote()->hasVirtualItems()): ?>
    <div class="block block-other">
        <div class="block-title"><strong><?= /* @escapeNotVerified */ __('Other items in your order') ?></strong></div>
        <div class="block-content">
            <strong class="subtitle">
                <span><?= /* @escapeNotVerified */ __('Items') ?></span>
                <a href="<?= /* @escapeNotVerified */ $block->getVirtualProductEditUrl() ?>" class="action edit"><span><?= /* @escapeNotVerified */ __('Edit Items') ?></span></a>
            </strong>
            <?php $mergedCells = ($this->helper('Magento\Tax\Helper\Data')->displayCartBothPrices() ? 2 : 1); ?>
            <div class="order-review-wrapper table-wrapper">
                <table class="items data table table-order-review" id="virtual-overview-table">
                    <caption class="table-caption"><?= /* @escapeNotVerified */ __('Items') ?></caption>
                    <thead>
                        <tr>
                            <th class="col item" scope="col"><?= /* @escapeNotVerified */ __('Product Name') ?></th>
                            <th class="col price" scope="col"><?= /* @escapeNotVerified */ __('Price') ?></th>
                            <th class="col qty" scope="col"><?= /* @escapeNotVerified */ __('Qty') ?></th>
                            <th class="col subtotal" scope="col"><?= /* @escapeNotVerified */ __('Subtotal') ?></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($block->getVirtualItems() as $_item): ?>
                            <?= $block->getRowItemHtml($_item) ?>
                        <?php endforeach; ?>
                    </tbody>
                    <tfoot>
                    <?= /* @escapeNotVerified */ $block->renderTotals($block->getBillinAddressTotals()) ?>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <?php endif; ?>

    <?= $block->getChildHtml('items_after') ?>

    <div id="checkout-review-submit" class="checkout-review place-order">
        <?= $block->getChildHtml('agreements') ?>
        <div class="grand totals grand-total">
					<div class="inner">
					<big class="mark"><?= /* @escapeNotVerified */ __('Grand Total:') ?>
					<span class="price amount"><?= /* @escapeNotVerified */ $this->helper('Magento\Checkout\Helper\Data')->formatPrice($block->getTotal()) ?></span>
					</big>
					
					<div id="review-buttons-container">
					  <button type="submit" class="action primary submit" id="review-button"><span><?= /* @escapeNotVerified */ __('Place Order') ?></span></button>
					</div>
					</div>	
        </div>
        <div class="actions-toolbar" id="review-buttons-container">
              
            <div class="buttons-set">
                <p class="back-link"><a href="<?= /* @escapeNotVerified */ $block->getBackUrl() ?>" class="action back"><small>« </small><?= /* @escapeNotVerified */ __('Back to Billing Information') ?></a></p>
            </div>
            <span id="review-please-wait" class="please-wait load indicator" style="display: none;" data-text="<?= /* @escapeNotVerified */ __('Submitting order information...') ?>">
                <span><?= /* @escapeNotVerified */ __('Submitting order information...') ?></span>
            </span>
        </div>
    </div>
</form>
</div>