<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Review\Block\Product\ReviewRenderer $block */

$url = $block->getReviewsUrl() . '?review=open';
$urlForm = $block->getReviewsUrl() . '?review=open';
?>
<?php if ($block->getReviewsCount()): ?>
<?php $rating = $block->getRatingSummary(); ?>
<div class="product-reviews-summary<?= !$rating ? ' no-rating' : '' ?>" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
    
    <div class="reviews-actions ratings">
        
        <a href="<?= $block->escapeUrl($urlForm) ?>"><?= $block->escapeHtml(__('Write a review')) ?></a>
    </div>
</div>
<?php elseif ($block->getDisplayIfEmpty()): ?>
<div class="product-reviews-summary empty">
    <div class="reviews-actions ratings">
        <a href="<?= $block->escapeUrl($urlForm) ?>">
            <?= $block->escapeHtml(__('Write a review')) ?>
        </a>
    </div>
</div>
<?php endif; ?>
