<?php
/** @var $this \RocketWeb\ShoppingFeedsGoogle\Block\Product\View\Microdata */
$microdata = $this->getMicrodata();
?>
<?php if ($microdata): ?>
    <!-- RSF microdata -->
    <meta itemprop="name" content="<?php echo $block->escapeHtml($microdata->getName()) ?>" />
    <meta itemprop="sku" content="<?php echo $block->escapeHtml($microdata->getSku()) ?>" />

    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="<?php echo $block->escapeHtml($microdata->getCurrency()) ?>" />
        <meta itemprop="price" content="<?php echo $block->escapeHtml($microdata->getPrice()) ?>" />
        <meta itemprop="availability" content="<?php echo $block->escapeHtml($microdata->getAvailability()) ?>" />
        <?php $condition = $microdata->getCondition(); ?>
        <?php if (!empty($condition)): ?>
            <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="<?php $block->escapeHtml($condition) ?>" />
        <?php endif; ?>
    </div>
    <!-- // RSF microdata -->
<?php endif; ?>