<?php
/* @var $block \RocketWeb\ShoppingFeeds\Block\Adminhtml\Feed\Edit\Form\Options\Renderer\ProductTypeMagentoCategory */
?>
<div>
    <span><?php echo $block->escapeHtml(__('Paths limit:')) ?></span>
    <input type="text" name="#{htmlName}[#{index}][param]" value="#{param}" />
</div>
<p class="note"><?php echo $block->escapeHtml(__('Uses product categories to create a comma separated list of category paths. Deeper categories are listed first. Limit paths defines how many comma separated values to output.')) ?></p>