<?php
/* @var $block \RocketWeb\ShoppingFeeds\Block\Adminhtml\Feed\Edit\Form\Options\Renderer\ProductUrl */
?>
<div>
    <span><?php echo $block->escapeHtml(__('Add URL Suffix:')) ?></span>
    <input type="text" name="#{htmlName}[#{index}][param]" value="#{param}" />
</div>
<p class="note"><?php echo $block->escapeHtml(__('Common usage is to send extra GET parameters for analytics tracking.')) ?></p>
