<?php
/* @var $block \RocketWeb\ShoppingFeeds\Block\Adminhtml\Feed\Edit\Form\Options\Renderer\VariantAttributes */
?>

<div>
    <select name="#{htmlName}[#{index}][param][]" class="select" multiple="multiple" size="5">
        <?php foreach ($block->getAttributes() as $option): ?>
            <option value="<?php echo $block->escapeHtml($option['value']) ?>"><?php echo $block->escapeHtml($option['label']) ?></option>
        <?php endforeach; ?>
    </select>
</div>
<p><span><?php echo $block->escapeHtml(__('Select all possible attributes building this value.')) ?></span></p>