<?php $categories = $block->getCategoryList(); 

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
     $current_category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');//get current category
  //  echo  $current_category->getId();
    //echo  $current_category->getName();?>

<div class="block block-layered-nav custom_whitespace">
  <div class="block-title">
    <strong><span>Browse By</span></strong>
  </div>
  <div class="block-content">
    <div class="sidebar-title"><?php  echo  $current_category->getName(); ?></div>
    <ul class="content-sidebar-menu category-links">
         <?php foreach ($categories as $category): ?>
      <li>
        <a href="<?php echo $category->getUrl() ?>"><?php echo $category->getName() ?></a>
      </li>
      <?php endforeach; ?>
    </ul>
    <dl id="narrow-by-list2"></dl>
    
  </div>
</div>