<?php 
	if($this->getrecords() !="New data")
    {
      $edit_data=$this->getrecords();
      $title=$edit_data[0]['title'];
      $description=$edit_data[0]['description'];
      $category_image=$edit_data[0]['category_image'];
      $sort_order=$edit_data[0]['sort_order'];
    }
    else
    {
      $title="";
      $description="";
      $category_image="";
      $sort_order="";
      
    }

    $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
    $FormKey = $objectManager->get('Magento\Framework\Data\Form\FormKey'); 
    $storeManager = $objectManager->get('Magento\Store\Model\StoreManagerInterface'); 
    $currentStore = $storeManager->getStore();
    $mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
?>


<div class="container">
 <form class="form-horizontal" action="<?php echo $this->getUrl("image/Index/new")?>" method="post" enctype="multipart/form-data">
   <?php  if($this->getrecords() != "New data")
    { ?>
        <input type="hidden" value="<?php echo $edit_data[0]['category_id'];?>" name="category_id"> 
    <?php } ?>
  
     <div class="form-group">
      <label class="control-label col-sm-2">Title *</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="title" value="<?php echo $title; ?>" required>
      </div>
    </div>
     <div class="form-group">
      <label class="control-label col-sm-2">Description</label>
      <div class="col-sm-10">
            <textarea name="description" rows="4" cols="80"><?php echo $description; ?></textarea>
      </div>
    </div>

    <?php if($this->getrecords() != "New data") { ?>
        <div class="form-group">
          <div class="col-sm-10">
              <img src="<?php echo $mediaUrl.'/'.$category_image;?>" height="100" width="100">
          </div>
        </div>
    <?php  }?>

    <div class="form-group">
      <label class="control-label col-sm-2">Image *</label>
      <div class="col-sm-10">
        <input type="file" class="form-control" name="category_image" id="category_image" <?php if(empty($this->getrecords())) {  echo "required"; } ?> >
      </div>
    </div>
     <div class="form-group">
      <label class="control-label col-sm-2">Sort order *</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="sort_order" value="<?php echo $sort_order; ?>">
      </div>
    </div>
    <input name="form_key" type="hidden" value="<?php echo $FormKey->getFormKey();?>">

    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-default" value="Submit">
      </div>
    </div>
  </form>
</div>
