#popupoverlay{position:fixed; display:none; opacity:0.8; width:100%; height: 100%; top:0; left:0; background:#fff; z-index:9998; }
#popupquestion{display:none; position:fixed; background:#fff; padding:30px; border:3px solid #666; z-index: 9999;}
.popupclose{position: absolute; right: 8px; top: 8px; width:17px; height: 17px;  background:url(../../../images/sprite.png) -206px -116px no-repeat; }
.popupclose:hover{background-position:-206px -146px; }
.popupclose img{display:none;}
#popupquestion .buttons-set p.required { padding:0 0 10px;}
#popupquestion h4 { font: normal 18px Georgia, "Times New Roman", Times, serif; color:#1e3d7d; margin-bottom:15px; }