
<?php

	$title = '';
if (trim($block->getPageHeading())) {
    $title =  $block->getLayout()->getBlock('page.main.title')->getPageTitle();
}

?>
<div class="banner-wrapper">
  <div class="banner-container banner-cat-container">
    <div class="frame">
      <div class="sub-banner">
        <h2><?php echo $title; ?></h2>
      </div>
    </div>
  </div>
</div>