<?php
/**
 * Copyright © 2013-2017 GiaPhuGroup Ltd. All rights reserved.
 * See COPYING.txt for license details.
 *
 */

// @codingStandardsIgnoreFile

/**
 * @var \PHPCuong\Newsletter\Block\Subscribe $block
 * @see \PHPCuong\Newsletter\Block\Subscribe
 */
?>
<style>
    .popup-newsletter .block.newsletter {
        width: 100%;
    }
    .newsletter-content {
        display: none;
    }
    .newsletter-content .messages {
        display: none;
    }
    .newsletter-content h2 {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
        line-height: initial;
        margin: 15px 0px;
    }
    .newsletter-content.block.newsletter .actions {
        display: block;
        margin-top: 15px;
        width: 100%;
    }
    .newsletter-content .actions .action.subscribe.primary {
    border-radius: 0px;
    width: auto;
    display: inline-block;
    padding: 8px 48px;
    }
</style>

<div class="block newsletter newsletter-content subscribe-form" id="popup-newsletter">
<div class="blue-popup" >			
<div id="bfm_newsletter_popup" >			
    <div class="messages">
        <div class="message message-error error">
            <div></div>
        </div>
    </div>
		<p class="get_text"><span>Get 15% off</span>
		your next order when you join our email list</p>
		<p class="coupon_text">Coupon can't be used with items in the Bargain Basement or with a "Special Price" or "Free Shipping".  If you would like help applying it, call Customer Service.</p>
    <div class="intro">

    </div>
    <div class="content">
        <form class="form subscribe"
            novalidate
            action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl(); ?>"
            method="post"
            data-mage-init='{"validation": {"errorClass": "mage-error"}}'
            id="newsletter-validate-detail">
            <div class="field newsletter">
                <label class="label" for="newsletter"><span><?php /* @escapeNotVerified */ echo __('Sign Up for Our Newsletter:'); ?></span></label>
                <div class="control">
                    <input name="email" type="email" id="newsletter"
                                placeholder="<?php /* @escapeNotVerified */ echo __('Enter your email address'); ?>"
                                />
                </div>
            </div>
            <div class="actions">
                <button class="action subscribe primary" title="<?php /* @escapeNotVerified */ echo __('Subscribe'); ?>" type="submit">
                    <span><?php /* @escapeNotVerified */ echo __('sign up'); ?></span>
                </button>
            </div>
        </form>
		<span class="js-close-popup no-thx action-close" data-role="closeBtn">No Thanks</span>
    </div>
</div>
</div>
</div>
<style>
span.js-close-popup.no-thx {
    color: #214b71!important;
    top: 10px!important;
    position: relative;
    font-size: 15px;
    text-shadow: 0 0 0px #214b71;
    -webkit-text-shadow: 0 0 0px #214b71;
    -moz-text-shadow: 0 0 0px #214b71;
}
span.js-close-popup.no-thx:hover{
	    text-decoration: underline;
}
.blue-popup .no-thx {
    font: italic normal 13px 'Cormorant Garamond',Georgia, serif;
    color: #444;
    cursor: pointer;
}
.modal-inner-wrap {
width: 492px!important;
    height: 492px!important;
    max-width: 492px!important;
}
aside .block.newsletter {
    margin-bottom: 20px;
}
.block.newsletter .field .control {
    width: 100%;
    position: relative;
	min-height: 60px;
}
.block.newsletter input:before {
    position: absolute;
    right: 0;
    z-index: 9;
    font-size: 29px;
    line-height: 25px;
}
.block.newsletter input {
    padding-left: 5px;
    width: 90%;
    box-sizing: border-box;
    height: 36px;
    position: relative;
	border: none;
}
.block.newsletter input::placeholder {
    color: #978e8e!important;
}
.blue-popup #bfm_newsletter_popup .actions {
    padding: 0!important;
    background-color: transparent!important;
    text-align: center;
}
div#bfm_newsletter_popup button {
    margin: 0!Important;
}
div#bfm_newsletter_popup.block .actions {
    padding: 0!important;
}
.modal-slide .action-close {
    padding: 0!important;
}
aside.modal-popup.popup-newsletter.modal-slide._inner-scroll._show header.modal-header h1 {
    display: none;
}
	.blue-popup #bfm_newsletter_popup {
		background: none!important;
		width: auto!important;
		height: auto!important;
		padding:  0!important
	}
	.get_text {
		color: #214b71!important;
		font-size: 20px!important;
	}
	div#bfm_newsletter_popup .get_text {
		margin: 75px 0 5px 0!important;
	}
	.get_text span {
		font-size: 32px!important;
		color: #214b71!important;
		font-weight: 600!important;
		margin-bottom: 10px;
	}
	.coupon_text {
		color: #214b71!important;
		font-size: 12px!important;
		font-family: "proxima-nova", Arial, Helvetica, sans-serif!important;
		line-height: 16px!important;
		font-weight: 500!important;
		    margin-bottom: 10px!important;
    margin-top: 10px!important;
	}
	.blue-popup #cboxMiddleLeft, .blue-popup #cboxMiddleRight {
		background: #fff!important;
	}
	.blue-popup #cboxTopCenter, .blue-popup #cboxBottomCenter {
		background: #fff!important;
	}
	.blue-popup #cboxTopLeft, .blue-popup #cboxTopRight, .blue-popup #cboxBottomLeft, .blue-popup #cboxBottomRight {
		background: #fff!important;
	}
	#cboxLoadedContent {
		height: 472px!important;
	}
	#cboxContent {
		height: 472px!important;
	}
	#colorbox {
		outline: 0;
		background: #fff;
		box-shadow: 2px 2px 2px #868686;
		height: 492px!important;
	}
	#colorbox {
		height: 492px!important;
		position: fixed!important;
		top: 50%!important;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
	}
	#cboxWrapper {
		height: 492px!important;
	}
	button.button span span:before, button.button span span:after {
		position: absolute;
		top: 13px!important;
		width: 20px!important;
		height: 20px!important;
		background: url(skin/frontend/wah/default/images/btn_icon.png) 0 0 no-repeat!important;
		background-position: center center!important;
		background-size: contain!important;
}
	.btn_sign_text {
		font-size: 18px!important;
	}
	.blue-popup button.button span span {
		padding: 10px 45px!important;
		line-height: normal!important;
		height: auto!important;
		background-color: #e2655e!important;
	}	
	#newsletter1 {
		border: 0px!important;
		padding: 12px 10px!important;
		height: auto!important;
		font-style: normal!important;
		font-size: 11px!important;
	}
	span.js-close-popup.no-thx {
		color: #214b71!important;
		top: 12px!important;
		position: relative;
		font-size: 15px;
		text-shadow: 0 0 0px #214b71;
		-webkit-text-shadow: 0 0 0px #214b71;
		-moz-text-shadow: 0 0 0px #214b71;
}
	.newsletter-form button {
		margin: 20px 0 20px!important;
	}
	.blue-popup button.button:hover span span {
    background-color: #5fa5db!important;
}
.blue-popup #bfm_newsletter_popup .messages {
    /* display: block; */
    position: absolute;
    width: 360px;
    top: 320px;
    left: 50%;
    transform: translateX(-50%);
}
.blue-popup #bfm_newsletter_popup .messages .message.message-error.error {
    padding: 0!important;
    margin: 0;
    border: none;
    background: no-repeat;
}
.blue-popup #bfm_newsletter_popup .messages .message.message-error.error > *:first-child:before{
	display:none;
}

@media only screen and (max-width: 650px) {
	.modal-popup.modal-slide {
    left: 0;
}
aside .block.newsletter {
    margin-bottom: 0;
}
/* coupon code */
.popup-newsletter .block.newsletter {
    width: 90%;
    margin: 0 auto;
}
aside.modal-popup.popup-newsletter.modal-slide._inner-scroll._show .modal-inner-wrap {
    width: 100%!important;
    max-width: 100%!important;
    margin: 0 auto;
    top: 50%!important;
    height: auto!important;
    position: relative;
    display: block!important;
    min-height: 380px!important;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
aside.modal-popup.popup-newsletter.modal-slide._inner-scroll._show .modal-inner-wrap .modal-header,
 .modal-slide .modal-content, 
 .modal-slide .modal-footer {
    padding: 0 1.5rem 2.3rem;
}
div#bfm_newsletter_popup .get_text {
    margin: 75px 0 5px 0!important;
        color: #214b71!important;
    font-size: 12px!important;
}
.get_text span {
    font-size: 20px!important;
    color: #214b71!important;
    font-weight: 600!important;
    margin-bottom: 0px;
    line-height: 24px;
}
.coupon_text {
    color: #214b71!important;
    font-size: 10px!important;
    font-family: "proxima-nova", Arial, Helvetica, sans-serif!important;
    line-height: 16px!important;
    font-weight: 500!important;
    margin-bottom: 5px!important;
    margin-top: 5px!important;
}
.block.newsletter .field .control {
    width: 100%;
    position: relative;
    min-height: 25px;
}
.block.newsletter form#newsletter-validate-detail input {
    padding-left: 0;
    width: 100%;
    box-sizing: border-box;
    height: 28px;
    position: relative;
    border: none;
    padding: 3px 36px 3px 11px;
    font-size: 12px;
    color: #70787b;
}
.newsletter-content .actions .action.subscribe.primary {
    border-radius: 0px;
    width: auto;
    display: inline-block;
    padding: 5px 30px;
    font-size: 10px!important;
}
.blue-popup #bfm_newsletter_popup button.action.subscribe.primary::before {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 7px;
    width: 16px;
    height: 16px;
}
.blue-popup #bfm_newsletter_popup button.action.subscribe.primary::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    right: 8px;
    width: 16px;
    height: 16px;
}
.blue-popup #bfm_newsletter_popup button.action.subscribe.primary:hover::before{
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 7px;
    width: 16px;
    height: 16px;
}
.blue-popup #bfm_newsletter_popup button.action.subscribe.primary:hover::after{
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    right: 8px;
    width: 16px;
    height: 16px;
}
span.js-close-popup.no-thx {
    color: #214b71!important;
    top: 4px!important;
    position: relative;
    font-size: 12px;
}
.block.newsletter form#newsletter-validate-detail .field .control::before {
    position: absolute;
    right: -3px;
    z-index: 999;
    font-size: 32px;
    color: #cccccccf;
    line-height: 31px;
    top: -3px;
}
}
	</style>
<script type="text/x-magento-init">
    {
        "#popup-newsletter": {
            "PHPCuong_Newsletter/js/process-popup-newsletter": {
                "popupTitle": "<?php /* @escapeNotVerified */ echo __('Newsletter'); ?>"
            }
        }
    }
</script>
