<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var \Magento\Wishlist\Model\Item $item */
$item = $block->getItem();
$product = $item->getProduct();
?>
<div class="wishlist_product_detail">
<strong class="product-item-name">
    <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($item) ?>" title="<?php echo $block->escapeHtml($product->getName()) ?>" class="product-item-link">
        <?php echo $block->escapeHtml($product->getName()) ?>

    </a>
</strong>
<?php $product_id= $block->escapeHtml($product->getId()); ?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product1 = $objectManager->create('Magento\Catalog\Model\Product')->load($product_id);
echo $product1->getDescription();
?>

</div>
