<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magento\Sales\Block\Order\Info */ ?>
<?php $_order = $block->getOrder() ?>
<div class="block block-order-details-view">
   <dl class="order-info">
    <dt>About This Order:</dt>
    <dd>
                <ul id="order-info-tabs">
                                    <li class="current first last">Order Information</li>
                            </ul>
    </dd>
    </dl>
    <div class="block-content">
    <?php if (!$_order->getIsVirtual()): ?>
        <div class="myorder_shipping_data">
        <div class="box box-order-shipping-address">
            <div class="box-title"><h2><?= /* @escapeNotVerified */ __('Shipping Address') ?></h2></div>
            <div class="box-content">
                <address><?= /* @escapeNotVerified */ $block->getFormattedAddress($_order->getShippingAddress()) ?></address>
            </div>
        </div>

        <div class="box box-order-shipping-method">
            <div class="box-title">
                <h2><?= /* @escapeNotVerified */ __('Shipping Method') ?></h2>
            </div>
            <div class="box-content">
            <?php if ($_order->getShippingDescription()): ?>
                <?= $block->escapeHtml($_order->getShippingDescription()) ?>
            <?php else: ?>
                <?= /* @escapeNotVerified */ __('No shipping information available') ?>
            <?php endif; ?>
            </div>
        </div>
        </div>
    <?php endif; ?>
        <div class="myorder_billing_data">
        <div class="box box-order-billing-address">
            <div class="box-title">
                <h2><?= /* @escapeNotVerified */ __('Billing Address') ?></h2>
            </div>
            <div class="box-content">
                <address><?= /* @escapeNotVerified */ $block->getFormattedAddress($_order->getBillingAddress()) ?></address>
            </div>
        </div>
        <div class="box box-order-billing-method">
            <div class="box-title">
                <h2><?= /* @escapeNotVerified */ __('Payment Method') ?></h2>
            </div>
            <div class="box-content">
                <?= $block->getPaymentInfoHtml() ?>
            </div>
        </div>
    </div>
</div>
</div>
