<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php /** @var $block \Magento\Sales\Block\Order\Info */ ?>

<?= '<div class="order_view_status"> <p> - ';/* @escapeNotVerified */ 
echo $block->getOrder()->getStatusLabel(); ?>
<?php
 echo '</p></div>';
 ?>
