<script src='https://www.google.com/recaptcha/api.js'></script>
<!-- <style>
    .custom_wishlist {
    position: relative;
    height: auto;
    min-height: 100px;
}

a.button.btn-gray.action.towishlist {
    position: absolute;
    bottom: 50px;
    right: 0;
    margin: 0;
}
.product-shop .product-options-bottom {
    margin: 0;
    padding-bottom: 0;
}
.custom_wishlist .add-to-box {
    padding: 0 0 36px 0!important;
}
@media only screen and (max-width: 650px) {
.custom_wishlist .add-to-box {
    padding: 0 0 76px 0!important;
}
a.button.btn-gray.action.towishlist {
    position: absolute;
    bottom: 33px;
    right: auto;
}
}

</style> -->
<?php
$_product = $block->getProduct(); 
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
	$storeManager = $objectManager->get('Magento\Store\Model\StoreManagerInterface'); 
	$currentStore = $storeManager->getStore();
	$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
?>
<?php $buttonTitle = __('Add to Cart'); ?>
<div class="custom_wishlist">
<?php if ($_product->isSaleable()): ?>
<div class="add-to-box">
     <?php if ($block->shouldRenderQuantity()): ?>
          <div class="qty-row">
                        <label for="qty">Qty:</label>
            <input type="text" name="qty" id="qty" maxlength="12"  value="<?= /* @escapeNotVerified */ $block->getProductDefaultQty() * 1 ?>"
                       title="<?= /* @escapeNotVerified */ __('Qty') ?>" class="input-text qty" data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>">
            
            <?php endif; ?>
            <span class="inquire-about-product">

                                <a id="click-me">Inquire About This Product</a>

            </span>
        </div>

        <div class="enquiry_popup" id="popup-mpdal" style="display:none;">
		<h3 style="color:#1e3d7d">Ask Question About Peacock Alley Tiffany Bath Rug-Available in Five Different Colors and Two Different Sizes</h3>
		<div class="container">
			<form action="/action_page.php">
				<div class="form-group">
				  <label>Name <em>*</em></label>
                  <input type="text" class="form-control name_cls" id="name">
                  <div class="err name"></div>
				</div>
				
				<div class="form-group">
				  <label>Email <em>*</em></label>
                  <input type="email" class="form-control email_cls" id="email">
                  <div class="err email"></div>
				</div>
				
				<div class="form-group">
				  <label>Question <em>*</em></label>
                 <textarea id="question" class="question_cls"></textarea>
                 <div class="err question"></div>
				</div>
				<input type="hidden" value="<?php echo $_product->getSku() ?>" id="sku">
				
				<input type="hidden" value="<?php echo date("Y-m-d h:i:s") ?>" id="current_date">
                <div id="g-recaptcha-response" class="g-recaptcha" data-sitekey="6LeqxWAUAAAAAK60f5CYp15cfFSTF5ZVbqQHywHQ"></div>
                <div class="err err_captcha"></div>
				<p><em>*</em> Required Fields</p>
				
                 <button type="button"
                    title="SUBMIT"
                    class="button btn-cart"
                    onclick="question_form_submit()"
                    >
                <span><span>SUBMIT</span></span>
                </button>
				
				<div id="required"></div>
			  </form>
		</div>
</div>
        <!-- <button type="button" title="Add to Cart" class="button btn-cart" onclick="productAddToCartForm.submit(this)"><span><span>Add to Cart</span></span></button> -->
        <button type="submit"
                    title="Add to Cart"
                    class="button btn-cart"
                    id="product-addtocart-button">
                <span><span>Add to Cart</span></span>
       </button>
                                                



   
  </div>
  <?php endif; ?>
 
</div>
<?php if ($block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php else : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>
<?php endif; ?>
<!-- <script type="text/x-magento-init">
{
    "*": {
        "Magento_Ui/js/core/app": {
            "components": {
                "wishlist": {
                    "component": "Magento_Wishlist/js/view/wishlist"
                }
            }
        }
    }
}
</script> -->

<script>
//console.log(window.location);

var url1 = window.location.href;
url1 = url1.slice(0, url1.lastIndexOf('/'));



  require(
        ['jquery','Magento_Ui/js/modal/modal'],
        function($,modal) 
        {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                modalClass:'prod_inner_enquiry_popup',

                //title: 'popup mpdal title',
                buttons: [{
                    //text: $.mage.__('Continue'),
                    class: '',
                    click: function () {
                        this.closeModal();
                    }
                }]
            };

            var popup = modal(options, $('#popup-mpdal'));
            $("#click-me").on('click',function(){ 
                $("#popup-mpdal").modal("openModal");
            });

        }
    );
	
function question_form_submit()
{
    var googleResponse = jQuery('#g-recaptcha-response').val();
	var name=document.getElementById('name').value;
	var email=document.getElementById('email').value;
	var question=document.getElementById('question').value;
	var sku=document.getElementById('sku').value;
	var current_date=document.getElementById('current_date').value;
	if(name !='' && email !="" && question !="" && googleResponse !='')
	{
		var hostname=window.location.hostname;
		document.getElementById('required').innerHTML="";		
		  jQuery.ajax({
				url: url1+"/productqa", 
				method:"POST",
				data:{name:name,email:email,question:question,product_sku:sku,created_time:current_date},
				success: function(result){
				document.getElementById('required').innerHTML="<p style='color:Green'>Your question submited Successfully</p>";
				var $ = jQuery.noConflict();
				 setTimeout(function(){ 
				$("#popup-mpdal").modal("closeModal");
				 }, 5000);
								
				}
			});
    }
    else if(name =='' && email =="" && question =="")
    {
        jQuery('.name').html('This is a required field.');
        jQuery('.email').html('This is a required field.');
        jQuery('.question').html('This is a required field.');
        jQuery('.name_cls').addClass('required-entries');
        jQuery('.email_cls').addClass('required-entries');
        jQuery('.question_cls').addClass('required-entries');

        
    }
	else if(name =='')
	{
        jQuery('.name_cls').addClass('required-entries');
		jQuery('.name').html('This is a required field.');
	}
    else if(email =="")
    {   
        jQuery('.email_cls').addClass('required-entries');
        jQuery('.email').html('This is a required field.');
    }
    else if(question =="")
    {
        jQuery('.question_cls').addClass('required-entries');
        jQuery('.question').html('This is a required field.');
    }
    else if(googleResponse =="")
    {
        jQuery('.err_captcha').html('This is a required field.');
        
    }

}
</script>


