<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
	$_product = $block->getProduct(); 
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
	$storeManager = $objectManager->get('Magento\Store\Model\StoreManagerInterface'); 
	$currentStore = $storeManager->getStore();
	$mediaUrl = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);

$_product = $block->getProduct();
$url = (isset($_SERVER['HTTPS']) ? "https" : "http") . "://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]";


$escaped_url = htmlspecialchars( $url, ENT_QUOTES, 'UTF-8' );
?>
  <a href="#" data-post='<?php  echo $this->helper('Magento\Wishlist\Helper\Data')->getAddParams($_product) ?>' class="button btn-gray action towishlist" data-action="add-to-wishlist"><span><span>' .ADD TO WISHLIST . '</span></span></a>
<div class="share-block">
                <a href="https://www.facebook.com/sharer/sharer.php?u=<?php echo $escaped_url;?>" class="share-link share-facebook" target="_blank">Like</a>
                <a href="http://twitter.com/share?text=&url=<?php echo $escaped_url;?>" class="share-link share-twitter" target="_blank">Tweet</a>
                <!-- <a href="//www.pinterest.com/pin/create/button/?url=<?php //echo $escaped_url;?>" class="share-link share-pinterest" target="_blank">Pin It</a> -->

                <a href="https://pinterest.com/pin/create/button/?url=<?php echo urlencode($_product->getProductUrl()); ?>&media=<?php echo urlencode($mediaUrl.'catalog/product'.$_product->getImage()); ?>&description=<?php echo urlencode($_product->getName());?>" onclick='javascript:window.open(this.href,"","width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes");return false' class="share-link share-pinterest">Pin It</a>

                 <p class="email-friend"><?php if ($block->canEmailToFriend()): ?>
    <a href="<?= /* @escapeNotVerified */ $this->helper('Magento\Catalog\Helper\Product')->getEmailToFriendUrl($_product) ?>">
    	Recommend to a friend</a>
       
<?php endif; ?></p>
  </div>


