<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magento\Catalog\Block\Product\AbstractProduct */ ?>
<?= $block->getReviewsSummaryHtml($block->getProduct(), false, true) ?>
<?php $_helper = $this->helper('Magento\Catalog\Helper\Output'); ?>
<?php $_product = $block->getProduct(); ?>
<div class="promotional-text">
  <p><span style="font-size: small;"><?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('top_promo')->toHtml();?></span></p>
</div>
<div class="stock-shipping-information">
   <?php if($_product->getResource()->getAttribute('mm_show_low_stock')->getFrontend()->getValue($_product)=="Yes"){ ?>
                          <div class="low-stock-custom"><span>low<br>stock!</span></div> 
                      <?php } ?>
  <span class="shipping-status"><p><?php /* @escapeNotVerified */ echo $_product->getResource()->getAttribute('shipping_info')->getFrontend()->getValue($_product); ?></p></span>
<div class="shipping-promotional"><?php /* @escapeNotVerified */ echo $_product->getResource()->getAttribute('free_shipping_text')->getFrontend()->getValue($_product); ?></div>
</div>

