<?php /** @var $block RocketWeb\ShoppingFeeds\Block\Adminhtml\Feed\Viewlog */?>
<?php if ($block->getError()): ?>
    <span><?php echo $block->escapeHtml($block->getError()) ?></span>
<?php else: ?>
    <ul>
        <?php foreach ($block->getFileLines() as $line) :?>
            <li><?php echo $block->escapeHtml($line) ?></li>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>
