<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Dashboard\Address $block */
?>
   <div class="col2-set">
    <div class="box">
        <div class="box-title">
            <h3>Address Book</h3>
             <a class="action edit" href="<?= $block->escapeUrl($block->getAddressBookUrl()) ?>"><?= $block->escapeHtml(__('Manage Addresses')) ?></a>
        </div>
        <div class="box-content">
            <div class="col-1">
                <h4>Default Billing Address</h4>
                <address>
                   <?= $block->getPrimaryBillingAddressHtml() ?></br>
                   
                     <a class="action edit" href="<?= $block->escapeUrl($block->getPrimaryBillingAddressEditUrl()) ?>" data-ui-id="default-billing-edit-link"><?= $block->escapeHtml(__('Edit Address')) ?></a>
                </address>
            </div>
            <div class="col-2">
                <h4>Default Shipping Address</h4>
                <address>
                    <?= $block->getPrimaryShippingAddressHtml() ?>
                    <a class="action edit" href="<?= $block->escapeUrl($block->getPrimaryShippingAddressEditUrl()) ?>" data-ui-id="default-shipping-edit-link"><?= $block->escapeHtml(__('Edit Address')) ?></a>
                </address>
            </div>
        </div>
    </div>
  </div>

