<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php if ($crumbs && is_array($crumbs)) : ?>
<div class="note-search clearfix">
<div class="breadcrumbs">
    <ul>
        <?php foreach ($crumbs as $crumbName => $crumbInfo) : ?>
                  
                         <?php if ($crumbInfo['link']) : ?>
                          <li class="<?= /* @escapeNotVerified */ $crumbName ?>">
                            <a href="<?= /* @escapeNotVerified */ $crumbInfo['link'] ?>" title="<?= $block->escapeHtml($crumbInfo['title']) ?>"><?= $block->escapeHtml($crumbInfo['label']) ?></a>
                                        <span></span>
                        </li>
                        
                         <?php elseif ($crumbInfo['last']) :?>
                    <li class="<?= /* @escapeNotVerified */ $crumbName ?>">
                          <strong><?= $block->escapeHtml($crumbInfo['label']) ?></strong>                                    </li>
                                
                    <?php 
                    endif;
                    endforeach; ?>
            </ul>
</div>
</div>
<?php endif; ?>



