<div class="page-top">
  <div class="top-promo">
     <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('top_promo')->toHtml();?>
 </div>
 <?php 
  	$base_link = (isset($_SERVER['HTTPS']) ? "https" : "http") . "://$_SERVER[HTTP_HOST]";
    ?>
  <div class="top-row">
    <div class="clearfix top-frame">
          <a class="mobile-nav-open">
            <span class="mobile-open-left">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </span>
            <span class="mobile-open-right">Menu</span>
            <span class="mobile-close"><span>X</span><em>Close</em></span>
          </a> 
            <div class="top-left"><div class="socials">
            
            <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_links_block')->toHtml();?>
            
            </div>
        </div>


            <div class="top-right">
            <ul class="links">
            <?php  
            // $objectManage = \Magento\Framework\App\ObjectManager::getInstance();
            // $customerSession = $objectManage->get('Magento\Customer\Model\Session');


            $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
            $customerSession = $objectManager->get('Magento\Framework\App\Http\Context');
            $isLoggedIn = $customerSession->getValue(\Magento\Customer\Model\Context::CONTEXT_AUTH);
            $helper = $this->helper('\Magento\Checkout\Helper\Cart');


            if($isLoggedIn) { ?>
                <div class="logged_in">
                <li class="first"><a href="#" title=""><strong>Search</strong></a></li>
               <li><a href="<?php echo $base_link ?>/checkout/cart/" title="My Cart" class="top-link-cart"><img src="<?php echo $block->getViewFileUrl('images/handbag.svg'); ?>" class="top-cart-icon" alt="cart" width="23" height="28"> <?php if($helper->getItemsCount()!="0"){?> (<span><?= $helper->getItemsCount();?></span> item(<span class="small">s</span>)) <?php } ?></a></li>
                <li><a href="<?php echo $base_link ?>/customer/account/" title="My Account">My Account</a></li>
                <li class=" last"><a href="<?php echo $base_link ?>/customer/account/logout/" title="Log Out">Log Out</a></li>  
                </div> 
            <?php }else
            { ?>
                <div class="logged_out">
                <li class="first"><a href="<?php echo $base_link ?>/customer/account/login/" title="Log In">Login</a></li>
                <li><a href="<?php echo $base_link ?>/customer/account/create/" title="Register">Register</a></li>
                <li class="top-search-open"><a href="#" title=""><strong>Search</strong></a></li>
               

			   <li><a href="<?php echo $base_link ?>/checkout/cart/" title="My Cart" class="top-link-cart"><img src="<?php echo $block->getViewFileUrl('images/handbag.svg'); ?>" class="top-cart-icon" alt="cart" width="23" height="28"> <?php if($helper->getItemsCount()!="0"){?> (<span><?= $helper->getItemsCount();?></span> item(<span class="small">s</span>)) <?php } ?></a></li>
            </div>
			   
            <?php } ?>

            </ul>
            <div class="questions"><strong>Questions?</strong> Call us: 1-888-WELL-APP</div>    <style>
            div#search_form form .form-search button.button {
            top: 0;
            right: 0!important;
            margin: 0 0 !important;
            }
            </style>
            <div id="search_form"><!--class="dialog"-->
            <?php echo $this->getChildHtml('topSearch') ?>

            </div>

            </div>




      </div>

      <!-- mennu -->
      <?php $columnsLimit = $block->getColumnsLimit() ?: 0; ?>
<?php $_menu = $block->getHtml('level-top', 'submenu', $columnsLimit) ?>

<div class="mobile-nav-container">
    <div class="mobile-nav-overlay"></div>
       <div class="mobile-nav" style="display: none;">
        <ul>
   <li class="level0 nav-1 first level-top parent ui-menu-item" role="presentation">
      <a href="https://wellappointedhouse.com/furniture.html" class="level-top ui-corner-all" aria-haspopup="true" id="ui-id-2" tabindex="-1" role="menuitem">
      <span>Furniture</span>
      </a><span></span>
      <ul class="level0 submenu ui-menu ui-widget ui-widget-content ui-corner-all" role="menu" aria-hidden="true" aria-expanded="false" style="display: none;">
         <li class="level1 nav-1-1 first ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/furniture/armoires.html" id="ui-id-12" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Armoires</span></a></li>
         <li class="level1 nav-1-2 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/furniture/bar-serving-carts.html" id="ui-id-13" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Bar &amp; Serving Carts</span></a></li>
         <li class="level1 nav-1-3 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/furniture/barstools.html" id="ui-id-14" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Barstools &amp; Counterstools</span></a></li>
         <li class="level1 nav-1-4 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/furniture/beds.html" id="ui-id-15" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Beds</span></a></li>
         <li class="level1 nav-1-5 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/furniture/benches.html" id="ui-id-16" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Benches</span></a></li>
         <li class="level1 nav-1-6 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/furniture/bookshelves.html" id="ui-id-17" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Bookshelves</span></a></li>
         <li class="level1 nav-1-7 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/furniture/chairs.html" id="ui-id-18" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Chairs</span></a></li>
         <li class="level1 nav-1-8 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/furniture/chests-consoles.html" id="ui-id-19" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Chests &amp; Consoles </span></a></li>
         <li class="level1 nav-1-9 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/furniture/coffee-tables.html" id="ui-id-20" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Coffee Tables</span></a></li>
         <li class="level1 nav-1-10 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/furniture/cupboards-china-cabinets-buffets.html" id="ui-id-21" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Cupboards, China Cabinets &amp; Buffets</span></a></li>
         <li class="level1 nav-1-11 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/furniture/desks.html" id="ui-id-22" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Desks</span></a></li>
         <li class="level1 nav-1-12 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/furniture/desk-chairs.html" id="ui-id-23" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Desk Chairs</span></a></li>
         <li class="level1 nav-1-13 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/furniture/dining-tables.html" id="ui-id-24" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Dining Tables</span></a></li>
         <li class="level1 nav-1-14 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/furniture/end-tables-sofa-tables.html" id="ui-id-25" class="ui-corner-all" tabindex="-1" role="menuitem"><span>End Tables &amp; Sofa Tables</span></a></li>
         <li class="level1 nav-1-15 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/furniture/entertainment-centers.html" id="ui-id-26" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Entertainment &amp; Media Cabinets</span></a></li>
         <li class="level1 nav-1-16 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/furniture/game-tables.html" id="ui-id-27" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Game Tables</span></a></li>
         <li class="level1 nav-1-17 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/furniture/luggage-racks-tv-trays.html" id="ui-id-28" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Luggage Racks &amp; TV Trays</span></a></li>
         <li class="level1 nav-1-18 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/furniture/nightstands-bureaus.html" id="ui-id-29" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Nightstands &amp; Bureaus</span></a></li>
         <li class="level1 nav-1-19 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/furniture/porcelain-garden-seats.html" id="ui-id-30" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Porcelain Garden Seats</span></a></li>
         <li class="level1 nav-1-20 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/furniture/screens-and-panels.html" id="ui-id-31" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Screens and Panels</span></a></li>
         <li class="level1 nav-1-21 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/furniture/sofas-loveseats.html" id="ui-id-32" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Sofas &amp; Loveseats</span></a></li>
         <li class="level1 nav-1-22 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/furniture/stools-ottomans.html" id="ui-id-33" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Stools &amp; Ottomans</span></a></li>
         <li class="level1 nav-1-23 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/furniture/under-500.html" id="ui-id-34" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Under $500</span></a></li>
         <li class="level1 nav-1-24 last ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/furniture/vanity-tables.html" id="ui-id-35" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Vanity Tables</span></a></li>
      </ul>
   </li>
   <li class="level0 nav-2 level-top parent ui-menu-item" role="presentation">
      <a href="https://wellappointedhouse.com/decorative.html" class="level-top ui-corner-all" aria-haspopup="true" id="ui-id-3" tabindex="-1" role="menuitem"><span>Decorative</span></a><span></span>
      <ul class="level0 submenu ui-menu ui-widget ui-widget-content ui-corner-all" role="menu" aria-hidden="true" aria-expanded="false" style="display: none;">
         <li class="level1 nav-2-1 first ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/decorative/bookends.html" id="ui-id-36" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Bookends</span></a></li>
         <li class="level1 nav-2-2 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/decorative/candlesticks.html" id="ui-id-37" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Candlesticks &amp; Candles</span></a></li>
         <li class="level1 nav-2-3 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/decorative/clocks.html" id="ui-id-38" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Clocks</span></a></li>
         <li class="level1 nav-2-4 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/decorative/curiosity-shop.html" id="ui-id-39" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Curiosity Shop</span></a></li>
         <li class="level1 nav-2-5 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/decorative/decorative-boxes.html" id="ui-id-40" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Decorative Boxes</span></a></li>
         <li class="level1 nav-2-6 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/decorative/decorative-ceramics.html" id="ui-id-41" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Decorative Ceramics</span></a></li>
         <li class="level1 nav-2-7 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/decorative/fireplace-accessories.html" id="ui-id-42" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Fireplace Accessories</span></a></li>
         <li class="level1 nav-2-8 parent ui-menu-item" role="presentation">
            <a href="https://wellappointedhouse.com/decorative/holiday.html" aria-haspopup="true" id="ui-id-43" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Holiday</span></a>
            <ul class="level1 submenu ui-menu ui-widget ui-widget-content ui-corner-all expanded" role="menu" aria-hidden="true" aria-expanded="false" style="display: none;">
               <li class="level2 nav-2-8-1 first ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/decorative/holiday/thanksgiving-decor.html" id="ui-id-58" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Thanksgiving</span></a></li>
               <li class="level2 nav-2-8-2 last parent ui-menu-item" role="presentation">
                  <a href="https://wellappointedhouse.com/decorative/holiday/christmas.html" aria-haspopup="true" id="ui-id-59" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Christmas</span></a>
                  <ul class="level2 submenu ui-menu ui-widget ui-widget-content ui-corner-all expanded" role="menu" aria-hidden="true" aria-expanded="false" style="display: none;">
                     <li class="level3 nav-2-8-2-1 first ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/decorative/holiday/christmas/christmas-wreaths.html" id="ui-id-60" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Christmas Wreaths</span></a></li>
                     <li class="level3 nav-2-8-2-2 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/decorative/holiday/christmas/christmas-stockings.html" id="ui-id-61" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Christmas Stockings</span></a></li>
                     <li class="level3 nav-2-8-2-3 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/decorative/holiday/christmas/christmas-pillows.html" id="ui-id-62" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Christmas Pillows</span></a></li>
                     <li class="level3 nav-2-8-2-4 last ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/decorative/holiday/christmas/christmas-decor.html" id="ui-id-63" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Christmas Decor &amp; Gifts</span></a></li>
                  </ul>
               </li>
            </ul>
         </li>
         <li class="level1 nav-2-9 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/decorative/library-decor.html" id="ui-id-44" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Library Decor</span></a></li>
         <li class="level1 nav-2-10 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/decorative/magazine-racks.html" id="ui-id-45" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Magazine Racks</span></a></li>
         <li class="level1 nav-2-11 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/decorative/mirrors.html" id="ui-id-46" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Mirrors</span></a></li>
         <li class="level1 nav-2-12 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/decorative/office-accessories.html" id="ui-id-47" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Office Accessories</span></a></li>
         <li class="level1 nav-2-13 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/decorative/picture-frames.html" id="ui-id-48" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Picture Frames</span></a></li>
         <li class="level1 nav-2-14 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/decorative/pillows.html" id="ui-id-49" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Pillows</span></a></li>
         <li class="level1 nav-2-15 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/decorative/planters.html" id="ui-id-50" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Planters</span></a></li>
         <li class="level1 nav-2-16 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/decorative/rugs.html" id="ui-id-51" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Rugs</span></a></li>
         <li class="level1 nav-2-17 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/decorative/silk-florals.html" id="ui-id-52" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Silk Florals</span></a></li>
         <li class="level1 nav-2-18 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/decorative/tole-decoupage.html" id="ui-id-53" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Tole &amp; Decoupage</span></a></li>
         <li class="level1 nav-2-19 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/decorative/umbrella-stands.html" id="ui-id-54" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Umbrella Stands</span></a></li>
         <li class="level1 nav-2-20 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/decorative/art.html" id="ui-id-55" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Wall Art </span></a></li>
         <li class="level1 nav-2-21 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/decorative/wall-brackets-plate-holders.html" id="ui-id-56" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Wall Brackets &amp; Plate Holders</span></a></li>
         <li class="level1 nav-2-22 last ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/decorative/wastebasket-sets.html" id="ui-id-57" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Wastebasket Sets</span></a></li>
      </ul>
   </li>
   <li class="level0 nav-3 level-top parent ui-menu-item" role="presentation">
      <a href="https://wellappointedhouse.com/lighting.html" class="level-top ui-corner-all" aria-haspopup="true" id="ui-id-4" tabindex="-1" role="menuitem"><span>Lighting</span></a><span></span>
      <ul class="level0 submenu ui-menu ui-widget ui-widget-content ui-corner-all" role="menu" aria-hidden="true" aria-expanded="false" style="display: none;">
         <li class="level1 nav-3-1 first ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/lighting/chandeliers.html" id="ui-id-64" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Chandeliers</span></a></li>
         <li class="level1 nav-3-2 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/lighting/children-s-lighting.html" id="ui-id-65" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Children's Lighting</span></a></li>
         <li class="level1 nav-3-3 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/lighting/contemporary-lighting.html" id="ui-id-66" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Contemporary Lighting</span></a></li>
         <li class="level1 nav-3-4 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/lighting/floor-lamps.html" id="ui-id-67" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Floor Lamps</span></a></li>
         <li class="level1 nav-3-5 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/lighting/outdoor-lighting.html" id="ui-id-68" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Outdoor Lighting</span></a></li>
         <li class="level1 nav-3-6 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/lighting/table-lamps.html" id="ui-id-69" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Table Lamps</span></a></li>
         <li class="level1 nav-3-7 last ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/lighting/wall-sconces.html" id="ui-id-70" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Wall Sconces</span></a></li>
      </ul>
   </li>
   <li class="level0 nav-4 level-top parent ui-menu-item" role="presentation">
      <a href="https://wellappointedhouse.com/bed-bath.html" class="level-top ui-corner-all" aria-haspopup="true" id="ui-id-5" tabindex="-1" role="menuitem"><span>Bed &amp; Bath</span></a><span></span>
      <ul class="level0 submenu ui-menu ui-widget ui-widget-content ui-corner-all" role="menu" aria-hidden="true" aria-expanded="false" style="display: none;">
         <li class="level1 nav-4-1 first ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/bed-bath/bath-robes.html" id="ui-id-71" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Bath Robes</span></a></li>
         <li class="level1 nav-4-2 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/bed-bath/bath-rugs.html" id="ui-id-72" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Bath Rugs</span></a></li>
         <li class="level1 nav-4-3 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/bed-bath/bath-towels-linens.html" id="ui-id-73" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Bath Towels &amp; Linens</span></a></li>
         <li class="level1 nav-4-4 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/bed-bath/bathroom-vanities.html" id="ui-id-74" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Bathroom Vanities</span></a></li>
         <li class="level1 nav-4-5 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/bed-bath/bathroom-vanity-accessories.html" id="ui-id-75" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Bathroom Vanity Accessories</span></a></li>
         <li class="level1 nav-4-6 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/bed-bath/bedding-ensembles.html" id="ui-id-76" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Bedding Ensembles</span></a></li>
         <li class="level1 nav-4-7 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/bed-bath/beds.html" id="ui-id-77" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Beds</span></a></li>
         <li class="level1 nav-4-8 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/bed-bath/blanket-throws.html" id="ui-id-78" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Blanket &amp; Throws</span></a></li>
         <li class="level1 nav-4-9 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/bed-bath/hampers.html" id="ui-id-79" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Hampers</span></a></li>
         <li class="level1 nav-4-10 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/bed-bath/linen-cabinets-racks.html" id="ui-id-80" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Linen Cabinets &amp; Racks</span></a></li>
         <li class="level1 nav-4-11 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/bed-bath/nightstands.html" id="ui-id-81" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Nightstands</span></a></li>
         <li class="level1 nav-4-12 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/bed-bath/shower-curtains.html" id="ui-id-82" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Shower Curtains</span></a></li>
         <li class="level1 nav-4-13 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/bed-bath/storage-boxes.html" id="ui-id-83" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Storage Boxes</span></a></li>
         <li class="level1 nav-4-14 last ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/bed-bath/wastebaskets.html" id="ui-id-84" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Wastebaskets</span></a></li>
      </ul>
   </li>
   <li class="level0 nav-5 level-top parent ui-menu-item" role="presentation">
      <a href="https://wellappointedhouse.com/patio-garden.html" class="level-top ui-corner-all" aria-haspopup="true" id="ui-id-6" tabindex="-1" role="menuitem"><span>Patio &amp; Garden</span></a><span></span>
      <ul class="level0 submenu ui-menu ui-widget ui-widget-content ui-corner-all" role="menu" aria-hidden="true" aria-expanded="false" style="display: none;">
         <li class="level1 nav-5-1 first ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/patio-garden/address-signs.html" id="ui-id-85" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Address Signs</span></a></li>
         <li class="level1 nav-5-2 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/patio-garden/birdhouses-birdfeeders.html" id="ui-id-86" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Birdhouses &amp; Birdfeeders</span></a></li>
         <li class="level1 nav-5-3 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/patio-garden/birdbaths.html" id="ui-id-87" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Birdbaths</span></a></li>
         <li class="level1 nav-5-4 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/patio-garden/boot-shoe-trays.html" id="ui-id-88" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Boot &amp; Shoe Trays</span></a></li>
         <li class="level1 nav-5-5 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/patio-garden/cupolas.html" id="ui-id-89" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Cupolas</span></a></li>
         <li class="level1 nav-5-6 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/patio-garden/door-mats.html" id="ui-id-90" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Door Mats</span></a></li>
         <li class="level1 nav-5-7 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/patio-garden/fire-pits.html" id="ui-id-91" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Fire Pits</span></a></li>
         <li class="level1 nav-5-8 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/patio-garden/garden-benches.html" id="ui-id-92" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Garden Benches</span></a></li>
         <li class="level1 nav-5-9 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/patio-garden/garden-gadgets.html" id="ui-id-93" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Garden Gadgets</span></a></li>
         <li class="level1 nav-5-10 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/patio-garden/garden-lanterns.html" id="ui-id-94" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Garden Lanterns</span></a></li>
         <li class="level1 nav-5-11 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/patio-garden/garden-statues.html" id="ui-id-95" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Garden Statues</span></a></li>
         <li class="level1 nav-5-12 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/patio-garden/kids-playhouses-treehouses-sandboxes.html" id="ui-id-96" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Kids Playhouses, Treehouses, Sandboxes</span></a></li>
         <li class="level1 nav-5-13 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/patio-garden/mailboxes.html" id="ui-id-97" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Mailboxes</span></a></li>
         <li class="level1 nav-5-14 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/patio-garden/patio-dining-sets.html" id="ui-id-98" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Patio Dining Sets</span></a></li>
         <li class="level1 nav-5-15 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/patio-garden/patio-furniture.html" id="ui-id-99" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Patio Furniture</span></a></li>
         <li class="level1 nav-5-16 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/patio-garden/picnic-baskets.html" id="ui-id-100" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Picnic Baskets &amp; Picnic Benches</span></a></li>
         <li class="level1 nav-5-17 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/patio-garden/rocking-chairs.html" id="ui-id-101" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Rocking Chairs</span></a></li>
         <li class="level1 nav-5-18 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/patio-garden/trellis-panels.html" id="ui-id-102" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Trellis Panels</span></a></li>
         <li class="level1 nav-5-19 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/patio-garden/urns-planters-statues.html" id="ui-id-103" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Garden Urns &amp; Planters</span></a></li>
         <li class="level1 nav-5-20 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/patio-garden/water-fountains.html" id="ui-id-104" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Water Fountains</span></a></li>
         <li class="level1 nav-5-21 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/patio-garden/weathervanes.html" id="ui-id-105" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Weathervanes</span></a></li>
         <li class="level1 nav-5-22 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/patio-garden/wicker-furniture.html" id="ui-id-106" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Wicker Furniture</span></a></li>
         <li class="level1 nav-5-23 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/patio-garden/window-boxes-garden-troughs.html" id="ui-id-107" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Window Boxes</span></a></li>
         <li class="level1 nav-5-24 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/patio-garden/wrought-iron-patio-furniture.html" id="ui-id-108" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Wrought Iron Patio Furniture</span></a></li>
         <li class="level1 nav-5-25 last ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/patio-garden/outdoor-patio-umbrellas.html" id="ui-id-109" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Outdoor Umbrellas</span></a></li>
      </ul>
   </li>
   <li class="level0 nav-6 level-top parent ui-menu-item" role="presentation">
      <a href="https://wellappointedhouse.com/children.html" class="level-top ui-corner-all" aria-haspopup="true" id="ui-id-7" tabindex="-1" role="menuitem"><span>Children</span></a><span></span>
      <ul class="level0 submenu ui-menu ui-widget ui-widget-content ui-corner-all" role="menu" aria-expanded="false" style="display: none; top: 323px; left: 749px;" aria-hidden="true">
         <li class="level1 nav-6-1 first ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/children/bassinets-cradles-moses-baskets.html" id="ui-id-110" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Baby Bassinets, Cradles &amp; Moses Baskets</span></a></li>
         <li class="level1 nav-6-2 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/children/cribs.html" id="ui-id-111" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Baby Cribs &amp; Changing Tables</span></a></li>
         <li class="level1 nav-6-3 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/children/baby-gifts-gift-baskets.html" id="ui-id-112" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Baby Gifts &amp; Gift Baskets</span></a></li>
         <li class="level1 nav-6-4 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/children/bedding-for-kids-preteens.html" id="ui-id-113" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Bedding for Kids &amp; Preteens</span></a></li>
         <li class="level1 nav-6-5 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/children/armoires-dressers.html" id="ui-id-114" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Children's Armoires, Dressers, &amp; Nightstands</span></a></li>
         <li class="level1 nav-6-6 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/children/beds-bunks-lofts-trundles.html" id="ui-id-115" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Children's Beds, Bunks, Lofts &amp; Trundles</span></a></li>
         <li class="level1 nav-6-7 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/children/children-bookcases-desks-cabinets.html" id="ui-id-116" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Children's Bookcases, Desks, &amp; Cabinets</span></a></li>
         <li class="level1 nav-6-8 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/children/child-sized-chairs-sofas-rockers.html" id="ui-id-117" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Children's Chairs and Rockers</span></a></li>
         <li class="level1 nav-6-9 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/children/clothing-for-babies-kids.html" id="ui-id-118" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Children's Clothing</span></a></li>
         <li class="level1 nav-6-10 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/children/mirrors.html" id="ui-id-119" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Children's Mirrors</span></a></li>
         <li class="level1 nav-6-11 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/children/lamps-lighting.html" id="ui-id-120" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Children's Lighting</span></a></li>
         <li class="level1 nav-6-12 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/children/outdoor-furniture-sandboxes-for-kids.html" id="ui-id-121" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Children's Outdoor Furniture &amp; Sandboxes</span></a></li>
         <li class="level1 nav-6-13 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/children/pillows.html" id="ui-id-122" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Children's Pillows</span></a></li>
         <li class="level1 nav-6-14 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/children/rugs.html" id="ui-id-123" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Children's Rugs</span></a></li>
         <li class="level1 nav-6-15 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/children/child-sized-table-chair-sets.html" id="ui-id-124" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Child Sized Table &amp; Chair Sets</span></a></li>
         <li class="level1 nav-6-16 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/children/all-children-s-wall-art.html" id="ui-id-125" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Children's Wall Art</span></a></li>
         <li class="level1 nav-6-17 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/children/baby-blankets-crib-bedding.html" id="ui-id-126" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Baby Blankets &amp; Crib Bedding</span></a></li>
         <li class="level1 nav-6-18 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/children/decorative-accessories-for-babies-kids.html" id="ui-id-127" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Decorative Accessories for Babies &amp; Kids</span></a></li>
         <li class="level1 nav-6-19 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/children/wastebaskets-tissue-boxes.html" id="ui-id-128" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Nursery Wastebaskets &amp; Tissue Boxes</span></a></li>
         <li class="level1 nav-6-20 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/children/personalized-items-for-children.html" id="ui-id-129" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Personalized Items for Children</span></a></li>
         <li class="level1 nav-6-21 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/children/toy-boxes.html" id="ui-id-130" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Toy Boxes</span></a></li>
         <li class="level1 nav-6-22 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/children/toys.html" id="ui-id-131" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Toys</span></a></li>
         <li class="level1 nav-6-23 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/children/pretend-play.html" id="ui-id-132" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Pretend Play</span></a></li>
         <li class="level1 nav-6-24 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/children/playhouses-tents-pavilions.html" id="ui-id-133" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Playhouses, Tents &amp; Treehouses</span></a></li>
         <li class="level1 nav-6-25 last ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/children/tween-teen-girls.html" id="ui-id-134" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Tween &amp; Teen Girls</span></a></li>
      </ul>
   </li>
   <li class="level0 nav-7 level-top parent ui-menu-item" role="presentation">
      <a href="https://wellappointedhouse.com/tabletop.html" class="level-top ui-corner-all" aria-haspopup="true" id="ui-id-8" tabindex="-1" role="menuitem"><span>Kitchen</span></a><span></span>
      <ul class="level0 submenu ui-menu ui-widget ui-widget-content ui-corner-all" role="menu" aria-hidden="true" aria-expanded="false" style="display: none;">
         <li class="level1 nav-7-1 first ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/tabletop/barware.html" id="ui-id-135" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Barware</span></a></li>
         <li class="level1 nav-7-2 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/tabletop/coasters.html" id="ui-id-136" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Coasters</span></a></li>
         <li class="level1 nav-7-3 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/tabletop/dinnerware-glassware.html" id="ui-id-137" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Glassware</span></a></li>
         <li class="level1 nav-7-4 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/tabletop/kitchen-goods-linens.html" id="ui-id-138" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Kitchen Goods &amp; Linens</span></a></li>
         <li class="level1 nav-7-5 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/tabletop/kitchen-mail-recipe-organization.html" id="ui-id-139" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Kitchen Mail &amp; Recipe Organization</span></a></li>
         <li class="level1 nav-7-6 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/tabletop/serving-pieces.html" id="ui-id-140" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Serving Pieces </span></a></li>
         <li class="level1 nav-7-7 last ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/tabletop/serving-trays.html" id="ui-id-141" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Serving Trays</span></a></li>
      </ul>
   </li>
   <li class="level0 nav-8 level-top parent ui-menu-item" role="presentation">
      <a href="https://wellappointedhouse.com/pets.html" class="level-top ui-corner-all" aria-haspopup="true" id="ui-id-9" tabindex="-1" role="menuitem"><span>Pets</span></a><span></span>
      <ul class="level0 submenu ui-menu ui-widget ui-widget-content ui-corner-all" role="menu" aria-hidden="true" aria-expanded="false" style="display: none;">
         <li class="level1 nav-8-1 first ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/pets/dog-beds.html" id="ui-id-142" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Dog Beds</span></a></li>
         <li class="level1 nav-8-2 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/pets/dog-bowls.html" id="ui-id-143" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Dog Bowls</span></a></li>
         <li class="level1 nav-8-3 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/pets/dog-car-gear.html" id="ui-id-144" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Dog Car Gear</span></a></li>
         <li class="level1 nav-8-4 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/pets/dog-houses.html" id="ui-id-145" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Dog Houses</span></a></li>
         <li class="level1 nav-8-5 last ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/pets/pet-related-home-decor.html" id="ui-id-146" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Pet Related Home Decor</span></a></li>
      </ul>
   </li>
   <li class="level0 nav-9 level-top parent ui-menu-item" role="presentation">
      <a href="https://wellappointedhouse.com/gifts.html" class="level-top ui-corner-all" aria-haspopup="true" id="ui-id-10" tabindex="-1" role="menuitem"><span>Gifts</span></a><span></span>
      <ul class="level0 submenu ui-menu ui-widget ui-widget-content ui-corner-all" role="menu" aria-hidden="true" aria-expanded="false" style="display: none;">
         <li class="level1 nav-9-1 first ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/gifts/gifts-for-kids.html" id="ui-id-147" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Gifts for Kids</span></a></li>
         <li class="level1 nav-9-2 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/gifts/baby-gifts.html" id="ui-id-148" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Baby Gifts</span></a></li>
         <li class="level1 nav-9-3 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/gifts/gifts-for-couples.html" id="ui-id-149" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Gifts for Couples</span></a></li>
         <li class="level1 nav-9-4 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/gifts/gifts-for-her.html" id="ui-id-150" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Gifts for Her</span></a></li>
         <li class="level1 nav-9-5 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/gifts/gifts-for-him.html" id="ui-id-151" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Gifts for Him</span></a></li>
         <li class="level1 nav-9-6 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/gifts/housewarming-gifts.html" id="ui-id-152" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Housewarming Gifts</span></a></li>
         <li class="level1 nav-9-7 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/gifts/jewelry.html" id="ui-id-153" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Jewelry</span></a></li>
         <li class="level1 nav-9-8 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/gifts/monogram-shop.html" id="ui-id-154" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Monogram Shop</span></a></li>
         <li class="level1 nav-9-9 ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/gifts/stationery.html" id="ui-id-155" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Stationery</span></a></li>
         <li class="level1 nav-9-10 last ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/gifts/coffee-table-books.html" id="ui-id-156" class="ui-corner-all" tabindex="-1" role="menuitem"><span>Books</span></a></li>
      </ul>
   </li>
   <li class="level0 nav-10 level-top ui-menu-item" role="presentation"><a href="https://wellappointedhouse.com/new.html" class="level-top ui-corner-all" id="ui-id-11" tabindex="-1" role="menuitem"><span>New</span></a></li>
   <li class="level0 nav-9 level-top ui-menu-item" role="presentation"><a href="http://blog.wellappointedhouse.com/" target="_blank" class="level-top ui-corner-all" id="ui-id-10" tabindex="-1" role="menuitem"><span>Blog</span></a></li>
</ul>
        </div>
 </div>


  </div>
  
  
</div>
<div class="header-container">
    <div class="header frame">
                <h1 class="logo"><strong>Well Appointed House</strong><a href="<?php echo $base_link ?>/" title="Well Appointed House">
                <img src="<?php echo $block->getViewFileUrl('images/logo.svg'); ?>" alt="Well Appointed House" width="362" height="139" /></a></h1>
                            </div>
</div>