
<footer>
<?php 
  	$base_link = (isset($_SERVER['HTTPS']) ? "https" : "http") . "://$_SERVER[HTTP_HOST]";
    ?>
<div class="footer-container">
	<div class="footer frame">
    
    	<div class="f-nav">

                        <div class="f-col">
<div class="f-title">Shop by category</div>
<ul class="f-col-nav">
<li><a href="<?php echo $base_link ?>/bed-bath.html">Bed &amp; Bath</a>
</li>
<li><a href="<?php echo $base_link ?>/decorative.html">Decorative</a>
</li>
<li><a href="<?php echo $base_link ?>/lighting.html">Lighting</a>
</li>
<li><a href="<?php echo $base_link ?>/patio-garden.html">Patio &amp; Garden</a>
</li>
<li><a href="<?php echo $base_link ?>/children.html">Children's Shop</a>
</li>
<li><a href="<?php echo $base_link ?>/pets.html">Pets</a>
</li>
<li><a href="<?php echo $base_link ?>/gifts.html">Gifts</a>
</li>
<li><a href="<?php echo $base_link ?>/furniture.html">Furniture</a>
</li>
<li><a href="<?php echo $base_link ?>/new.html">New Items</a>
</li>
<li><a href="<?php echo $base_link ?>/decorative/holiday.html">Holiday</a>
</li>
<li><a href="<?php echo $base_link ?>/bargain-basement.html">Bargain Basement</a>
</li>
<li><span class="widget widget-category-link"><a href="<?php echo $base_link ?>/31-east-elm-street-greenwich.html"><span>Quick Ship Items</span></a></span>
</li>
</ul>
</div>
<div class="f-col">
<div class="f-title">About us</div>
<ul>
<li><a href="<?php echo $base_link ?>/about-us">About</a></li>
<li><a href="<?php echo $base_link ?>/featuredpress">As Seen In</a></li>
<li><a href="<?php echo $base_link ?>/terms-conditions">Terms &amp; Conditions</a></li>
<li><a href="<?php echo $base_link ?>/privacy-policy">Privacy Policy</a></li>
<li><a href="<?php echo $base_link ?>/edesign-services">eDesign Services&nbsp;</a></li>
<li><a href="<?php echo $base_link ?>/jobs.html">Employment</a></li>
</ul>
</div>
<div class="f-col">
<div class="f-title">Customer Service</div>
<ul>
<li><a href="<?php echo $base_link ?>/customer-service">Customer Service</a></li>
<li><a href="<?php echo $base_link ?>/order-tracking">Order Tracking</a></li>
<li><a href="<?php echo $base_link ?>/faqs.html">FAQ</a></li>
<li><a href="<?php echo $base_link ?>/contact-us">Contact Us</a></li>
<li><a href="<?php echo $base_link ?>/media-requests">Media Requests</a></li>
<li><a href="<?php echo $base_link ?>/join-our-affiliate-program">Join our Affiliate Program</a></li>
<li><a href="<?php echo $base_link ?>/to-the-trade">To the Trade</a></li>
<li><a href="<?php echo $base_link ?>/damage-claim" title="Damage Claim">Damage Claim</a></li>
</ul>
</div>
        </div>
    
        <div class="f-side">
        	<div class="f-subscribe">
                <div class="f-title">Join us for special savings</div>
                <p>Be the first to know about new products, sales and exclusive offers!</p>
                <style>
    .f-subscribe button.button {
        right: -5px!important;
        margin: 4px 0px!important;
    }
   footer #newsletter1 {
        padding: 12px 35px 12px 10px!important;
        box-sizing: border-box;
        width: 100%;
}
.banner-container {
		max-width: 1400px!important;
	}
div#search_form form .form-search button.button {
    top: 0;
    right: 0!important;
    margin: 0 0 !important;
}
</style>
<div class="subscribe-form">
     
         <?php  echo $this->getLayout()->createBlock("Magento\Newsletter\Block\Subscribe")->setTemplate("Magento_Newsletter::subscribe.phtml")->toHtml(); ?>
    

    





</div>
            </div>
            <div class="f-social" style="
    float: none;
    height:  auto;
">
                <div class="f-title">Follow us on:</div>
                <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_links_block')->toHtml();?>

                    
               <!--  <div class="f-social">
<ul>

</ul>
</div> -->
             </div>

                <!-- (c) 2005, 2018. Authorize.Net is a registered trademark of CyberSource Corporation --> <div class="AuthorizeNetSeal"> <script type="text/javascript" language="javascript">var ANS_customer_id="bb9c98fe-b9a1-4405-bd11-05d42ec1bba7";</script> <script type="text/javascript" language="javascript" src="https://verify.authorize.net:443/anetseal/seal.js" ></script> </div>
                    
        </div>
    
            </div>
</div>

<div class="copy frame">
    <p><span>Copyright 2001-<?php echo date('Y');?></span>
<span>The Well Appointed House, LLC and</span>
<span>The Well Appointed Home. Luxuries for the Home.</span>
<span>All rights reserved.</span>
<span>Need Assistance? Call 1-888-WELL-APP</span></p>
</div>

</footer>
<div class="scroll_top"><span id="back2Top" title="Back to top"></span></div>