<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<div data-bind="scope: 'messages'">
    <div data-bind="foreach: { data: messages().messages, as: 'message' },attr:{class:((messages().messages && messages().messages.length > 0)?'messages block __caution mB30':'')}" class="">
    <p class="caution_text" data-bind="html: message.text, visible:message.text!='One or more input exceptions have occurred.'"></p>
</div>
</div>

<script>
    require(['jquery', 'jquery/jquery-storageapi'], function($) {
        var storage = $.initNamespaceStorage('mage-cache-storage').localStorage;
        storage.remove('messages');
    });
</script>