<div class="faq-category">
    <h2 class="faqcat-title first-title"><i></i>
    <img src="<?php echo !empty($this->getFaqCategoryIcon()) ? $this->getFaqCategoryIcon() : $block->getViewFileUrl('PHPCuong_Faq::images/faq81x81.png'); ?>"/><?php echo $this->getFaqCategoryTitle(); ?> - <?php echo __('FAQ');?></h2>
    <?php if ($this->getFaqsList()): ?>
        <ol class="items faqs-list">
            <?php foreach($this->getFaqsList() as $faq): ?>
                <li class="item" id="faq-id-<?php echo $faq['faq_id']; ?>">
                    <a href="<?php echo $this->getFaqFullPath($faq['identifier']); ?>">
                        <span class="faq-iconplus"></span><?php echo $faq['title']; ?>
                    </a>
                    <div class="description" id="description">
                        <?php echo $block->filterProvider($faq['content']); ?>
                    </div>
                    <div class="read-more"><?php echo __('Read more'); ?></div>
                </li>
            <?php endforeach; ?>
        </ol>
    <?php else: ?>
        <ol class="items faqs-list">
            <li class="item no-question">
                <a href="#"><?php echo __('There are no FAQs was found.'); ?></a>
            </li>
        </ol>
    <?php endif; ?>
</div>



<script>

require([
  'jquery'
], function ($) {
  "use strict";

  $(document).ready(function () {
    $('.faq-category').find('ol').find('li').first().addClass('active');
    $('.faqs-list .item > a').on('click', function () {
      if ($(this).parent().children('.description').css('display') !== 'none') {
        $(this).parents('.faq-category').find('ol li').removeClass('active');
        $(this).parents('li').addClass('active');
      } else {
        $(this).parents('.faq-category').find('ol li').removeClass('active');
        $(this).parents('li').removeClass('active');
      }
      return false;
    });
    $('.faq-category').find('ol li .read-more').click(function() {
      window.location.href = $(this).parent().find('a').attr('href');
    });
  });
});

</script>