<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Category left navigation
 *
 * @var $block \Magento\Catalog\Block\Navigation
 */
?>
<?php if (!$block->getCategory()) {
    return;
} ?>
<?php $_categories = $block->getCurrentChildCategories(); ?>
<?php $_count = is_array($_categories) ? count($_categories) : $_categories->count(); ?>
<?php if($_count): ?>
<div class="block block-layered-nav">
    <div class="block-title">
        <strong><span><?php echo $this->__('Browse By') ?></span></strong>
    </div>
    <div class="block-content">
        <div class="sidebar-title"><?php /*echo $this->__('Category')*/ ?><?php echo ( is_object(Mage::registry('current_category')) ) ? Mage::registry('current_category')->getName() : $this->__('') ?></div>
        <ul class="content-sidebar-menu category-links">
            <?php foreach ($_categories as $_category):  ?>
                <?php if($_category->getIsActive() && ($_category->getParentId() == $current_category_id)): ?>
                    <li>
                        <a href="<?php echo $this->getCategoryUrl($_category) ?>"<?php if ($this->isCategoryActive($_category)): ?> class="current"<?php endif; ?>><?php echo $this->escapeHtml($_category->getName()) ?></a>
                    </li>
                <?php endif; ?>
            <?php endforeach ?>
        </ul>
        <dl id="narrow-by-list2"></dl>
        <script type="text/javascript">decorateDataList('narrow-by-list2')</script>
    </div>
</div>
<?php endif; ?>
