/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; min-height:250px; width:auto !important; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;}
#colorbox{outline:0; background:#fff; box-shadow: 2px 2px 2px #868686; }
    #cboxTopLeft{width:29px; height:30px;}
    #cboxTopCenter{height:30px;}
    #cboxTopRight{width:29px; height:30px;}
    #cboxBottomLeft{width:29px; height:90px;}
    #cboxBottomCenter{height:90px;}
    #cboxBottomRight{width:29px; height:90px;}
    #cboxMiddleLeft{width:29px;}
    #cboxMiddleRight{width:29px;}
    #cboxContent{background:#fff; /*overflow:hidden;*/ }
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{ }
        #cboxTitle{padding:10px 60px 0 0; line-height:20px; height:62px; overflow:hidden; color: #444; }
        #cboxTitle .title{display:block; font:normal 15px/22px Georgia, "Times New Roman", Times, serif;}
        #cboxCurrent{position:absolute; bottom:0px; left:100px; color:#999; display:none !important; }
        #cboxLoadingOverlay{background:#fff url(../images/loading.gif) no-repeat 5px 5px;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; text-indent:-5000px; overflow:hidden; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxSlideshow{position:absolute; bottom:0px; right:42px; color:#444;}
        #cboxPrevious{position:absolute; bottom:-60px; right:36px; width:13px; height:27px; background:url(../images/sprite.png) -92px -253px no-repeat;}
        #cboxNext{position:absolute; bottom:-60px; right:0; width:13px; height:27px; background:url(../images/sprite.png) -121px -253px no-repeat;}
        #cboxPrevious:hover{background-position:-92px -290px;}
        #cboxNext:hover{background-position:-121px -290px;}
        #cboxClose{position:absolute; top:-20px; right:-22px; display:block; width:17px; height: 17px;  background:url(../images/sprite.png) -206px -116px no-repeat;}
        #cboxClose:hover{background-position:-206px -146px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}


.product-popup #cboxBottomLeft,
.product-popup #cboxBottomCenter,
.product-popup #cboxBottomRight{
    height: 30px;
}
.product-popup .description{
    display: none;
}