.cart .totals td .price {
    color: #385e80;
    font: bold 15px "proxima-nova", Arial, Helvetica, sans-serif;
}

button, .cart.table-wrapper .actions-toolbar > .action, .action-gift {
font-family: "proxima-nova";}

.opc-progress-bar-item._active:before {
        background: #e3828c;
}

.opc-progress-bar-item._active > span:before {
	    background: #e3828c;
	}