.blue-popup #bfm_newsletter_popup {
    background: url(../images/bg-sign-up-popup-new.png) no-repeat 50% 0!important;
    width: 100%!important;
    height: 452px;
    box-sizing: border-box;
    padding: 100px 60px 0!important;
    text-align: center;
}
