@media only screen and (min-width: 1300px) {
.navigation.custom .level0>.level-top {
	padding: 0 14px!important;
}
}
@media only screen and (min-width: 850px) and (max-width: 1100px){
.nav-sections {
    -webkit-flex-shrink: unset!important;
    flex-shrink: unset!important;
    -webkit-flex-basis: unset!important;
    flex-basis: unset!important;
}
/* 31-08 */
.navigation .level0 {
    padding: 0;
}
.navigation .level0>.level-top {
    line-height: 43px;
}
.category-description h2 {
    font-size: 28px;
    line-height: 32px;
}
.category-description h3 {
    font-size: 38px;
    line-height: 42px;
}
.category-description p {
    font-size: 14px;
    line-height: 20px;
}

}
@media only screen and (max-width: 1100px) {
.products-grid {
    margin-left: 0!important;
}
.navigation.custom .level0>.level-top {
    padding: 0 5px!important;
    font-size: 12px;
}
.sidebar.col-left {
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 600px;
}

/* myaccount sidebar main */
.page-layout-accountpages .page.messages+div {
    display: flex;
    flex-direction: column-reverse;
}
.page-layout-accountpages .sidebar.col-left .sidebar-title {
    display: block;
}

.featuredpress-index-index .main-container.col2-left-layout.main.frame .note-search.clearfix+div {
    display: flex;
    flex-direction: column-reverse;
}
.featuredpress-index-index .sidebar.col-left .sidebar-title {
    /* display: none; */
}
.featuredpress-index-index .col-main.simple-content {
    margin-bottom: 50px;
}
.faq-faq-view .main-container.col2-left-layout.main.frame .note-search.clearfix+div {
    display: flex;
    flex-direction: column-reverse;
}
.faq-faq-view .sidebar.col-left .sidebar-title {
    /* display: none; */
}
/* category page */
.products-grid li.item {
    float: none;
    display: inline-block;
    position: relative;
    vertical-align: top;
}
/* recommend friend */
.sendfriend-product-send .col2-left-layout {
    display: flex;
    flex-direction: column-reverse;
}
.sendfriend-product-send .col2-left-layout .col-main {
    margin-bottom: 50px;
}
form.form.send.friend.refer_friend {
    max-width: 100%;
}
/* view-order */
.order-actions-toolbar .action.print {
    display: inline-block;
    float: none;
    margin: 0 0 0 10px;
    vertical-align: middle;
}
body.account.sales-order-view.page-layout-accountpages .col-main {
    max-width: 730px;
    margin: 0 auto;
}
.title_myaccount_container .page-title-wrapper {
    width: 29%;
}
.title_myaccount_container .order_view_status {
    width: 70%;
}

.myorder_shipping_data h2 {
    font-size: 13px;
    font-weight: bold;
}
.myorder_billing_data h2 {
    font-size: 13px;
    font-weight: bold;
}

body.account.customer-address-index .col-main {
    width: 730px;
    margin: 0 auto;
}
form.form-address-edit.address_book_editform {
    display: block;
    position: relative;
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
}
.cms-contact-us .col2-left-layout .col-main {
    margin-bottom: 40px;
}

.my-wishlist.custom_wishlist_design ol li.product-item .price-box.price-configured_price {
    text-align: left;
}
.page-title.title-buttons+.order-products-toolbar.toolbar.bottom {
    margin-bottom: 35px;
}
/* 21-08 */
.main.frame {
    min-height: unset!important;
}
/* 31-08 */

.bottom_toolbar .pages {
    font: normal 12px/22px 'Open Sans', Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.bottom_toolbar .pages strong {
    font: normal 12px/22px 'Open Sans', Arial, Helvetica, sans-serif;
}

.bottom_toolbar .pages li.item {
    text-align: center;
}

.bottom_toolbar .pages li.item a {
    text-align: center;
	
}
.pages ul li.item.pages-item-previous {
    padding: 0 4px!important;
}
.bottom_toolbar .pages li.item a.previous {
    text-align: center;
	width: 20px;
}

.bottom_toolbar .pages li .action.previous:before {
    font-size:28px;
    line-height: inherit;
    text-align: center;
    width: 20px;
}
.bottom_toolbar .pages li.item a.next {
    text-align: center;
	width: 20px;
}

.bottom_toolbar .pages li .action.next:before {
    font-size:28px;
    line-height: inherit;
    text-align: center;
    width: 20px;
}
.pages ul li.item {
    padding: 0px 5px!important;
    line-height: 24px;
}

}
@media only screen and (max-width: 850px) {
.home-featured .js-carousel {
	padding-left: 0;
	padding-right: 0;
}
.account .page-main, .cms-privacy-policy .page-main {
    padding-top: 0;
    position: relative;
}

/* cart page ipad view ipad*/
.cart.table-wrapper table.cart.items.data.table.cart-table.data-table tr {
    padding-bottom: 30px!important;
    margin-bottom: 30px!important;
    display: table;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}
.cart.table-wrapper table.cart.items.data.table.cart-table.data-table tr td.cart-item-name {
    padding-left: 180px!important;
}
.cart.table-wrapper table.cart.items.data.table.cart-table.data-table tr td.a-center.cart-item-edit {
    padding-left: 180px!important;
}
.cart.table-wrapper table.cart.items.data.table.cart-table.data-table tr td.a-center.cart-item-wishlist {
    padding-left: 180px!Important;
    text-align: left!important;
}
.cart.table-wrapper table.cart.items.data.table.cart-table.data-table tr td.a-center.cart-item-wishlist span.cart-item-label-sm {
    display: none;
}
.cart.table-wrapper table.cart.items.data.table.cart-table.data-table tr td.a-center.cart-item-price {
    padding-left: 180px!important;
}
.cart.table-wrapper table.cart.items.data.table.cart-table.data-table tr td.a-center.cart-item-quantity {
    padding-left: 180px!important;
}
.cart.table-wrapper table.cart.items.data.table.cart-table.data-table tr td.a-center.cart-item-subtotal {
    padding-left: 180px!important;
}
.cart.table-wrapper table.cart.items.data.table.cart-table.data-table tr td.a-center.cart-item-remove {
    padding-left: 180px!important;
}
.cart.table-wrapper table.cart.items.data.table.cart-table.data-table tr td.a-center.cart-item-gift {
    padding-left: 180px!important;
}
.cart .cart-collaterals .col2-set {
    margin: 0!important;
}
.cart .cart-collaterals .col2-set .col-1 {
    float: none;
    display: block;
    margin: 0 auto;
}
.cart .cart-collaterals .col2-set .col-2 {
    float: none;
    display: block;
    margin: 40px auto;
}
.cart .cart-collaterals .cart-summary {
    float: none!important;
    width: 50%!important;
    margin: 0 auto;
}
.cart .gift_message {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.top-row .top-frame {
    box-sizing: border-box;
}
/* cat banner */
.category-image {
    width: 100%;
    left: 0;
}
.page-layout-productpage .banner-wrapper .category-image+.category-description {
    width: 100%;
    right: 0;
    padding: 80px 0;
}
.product-info-price .product-reviews-summary.empty {
    margin-bottom: 20px;
}
.product-info-main .price-box {
    margin-bottom: 20px!important;
}
/* dashboard */
table.data-table.data.table.table-order-items.recent tr {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
    margin: 0 0 10px 0;
}
.table-wrapper .table:not(.cart):not(.totals):not(.table-comparison) > tbody > tr td:before, .table-wrapper .table:not(.cart):not(.totals):not(.table-comparison) > tbody > tr th:before {
    padding-right: 10px;
    content: attr(data-th) ' ';
    display: block;
    color: #111111;
    font-weight: 700;
    margin-bottom: 3px;
    font: normal 15px 'Cormorant Garamond',Georgia, "Times New Roman", Times, serif;
    text-transform: uppercase;
}
.order-details-items.ordered .table:not(.cart):not(.totals) > thead > tr > th, .table:not(.cart):not(.totals) > tbody > tr > th, .table:not(.cart):not(.totals) > tfoot > tr > th, .table:not(.cart):not(.totals) > thead > tr > td, .table:not(.cart):not(.totals) > tbody > tr > td, .table:not(.cart):not(.totals) > tfoot > tr > td {
    border: none!important;
}
td.col.actions.a-center.last::before{
	display:none!important;
}

body.account.sales-order-view.page-layout-accountpages .col-main {
    max-width: 100%;
    margin: 0;
}
.table-wrapper.order-items table.data.table.table-order-items tbody tr td.price, 
.table-wrapper.order-items table.data.table.table-order-items tbody tr td.qty, 
.table-wrapper.order-items table.data.table.table-order-items tbody tr td.subtotal {
    text-align: right!important;
}
.table-wrapper.order-items table.data.table.table-order-items tbody tr td.price::before, 
.table-wrapper.order-items table.data.table.table-order-items tbody tr td.qty::before, 
.table-wrapper.order-items table.data.table.table-order-items tbody tr td.subtotal::before{
    padding-right:0!important;
}
table#my-orders-table {
    margin: 20px auto auto auto;
}
.table-wrapper.order-items table.data.table.table-order-items tbody tr {
    padding: 10px;
    box-sizing: border-box;
}
.title_myaccount_container .order-date {
    width: 100%;
}
.title_myaccount_container .actions-toolbar.order-actions-toolbar {
    width: 100%;
    float: none;
    margin: 10px 0!important;
}
.title_myaccount_container .actions-toolbar.order-actions-toolbar a.action.print {
    float: none;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
/* 13-08 */
body.account.review-customer-index .table:not(.cart):not(.totals) > tbody > tr > td {
    border: 1px solid #e7e7e7!important;
}

body.account.review-customer-index .table:not(.cart):not(.totals) > tbody > tr {
    margin-bottom: 20px!important;
}
.breadcrumbs .item:not(:last-child):after {
    font-size: 15px;
    line-height: 10px;
    content: '>'!important;
    font-family: 'icons-blank-theme';
    margin: 0;
    background-image: none;
    width: 12px;
    height: 15px;
    background-position: center;
}
button.owl-prev {
    top: 25%;
    left: -10px;
}
button.owl-next {
    top: 25%;
    right: -10px;
}
.home-row-container .home-department-row .home-department-col {
    width: 49%;
    display: inline-block;
    box-sizing: border-box;
}
/* 20-08 */
form.form.create.account.form-create-account .fieldset {
    width: 100%;
}
form.form.create.account.form-create-account .fieldset fieldset.fieldset.create.info {
    margin-bottom: 20px;
}
.footer.frame .f-nav .f-col {
    margin-left: 25px;
}
.footer.frame .f-nav .f-col:first-child {
    margin-left: 0;
}
}
@media only screen and (max-width: 650px) {
	.title-img-txt {
		position: absolute!important;
		bottom: 0;
		width: 100%;
		border-bottom: none!important;
	}
	.title-img-txt .page-title {
		background: rgba(255, 255, 255, 0.8);
	}
/* edesign form mobile	 */
.cms-edesign-services .webforms {
	padding-left: 0;
	padding-right: 0px;
}
fieldset.fieldset.fieldset-3.personal-edesign>.field {
    width: 98%;
}
fieldset.fieldset.fieldset-5.company-edesign>.field {
    width: 98%;
}
.cms-edesign-services .actions-toolbar .primary {
    text-align: left!important;
}
.cms-edesign-services .actions-toolbar button.action.submit.primary {
    display: inline-block!Important;
    width: auto!important;
}
.cms-edesign-services .actions-toolbar button.action.submit.primary span{
   position:relative!important;
}
p.req_fileds_label {
    width: calc(100% - 45px);
    padding-left: 25px;
    display: inline-block;
}

/* contact us mobile */

.cms-contact-us .actions-toolbar {
    display: inline-block!important;
}
.cms-contact-us .actions-toolbar .primary {
    text-align: left!important;
}
.cms-contact-us .actions-toolbar button.action.submit.primary {
    display: inline-block!Important;
    width: auto!important;
}
.cms-contact-us .actions-toolbar button.action.submit.primary span{
    position: relative!important;
    padding: 0px 23px;
    display: block;
    border: none;
    font: normal 13px "proxima-nova", Arial, Helvetica, sans-serif;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    text-transform: uppercase;
}
.cms-contact-us p.required {
    margin: 10px 0 30px 0!important;
}
/* to the trade */
.cms-to-the-trade .actions-toolbar {
    display: inline-block!important;
}
.cms-to-the-trade .actions-toolbar .primary {
    text-align: left!important;
}
.cms-to-the-trade .actions-toolbar button.action.submit.primary {
    display: inline-block!Important;
    width: auto!important;
}
.cms-to-the-trade .actions-toolbar button.action.submit.primary span{
    position: relative!important;
    padding: 0px 23px;
    display: block;
    border: none;
    font: normal 13px "proxima-nova", Arial, Helvetica, sans-serif;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    text-transform: uppercase;
}
.cms-to-the-trade p.required {
    margin: 10px 0 30px 0!important;
}
.cms-to-the-trade .fieldset > .field, .cms-to-the-trade .fieldset > .fields > .field {
    margin: 0 0 10px;
}
.cms-to-the-trade .form_tothe_trade{
	margin:0 0 20px 0!important;
}
.cms-to-the-trade .form_tothe_trade:last-child{
	margin:0 0 0px 0!important;
}
/* demage claim */
.cms-damage-claim .field.type-text .control input {
    width: 100%!important;
    box-sizing: border-box;
}
.cms-damage-claim .field.type-email .control input {
    width: 100%!important;
    box-sizing: border-box;
}
.cms-damage-claim .field.type-number .control input {
    width: 100%!important;
    box-sizing: border-box;
}
.cms-damage-claim .field.type-date .control input {
    width: 100%!important;
    box-sizing: border-box;
}
.cms-damage-claim .field.type-date .webforms-calendar {
    float: none!important;
}
.cms-damage-claim .fieldset > .field .choice input, .cms-damage-claim .fieldset > .fields > .field .choice input {
    vertical-align: middle!Important;
}
.cms-damage-claim input[type="radio"] {
    margin: 0 5px 0 0!important;
}
.cms-damage-claim .actions-toolbar {
    display: inline-block!important;
}
.cms-damage-claim .actions-toolbar .primary {
    text-align: left!important;
}
.cms-damage-claim .actions-toolbar button.action.submit.primary {
    display: inline-block!Important;
    width: auto!important;
}
.cms-damage-claim .actions-toolbar button.action.submit.primary span{
    position: relative!important;
    padding: 0px 23px;
    display: block;
    border: none;
    font: normal 13px "proxima-nova", Arial, Helvetica, sans-serif;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    text-transform: uppercase;
}
.cms-damage-claim .actions-toolbar button.action.submit.primary span::before{
	content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: -5px;
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png) -279px 0 no-repeat;
}
.cms-damage-claim .actions-toolbar button.action.submit.primary span::after{
	content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -5px;
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png) -279px 0 no-repeat;
}
.cms-damage-claim p.required {
    margin: 10px 0 30px 0!important;
}
/* 06-08 */
.category-image {
    width: 100%!important;
    left: 0!important;
}
.page-layout-productpage .banner-wrapper .category-image+.category-description {
    width: 100%!important;
    right: 0!important;
	    padding: 60px 30px;
    box-sizing: border-box;
}
.products-grid li.item a.product-image img {
    max-width: 100%!important;
}

/* sub cat */
.page-with-filter.catalog-category-view .top_toolbar {
    display: flex;
    position: relative;
    width: 100%;
	    margin-bottom: 30px;
}

.page-with-filter.catalog-category-view .toolbar-top.custom-toolbar-top {
    display: block;
    position: relative;
    padding: 0;
}

.page-with-filter.catalog-category-view .sorter-limiter {}

.page-with-filter.catalog-category-view .sorter-limiter {
    display: block;
    position: relative;
    width: 100%;
}

.page-with-filter.catalog-category-view .view-mode {
    display: none!important;
    position: relative;
    width: 100%;
}

.page-with-filter.catalog-category-view .sorter-limiter .sorter {
    display: block;
    position: relative;
    width: 100%;
    text-align: left;
}

.page-with-filter.catalog-category-view .sorter-limiter .limiter {
    display: block!important;
    width: 100%;
    position: relative;
    margin: 10px auto;
    text-align: left;
}

.page-with-filter.catalog-category-view .sorter-limiter .limiter label {
    display: inline-block;
}

.page-with-filter.catalog-category-view .sorter-limiter .limiter .control {
    display: inline-block;
}

.page-with-filter.catalog-category-view .sorter-limiter .sorter .sort-by {
    float: none;
    padding: 0;
}

.page-with-filter.catalog-category-view .products.grid.products-grid {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
}

.products.grid.products-grid ol.products.list.items.product-items li.item {
    width: 100%!important;
	max-width: 100%!Important;
}
/* search page */

body.page-products.catalogsearch-result-index.page-layout-searchpage .top_toolbar {
    display: flex;
    position: relative;
    width: 100%;
	    margin-bottom: 30px;
}

body.page-products.catalogsearch-result-index.page-layout-searchpage .toolbar-top.custom-toolbar-top {
    display: block;
    position: relative;
    padding: 0;
}

body.page-products.catalogsearch-result-index.page-layout-searchpage .sorter-limiter {}

body.page-products.catalogsearch-result-index.page-layout-searchpage .sorter-limiter {
    display: block;
    position: relative;
    width: 100%;
}

body.page-products.catalogsearch-result-index.page-layout-searchpage .view-mode {
    display: none!important;
    position: relative;
    width: 100%;
}

body.page-products.catalogsearch-result-index.page-layout-searchpage .sorter-limiter .sorter {
    display: block;
    position: relative;
    width: 100%;
    text-align: left;
}

body.page-products.catalogsearch-result-index.page-layout-searchpage .sorter-limiter .limiter {
    display: block!important;
    width: 100%;
    position: relative;
    margin: 10px auto;
    text-align: left;
}

body.page-products.catalogsearch-result-index.page-layout-searchpage .sorter-limiter .limiter label {
    display: inline-block;
}

body.page-products.catalogsearch-result-index.page-layout-searchpage .sorter-limiter .limiter .control {
    display: inline-block;
}

body.page-products.catalogsearch-result-index.page-layout-searchpage .sorter-limiter .sorter .sort-by {
    float: none;
    padding: 0;
}

body.page-products.catalogsearch-result-index.page-layout-searchpage .products.grid.products-grid {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
}
/* search page */
/* quick ship */
body.page-products.categorypath-hidden-well-appointed-house-sidewalk-sale-2016.category-well-appointed-house-sidewalk-sale-2016.catalog-category-view.page-layout-productpage .top_toolbar {
    display: flex;
    position: relative;
    width: 100%;
}

body.page-products.categorypath-hidden-well-appointed-house-sidewalk-sale-2016.category-well-appointed-house-sidewalk-sale-2016.catalog-category-view.page-layout-productpage .toolbar-top.custom-toolbar-top {
    display: block;
    position: relative;
    padding: 0;
}

body.page-products.categorypath-hidden-well-appointed-house-sidewalk-sale-2016.category-well-appointed-house-sidewalk-sale-2016.catalog-category-view.page-layout-productpage .sorter-limiter {}

body.page-products.categorypath-hidden-well-appointed-house-sidewalk-sale-2016.category-well-appointed-house-sidewalk-sale-2016.catalog-category-view.page-layout-productpage .sorter-limiter {
    display: block;
    position: relative;
    width: 100%;
}

body.page-products.categorypath-hidden-well-appointed-house-sidewalk-sale-2016.category-well-appointed-house-sidewalk-sale-2016.catalog-category-view.page-layout-productpage .view-mode {
    display: block!important;
    position: relative;
    width: 100%;
}

body.page-products.categorypath-hidden-well-appointed-house-sidewalk-sale-2016.category-well-appointed-house-sidewalk-sale-2016.catalog-category-view.page-layout-productpage .sorter-limiter .sorter {
    display: block;
    position: relative;
    width: 100%;
    text-align: left;
}

body.page-products.categorypath-hidden-well-appointed-house-sidewalk-sale-2016.category-well-appointed-house-sidewalk-sale-2016.catalog-category-view.page-layout-productpage .sorter-limiter .limiter {
    display: block!important;
    width: 100%;
    position: relative;
    margin: 10px auto;
    text-align: left;
}

body.page-products.categorypath-hidden-well-appointed-house-sidewalk-sale-2016.category-well-appointed-house-sidewalk-sale-2016.catalog-category-view.page-layout-productpage .sorter-limiter .limiter label {
    display: inline-block;
}

body.page-products.categorypath-hidden-well-appointed-house-sidewalk-sale-2016.category-well-appointed-house-sidewalk-sale-2016.catalog-category-view.page-layout-productpage .sorter-limiter .limiter .control {
    display: inline-block;
}

body.page-products.categorypath-hidden-well-appointed-house-sidewalk-sale-2016.category-well-appointed-house-sidewalk-sale-2016.catalog-category-view.page-layout-productpage .sorter-limiter .sorter .sort-by {
    float: none;
    padding: 0;
}

body.page-products.categorypath-hidden-well-appointed-house-sidewalk-sale-2016.category-well-appointed-house-sidewalk-sale-2016.catalog-category-view.page-layout-productpage .products.grid.products-grid {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
}
/* quickship top search end */

/* header search */
.mobile-nav span.ui-menu-icon.ui-icon.ui-icon-carat-1-e {
    display: none;
}
.block-search {
    float: right;
}
.field.search label.label {
    display: none;
}
.block-search .field.search .control {
    border-top: none;
}
.block-search .field.search input {
    margin: 0;
    position: static;
}

.bx-pager.bx-default-pager {
    display: none;
}
/* register page */
form.form.create.account.form-create-account .fieldset {
    width: 100%;
}
ul.form-list > .fields.name_cust fieldset.fieldset.fieldset-fullname .fields .field {
    width: calc(100%);
    margin: 0 0 10px 0;
}
form.form.create.account.form-create-account fieldset.fieldset.create.account li.fields .control {
    margin: 3px 0 10px 0;
}
body.customer-account-create.page-layout-1column .actions-toolbar > .primary .action, body.customer-account-create.page-layout-1column .actions-toolbar > .secondary .action {
    width: auto;
}

/* poduct option */
.product-info-main.product-shop .product-options-wrapper label.label {
    width: 100%!important;
    text-align: left!important;
    margin: 0 0 5px 0!important;
}
.product-info-main.product-shop .product-options-wrapper .control {
    width: 80%!important;
}
/* ineqiry popup */
aside.modal-popup.prod_inner_enquiry_popup.modal-slide._inner-scroll._show {
    left: 0;
}
aside.modal-popup.prod_inner_enquiry_popup.modal-slide._inner-scroll._show .modal-inner-wrap .modal-header button.action-close {
    top: 3px;
    right: 3px;
}
aside.modal-popup.prod_inner_enquiry_popup.modal-slide._inner-scroll._show .modal-inner-wrap {
    max-width: 90%!important;
    top: 20px!important;
    margin: 0 auto;
}
aside.modal-popup.prod_inner_enquiry_popup.modal-slide._inner-scroll._show .modal-inner-wrap .modal-content {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.home-featured .js-carousel .carousel-element.item.last {
    margin: 0!important;
}

/* wishlist */
.my-wishlist.custom_wishlist_design ol.product-items li.product-item {
    box-sizing: border-box;
    box-shadow: inset 0 0 1px 1px #cacaca;
    padding: 10px;
}
.wishlist-index-index .product-item-info {
    flex-direction: column;
}
.my-wishlist.custom_wishlist_design ol li.product-item a.product-item-photo {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-right: none;
    margin: 0;
}
.my-wishlist.custom_wishlist_design ol li.product-item .wishlist_product_detail {
    width: 100%;
    padding: 10px;
    border-right: none;
    border-left: none;
}
.my-wishlist.custom_wishlist_design ol li.product-item .product-item-inner {
    width: 100%;
    padding: 10px;
}
.my-wishlist.custom_wishlist_design ol li.product-item .price-box.price-configured_price {
    margin: 0;
}
.my-wishlist.custom_wishlist_design ol li.product-item .product-item-inner .box-tocart {
    margin: 0;
}
.wishlist_button_back .primary button.action.update {
    width: auto;
    margin-bottom: 10px!important;
}
.wishlist_button_back .primary button.action.share {
    width: auto;
    margin-bottom: 10px!important;
}
.wishlist_button_back .primary button.action.tocart {
    width: auto;
}

.my-account .box.box-address-billing {
    width: calc(100%);
}
.my-account .box.box-address-shipping {
    width: calc(100%);
}
.my-account .block-addresses-list .items.addresses>.item {
    width: 100%!important;
    margin: 10px 0px 0 0!important;
    box-sizing: border-box;
    max-width: 100%;
}
.my-account .fieldset > .field {
    width: 100%;
    margin: 0px 0% 10px 0!important;
}
form.form.form-edit-account label.label {
    display: inline-block;
}
form.form.form-edit-account fieldset.fieldset.fieldset-fullname .fields .field {
    margin-bottom: 10px;
}
.actions-toolbar > .primary, .actions-toolbar > .secondary {
    text-align: left;
    margin-bottom: 10px;
}
.actions-toolbar > .primary .action, .actions-toolbar > .secondary .action {
    width: auto;
}
/* cartpage mobile view */
.cart.table-wrapper table.cart.items.data.table.cart-table.data-table tr td.cart-item-image{
	text-align:left;
}
.cart.table-wrapper table.cart.items.data.table.cart-table.data-table tr td.cart-item-name {
    padding-left: 17px!important;
}
.cart.table-wrapper table.cart.items.data.table.cart-table.data-table tr td.a-center.cart-item-edit {
    padding-left: 17px!important;
}
.cart.table-wrapper table.cart.items.data.table.cart-table.data-table tr td.a-center.cart-item-wishlist {
   padding-left: 17px!important;
    text-align: left!important;
}
.cart.table-wrapper table.cart.items.data.table.cart-table.data-table tr td.a-center.cart-item-wishlist span.cart-item-label-sm {
    display: none;
}
.cart.table-wrapper table.cart.items.data.table.cart-table.data-table tr td.a-center.cart-item-price {
   padding-left: 17px!important;
}
.cart.table-wrapper table.cart.items.data.table.cart-table.data-table tr td.a-center.cart-item-quantity {
    padding-left: 17px!important;
}
.cart.table-wrapper table.cart.items.data.table.cart-table.data-table tr td.a-center.cart-item-subtotal {
    padding-left: 17px!important;
}
.cart.table-wrapper table.cart.items.data.table.cart-table.data-table tr td.a-center.cart-item-remove {
    padding-left: 17px!important;
}
.cart.table-wrapper table.cart.items.data.table.cart-table.data-table tr td.a-center.cart-item-gift {
    padding-left: 17px!important;
	text-align: left!important;
}
.cart.table-wrapper .gift-content {
    border-bottom: none;
}
.gift-options .actions-toolbar .action-update {
    font-size: inherit;
}
.cart-summary {
    float: left!important;
    width: 100%!important;
}
.gift-message .field label {
    display: inline-block;
}
.bottom_toolbar {
    display: none;
}
/* recommend a friend */
.refer_friend h2.legend {
    font-size: 15px!important;
}
.refer_friend .field {
    width: 100%;
    margin-right: 0%!important;
}
.actions-toolbar.custom_add_buttons .primary button.action.submit.primary span span {
    padding: 0 20px!Important;
}
.refer_friend .field.text {
    width: 100%;
}
.cart .cart-collaterals .cart-summary {
    width: 100%!important;
}
.cart-table tbody td.cart-item-remove {
    border-bottom: none;
}

/* view order */
.title_myaccount_container .page-title-wrapper {
    width: 100%;
}
.title_myaccount_container .order_view_status {
    width: 100%;
}
.title_myaccount_container .order-date {
    float: none;
    clear: both;
    display: inline-block;
    width: 100%;
}
.title_myaccount_container .actions-toolbar.order-actions-toolbar {
    display: inline-block;
    width: 100%;
    float: none;
    margin: 10px 0!important;
}
.table-wrapper.order-items table.data.table.table-order-items tfoot td {
    width: auto!Important;
}
.myorder_shipping_data .box.box-order-shipping-address {
    width: calc(100%);
}
form.form-address-edit label {
    display: inline-block;
}
form.form-address-edit .field-name-firstname {
    width: 100%;
    margin: 0 0% 10px 0!important;
}
form.form-address-edit .field-name-middlename {
    width: 100%;
}
form.form-address-edit .field-name-lastname {
    width: 100%;
    margin: 0px 0% 10px 0!important;
}
form.form-address-edit .field.company {
    width: 100%;
    margin: 0 0% 10px 0!important;
}
form.form-address-edit .field.telephone {
    width: 100%;
}
form.form-address-edit .field.street .control {
    width: 100%!important;
}
form.form-address-edit .field.city {
    width: 100%;
    margin: 0 0% 10px 0!important;
}
form.form-address-edit .field.region {
    width: 100%;
}
form.form-address-edit .field.zip {
    width: 100%;
    margin: 0px 0% 10px 0!important;
}
form.form-address-edit .field.country {
    width: 100%;
}
form.form.create.account.form-create-account legend.legend {
    font-size: 15px!important;
}
.fieldset.cust_contact_us_form input.input-text {
    width: 100%;
    box-sizing: border-box;
}
.subscribe-form .block.newsletter .actions button.action.subscribe.primary {
    top: 0px!important;
}
.cus_side_sub_button .block.newsletter button.action.subscribe.primary {
	    top: 0px!important;
}
.actions-toolbar.wishlist_button button.action.submit.primary span {
    padding: 0 20px;
}
form.form.wishlist.share h2.legend {
    font-size: 15px!important;
}
form.form.wishlist.share label {
    display: inline-block;
}
form.form.form-newsletter-manage h2.legend {
    font-size: 15px!important;
}

form.form.form-shipping-address .fieldset.address .field {
    width: 100%;
    margin-right: 0%;
}
.minicart-wrapper {
    display: none;
}
.field-tooltip {
    cursor: pointer;
    position: relative;
    right: 0;
    top: 0;
    margin: 10px 0 0 0;
}
div#checkout-step-shipping .shipping-address-item.selected-item {
    width: 100%!important;
    margin: 0 0% 2% 0;
}
div#checkout-step-shipping .field.addresses .shipping-address-item.not-selected-item {
    width: 100%!important;
    margin: 0px 0% 1% 0;
}
div#checkout-step-shipping button.action.action-select-shipping-item {
    width: auto;
}
fieldset#payment_form_authorizenet_directpost input {
    width: 80%;
}
div#authorizenet_directpost_cc_type_exp_div .field.no-label.month .control {
    width: 80%!important;
}
div#authorizenet_directpost_cc_type_exp_div .field.no-label.month .control select {
    max-width: 100%;
}
.field.field-select-billing {
    width: 100%;
}
.billing-address-form .field {
    width: 100%;
}
.payment-method._active {
    display: inline-block;
	margin-bottom: 20px;
}
.checkout-payment-method .checkout-billing-address button {
    margin: 0 10px 0 0!important;
    position: relative;
    vertical-align: middle;
}
.checkout-index-index aside.modal-popup.modal-slide._inner-scroll._show .modal-inner-wrap {
    left: 0!important;
    top: 20px!important;
    margin: 0 auto!Important;
    background-image: none!important;
    height: auto!important;
    max-height: 100%!important;
    display: inherit!important;
    width: auto!important;
    position: relative;
    max-width: 95%!important;
}
.checkout-index-index aside.modal-popup.modal-slide._inner-scroll._show footer.modal-footer button.action.primary.action-save-address {
    display: block;
    margin: 10px 0;
}
.custom_headings_wishlist .pro_image {
    width: 0;
}
.custom_headings_wishlist .pro_details {
    width: 100%;
}
.custom_headings_wishlist .pro_action {
    display: none;
}
form.form.form-edit-account legend.legend {
    font-size: 15px!important;
}
form.form.password.forget h2.legend {
    font-size: 15px!important;
}
form.form.password.forget button span {
    padding: 0 22px;
}
.page-title.title-buttons+.order-products-toolbar.toolbar.bottom {
    margin-bottom: 0;
}
.search-autocomplete {
    margin-top: 0;
}
table.data.table.data-table.table-order-items.history tbody tr {
    padding: 0 10px!important;
}
.title-img-txt .page-title {
    padding: 1px 6px 0 13px;
}
.title-img-txt .std {
   padding: 0px 5px 4px 13px;
}
/* 13-08 */
.title-img > img {
/*     height: 160px;
    object-fit: cover; */
}
.title-img-txt .category-description p {
    font-size: 13px;
    line-height: 20px;
}
/* 14-08 */
.home-row-container .home-department-row .home-department-col .department-block {
    position: relative;
    padding-top: 80%;
    max-width: 250px;
    margin: 0 auto;
    box-sizing: border-box;
}
.home-row-container .home-department-row .home-department-col a img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 250px;
    margin: 0 auto;
}


.home-row-container .home-department-row .home-department-col {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
}
/* 20-08 */
form.form.create.account.form-create-account .fieldset fieldset.fieldset.create.info {
    margin-bottom: 10px;
}
.customer-account-create .actions-toolbar p.required {
    margin: 15px 0 0 0!important;
    left: 0;
}
.sidebar.col-left {
    width: 100%;
    margin: 20px auto;
    box-sizing: border-box;
}
body.account.customer-address-index .col-main {
    width: 100%;
}
.footer.frame .f-nav .f-col {
    margin-left: 0px;
}
/* 21-08 */
.cart-container .form-cart a.action.continue.btn-continue {
    display: block!important;
    position: relative!important;
    vertical-align: middle!important;
    margin: 0 auto!important;
    padding: 0px 0!important;
    text-align: center;
    width: 100%;
}
.cart-container .form-cart button.btn-update.action.update {
    position: relative!important;
    display: block!important;
    vertical-align: middle!important;
    margin: 10px auto 0!important;
    padding: 10px 0!important;
    text-align: center;
    width: 100%;
    float: none;
}
.cart.table-wrapper table.cart.items.data.table.cart-table.data-table tr {
    padding-bottom: 0!important;
    margin-bottom: 0!important;
}
.gift-message .field.field-to {
    width: 100%!important;
}
.gift-message .field.field-from {
    width: 100%!important;
}
.gift_message .gift-options .actions-toolbar .secondary button {
    margin: 0 0 10px 0px!important;
}
.gift-options .actions-toolbar .action-cancel {
    display: inline-block!important;
}
}
@media only screen and (max-width: 350px) {
.cart .cart-totals .totals {
    width: 235px!important;
}
}
