@media (min-width: 1240px){
body.catalog-category-view .main-container .frame .products-grid li.item {
	float:none!important;
    width: 33.33333%;
    margin-right: 0;
    display: inline-block!important;
}
body.catalog-category-view .main-container .frame .products-grid li.item {
    float: none!important;
    display: inline-block!important;
}
}
@media (min-width: 768px){
.fieldset .legend{
	    margin-left: 0!important;
}
/* 23-03 */
.navigation {
	font-weight: 600!important;
}
/* contact page web forms */
.cms-contact-us form {
    border: none!important;
    padding: 0!important;
    top: 0;
    position: relative;
    display: block;
}
.cms-contact-us form h3.legend {
    display: none!important;
}
.fieldset.cust_contact_us_form  > .field:not(.choice) > .label {
    text-align: left!important;
    width: 100%!important;
    margin-bottom: 6px;
}
.fieldset.cust_contact_us_form > .field{
	margin:0 0 5px 0!important;
}
.fieldset.cust_contact_us_form input.input-text{
    width: 50%;
}
.fieldset.cust_contact_us_form textarea {
    height: 10em;
}
button.action.submit.primary span {
    padding: 0 20px!important;
	position:relative;
}
.cms-damage-claim button.action.submit.primary span {
    padding: 0 20px!important;
	position:relative;
}
.cms-damage-claim button.action.submit.primary span::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: -7px;
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png) -279px 0 no-repeat;
}
.cms-damage-claim button.action.submit.primary span::after {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    right: -7px;
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png) -279px 0 no-repeat;
}
/* contact page web forms end */
/* to the trade form */

.fieldset.form_tothe_trade  > .field:not(.choice) > .label {
    text-align: left!important;
    width: 100%!important;
    margin-bottom: 6px;
}
.fieldset.form_tothe_trade > .field{
	margin:0 0 5px 0!important;
	    width: 49%;
    display: inline-block;
}
.fieldset.form_tothe_trade > .field.type-select:not(.choice) > .control {
    width: 97%!important;
}
.fieldset.form_tothe_trade > .field:not(.choice) > .control {
    width: 90%!important;
}
.fieldset.form_tothe_trade > .field.type-file > .control {
    border: 1px solid #385e80;
	width: 95%!important;
	    padding: 0 10px;
}
.fieldset.form_tothe_trade input.input-text{
    width: 100%;
}
.fieldset.form_tothe_trade textarea {
    height: 10em;
}
/* to the trade form  end*/
/* damage claim form */
.damage_claim_form h3.legend {
    display: none;
}
.fieldset.damage_claim_form  > .field:not(.choice) > .label {
    text-align: left!important;
    width: 100%!important;
    margin-bottom: 6px;
}
.fieldset.damage_claim_form > .field{
    margin: 0 4% 15px 0!important;
    width: 29%;
    display: inline-block;
	    position: relative;
    vertical-align: top;

}
.fieldset.damage_claim_form > .field.type-textarea{
	margin:0 0 15px 0!important;
	    width: 100%;
    display: inline-block;
}
.fieldset.damage_claim_form > .field.type-select-radio{
	margin:0 0 15px 0!important;
	    width: 100%;
    display: inline-block;
}
.fieldset.damage_claim_form > .field.type-select:not(.choice) > .control {
    width: 97%!important;
}
.fieldset.damage_claim_form > .field:not(.choice) > .control {
    width: 90%!important;
}
.fieldset.damage_claim_form input.input-text{
    width: 100%;
	background-color: #edf5fa!important;
}
.fieldset.damage_claim_form textarea {
    height: 10em;
}
.fieldset.damage_claim_form input.input-text {
    background: #fff;
    border: 1px solid #385e80;
    box-shadow: none;
	    height: 24px;
}
.fieldset.damage_claim_form input.input-file {
    background: #fff;
    border: 1px solid #385e80;
    box-shadow: none;
	    padding: 5px 10px;
}
.fieldset.damage_claim_form .column:not(.sidebar-main) form .actions-toolbar, .column:not(.sidebar-additional) form .actions-toolbar, .login-container .fieldset:after {
    margin-left: 0%!important;
}
.fieldset.damage_claim_form > .field.type-select-radio .field.choice{
	width:32%;
	display:inline-block;
}
.webforms-calendar {
    width: 100%!important;
}
.webforms-calendar .ui-datepicker-trigger {
    margin-left: auto!important;
    height: 100%!important;
    position: absolute;
    top: 0!important;
    right: -20px!important;
}
._has-datepicker ~ .ui-datepicker-trigger:before {
  font-size: 32px!important;
  line-height: 30px!important;
}
.fieldset.damage_claim_form .actions-toolbar {
    padding-top: 10px;
}
/* listing style */
.modes-mode.active {
	border: none!important;
    padding: 0!important;
    background-color: rgba(206, 206, 206, 0.6705882352941176);
    margin: 0 4px 0 0!important;
}
.modes-mode:before {
    color: #385e80!important;
}
/* 04-04 */
/* .cart-container .form-cart, .cart-container .cart-gift-item {
    width: 100%!important;
}
.cart-summary._sticky {
    display: none;
} */
/* 05-04 */
 body {
    height: auto!important;
}
/* 09-04 */
.cart-summary {
    top: auto!important;
}
.abs-shopping-cart-items-desktop, .block-cart-failed, .cart-container .form-cart, .cart-container .cart-gift-item {
    width: 100%!important;
}
/* 18-04 */
.opc-wrapper .shipping-address-item {
    width: 100%!important;
}
/* 20-04 */
.cms-edesign-services .actions-toolbar {
    text-align: left;
}
.cms-edesign-services .actions-toolbar .primary {
    float: none;
}
}
@media (max-width: 850px){
	li.fields.pwd_cust {
    width: 50%;
    display: block;
}
li.fields.pwd_conf_cust {
    display: block;
    width: 50%;
}
/* pop-up style */
ul.photo-gallery-block.gallery-paginator-category-items li {
    width: calc(100% / 2 - 10px);
}
ul.photo-gallery-block.gallery-paginator-category-items img {
    max-height: 470px!important;
}
/* 03-05 */
.cart-table tbody td {
    padding-left: 170px;
}
.action_edit_custom span.cart-item-label-sm {
    display: none;
}
.action_remove_custom span.cart-item-label-sm {
    display: none;
}
.action_gift_custom span.cart-item-label-sm {
    display: none;
}
}
@media (max-width: 780px){
.home-row-container .home-department-row .home-department-col {
    float: none;
    width: 100%;
}
.cart-summary {
    float: left!important;
    width: 36%!important;
}
}
@media (max-width: 650px){
li.fields.pwd_cust {
    width: 100%;
    display: block;
	margin-right: 0px!important;
}
li.fields.pwd_conf_cust {
    display: block;
    width: 100%;
}
li.fields.email_cust {
    width: 100%;
}
/* .edesignservicesformclass .field {
    width: 90%;
}
.edesignservicesformclass .webforms-fields-Message .control {
    width: 100%!Important;
} */
.fieldset > .legend {
    font-size: 24px!important;
}
/* 22-03 */
.col-left.sidebar img {
    max-width: 100%;
}
/* 26-03 */
.fieldset.cust_contact_us_form input.input-text {
    width: 95%;
}
.fieldset.form_tothe_trade > .field {
    width: 100%;
}
.fieldset.form_tothe_trade input.input-text {
    width: 95%;
}
/* pop-up style */
ul.photo-gallery-block.gallery-paginator-category-items li {
    width: calc(100% - 10px);
}
div#colorbox {
    max-width: 94%;
    margin: 0 auto!important;
    left: 3%!important;
}
#cboxWrapper {
    max-width: 330px!important;
}
/* 03-05 */
.cart-table tbody td {
    padding-left: 20px;
}
.col1-layout .col-main {
    width: 100%!important;
}
.table-wrapper .table:not(.totals):not(.table-comparison) tfoot td {
    width: 100%!important;
}
.cart-table .btn-continue {
    float: left!important;
    padding: 7px 0;
}
.cart-summary {
    width: 100%!important;
}
/* 05-06 */
.top-row .top-frame {
    box-sizing: border-box!important;
}
.columns {
    display: block!important;
}
}

