@import url("https://use.typekit.net/ffm7efy.css");
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:600');
body {
    font: 13px "proxima-nova", Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #444;
}
a {
    color: #385e80;
    text-decoration: none;
}
.top-promo a:hover{
    text-decoration: none;
}


/*MENU PROBLEM 1*/
li.level0.nav-10.level-top.ui-menu-item {
   display: none;
}
li.level0.nav-11.level-top.ui-menu-item {
   display: none;
}

/* menu */
.navigation .active:before {
    content: '';
    position: absolute;
    display: block;
    left: 50%;
    top: -14px;
    width: 36px;
    height: 36px;
    margin-left: -18px;
    border-radius: 50%;
    background-color: #edf5fa;
    background-size: 16px;
    background-image: url(../images/wah-seal.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.navigation .submenu .active:before {
    display:none;
}
.navigation .has-active:before {
    content: '';
    position: absolute;
    display: block;
    left: 50%;
    top: -14px;
    width: 36px;
    height: 36px;
    margin-left: -18px;
    border-radius: 50%;
    background-color: #edf5fa;
    background-size: 16px;
    background-image: url(../images/wah-seal.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.navigation a {
    border: 0px!important;
	font-size: 15px;
}
.navigation ul li ul li{
	margin-bottom:0px!important;
}
.navigation li.over a, .navigation a:hover {
    color: #cf5e68!important;
    border: 0px!important;
}
@media (min-width: 1040px){
.navigation .active:before {
    top: -13px;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    background-size: 18px;
}
}
input, select, textarea, button {
    font: normal 11px 'Open Sans', Arial, Helvetica, sans-serif;
    vertical-align: middle;
    color: #70787b;
}
.input-box input{
	line-height:normal;
	height:auto;
	box-sizing: content-box;
    font-size: 11px;
}
nav.navigation {
    max-width: 100%;
}
#newsletter1::placeholder {
    color: #70787b;
}
#newsletter1 {
    padding: 12px 35px 12px 10px!important;
    box-sizing: border-box;
    width: 100%;
    border: 0px!important;
    padding: 12px 10px!important;
    height: auto!important;
    font-style: normal!important;
    font-size: 11px!important;
    font-weight: 600;
}
/* .custom_press {
    display: block;
    position: relative;
    font-size: 0;
}
ul.photo-gallery-block.gallery-paginator-category-items {
    display: flex;
    flex-wrap: wrap;
}
ul.photo-gallery-block.gallery-paginator-category-items li {
    width: calc(100% / 3 - 10px);
    margin: 0 5px;
    align-self: center;
    padding: 10px 0;
}
ul.photo-gallery-block.gallery-paginator-category-items img {
    width: auto; 
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 300px;
} */
@media only screen and (max-width: 650px) {
    .custom_press img {
        width: calc(100% - 20px);
    }
    img.page-header-image {
    width: 100%;
}
}


/*14-02-2018*/

.simple-content > .std h1 {
   margin-bottom: 5px!important;
   font-weight: 700;
}
/* 16-02-2018 Content pages heading*/
.col-main.simple-content.std h2 {
   color: #385e80;
   font-family: 'Cormorant Garamond',Georgia, "Times New Roman", Times, serif;
   margin: 0 0 5px;
   line-height: 1.35;
   font-size: 25px;
   text-transform: uppercase;
}
.products-grid .price-box span.price {
   color: #385e80;
   font-size: 16px;
   font-weight: 600;
}

.custom-toolbar-top .limiter {
   display: flex;
   align-items: center;
}
.custom-toolbar-top .view-mode {
   display: flex;
   align-items: center;
}
.custom-toolbar-top {
   display: flex;
   justify-content: space-between;
}
.sorter-limiter {
   display: flex;
   align-items: center;
}
.sorter-limiter .sorter {
   padding: 0;
}

.actions-secondary {
   padding: 0 !important;
   display: block !important;
}
.actions-secondary a:last-child {
   display: none !important;
}
.actions-secondary a:before {
   display: none !important;
}

.actions-secondary a span {
   height: 30px !important;
   width: inherit !important;
   position: inherit !important;
   padding: 0px 30px !important;
   display: flex;
   align-items: center;
   margin: 0 !important;
   text-transform: uppercase;
   font-weight: 300;
   background: #d0d0d0;
   color: #70787b;
}
.actions-secondary a span:hover {
   background: #d0d0d0;
}
.product.actions.product-item-actions {
   display: flex;
}
.product-item-description p {
   font-weight: 300;
   line-height: 25px;
}

.col-left.sidebar dt.filter-options-title {
   padding: 10px 5px 0px 23px;
   text-transform: uppercase;
   color: #385e80;
   position: relative;
   font-size: 13px;
   font-weight: 600;
}
.col-left.sidebar dd.filter-options-content {
   padding: 0 0px 25px 0px;
   border-bottom: solid 1px #ddd;
}
.col-left.sidebar dd.filter-options-content ol li {
   padding-left: 0px;
}
.col-left.sidebar dd.filter-options-content ol li a {
   font-size: 12px;
   font-weight: 600;
}
.products-list .product-item-photo {
   padding: 0 30px 0px 0;
}
/* 23-02 */
.fotorama--fullscreen .fotorama__wrap {
    max-width: 100% !important;
    background-color: #00000050!important;
    padding: 80px 0!important;
    z-index: 99999!important;
}
/*footer correction start
footer .footer ul {
    padding: 0!important;
    margin: 0;
    list-style-type: none!important;
}
.std ul{
font-size:13px!important;
}
.f-nav .f-col li {
    padding-bottom: 0px!important;
}
footer correction end*/
/* 22-02 */
@media (min-width: 768px){
.modes-mode {
    border: none!important;
    padding: 4px 4px!important;
}
.page-layout-1column .product.media {
    width: 53%!important;
}
/* 16-03 */
.navigation .level0 {
    padding: 6px 0;
}
.breadcrumbs {
    padding-left: 0!important;
    padding-right: 0!important;
}
}
/*cross-sell*/
.products-upsell .product-image img {
    max-width: 66%;
    margin-left: 1%;
}
/* empty space pdt innerpage */

.product-inner-main .column{
  display:none;
}
/* 16-03 */
input#newsletter::placeholder {
    color: #656565;
}
.col-left.sidebar .side-widget-1+.main-container.col2-left-layout .main {
    padding-top: 0!important;
}
/* 19-03 */
div#search_form #search::placeholder {
   color: #888787;
   font-size:10.5px;
   line-height:12px;
}
/* form design */
fieldset.fieldset.create.account li {
    list-style-type: none;
    margin: 3px 0;
}
li.fields.pwd_cust {
    width: 40%;
    display: inline-block;
	    position: relative;
    vertical-align: top;
	margin-right: 12px!important;
}
li.fields.pwd_conf_cust {
    display: inline-block;
    width: 40%;
	    position: relative;
    vertical-align: top;
}
li.fields.pwd_conf_cust input {
    width: 94%;
}
li.fields.email_cust {
    width: 50%;
}
li.fields.email_cust input {
    width: 94%;
}
.actions-toolbar {
    margin: 8px 0 0 0;
}
/* captcha */
.captcha-image {
    float: none!important;
    display: inline-block!important;
}
.captcha-reload {
    top: 50%!important;
    right: -120px!important;
	-ms-transform: translateY(-50%); /* IE 9 */
	-webkit-transform: translateY(-50%);/* Safari 3-8 */
	transform: translateY(-50%);
}
/* 20-03 */
/* .edesignservicesformclass h3 {
    display: none;
}
.edesignservicesformclass label{
	display:none!important;
}

.edesignservicesformclass .field{
	width:49%;
	display:inline-block;
	position:relative;
	vertical-align:top;
}
.edesignservicesformclass .field input{
	width:100%;
	display:inline-block;
	position:relative;
	vertical-align:top;
}
.edesignservicesformclass .webforms-fields-Message .control {
    width: 80%!Important;
}
.edesignservicesformclass textarea{
	width:100%;
	    border: 1px solid #385e80;
} */
.primary button span {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0px;
}
p.required {
    margin: 10px 0 0 0;
}
.personal-edesign {
    margin-bottom: 15px;
}
.simple-content .form {
    display: block;
    padding: 25px 25px 20px;
    border: 1px solid #DFDFDF;
}
/* 22-03 */
.banner-container.home-banner-2 {
    display: block!important;
}
.home-row-container {
    margin-bottom: 30px;
    box-sizing: border-box;
    display: block!important;
}
/* 23-03 */
.product-options-bottom .add-to-box {
    padding: 0;
    border-bottom: none;
}
/* .fotorama__nav__frame.fotorama__nav__frame--thumb {
    border: 1px solid #bcadad9c;
    margin: 0px 5px 0 5px;
    box-sizing: content-box;
}
.fotorama__thumb-border {
    background-image: none!important;
    border: none!important;
} */
.fotorama__nav-wrap.fotorama__nav-wrap--horizontal {
    text-align: center;
}
.block-related .related-products-list .product-details a {
    color: #444!important;
    font-weight: 500!important;
    font-family: inherit!important;
}
span.product-image-wrapper {
    padding-bottom: 0!important;
}
.block-related .related-products-list .product-details a:hover {
    color: #cf5e68!important;
}
.top_toolbar .pages {
    display: none;
}
.bottom_toolbar .toolbar-top {
    padding-bottom: 0px!important;
    padding-top: 40px;
}
.bottom_toolbar .sorter-limiter {
    display: none;
}
.bottom_toolbar .view-mode {
    display: none;
}
.bottom_toolbar .pages {
    width: 100%;
    text-align: right;
}
.pages ul li.item {
    padding: 0px 8px!important;
    /* border: 1px solid #d1d1d1!important; */
	    background: #e5e5e5!important;
}
.pages ul li.item.current{
    /* padding: 0px 8px!important; */
    /* border: 1px solid #d1d1d1!important; */
	    background: #999!important;
}
.pages ul li.item.current span{
	color:#fff!important;
}
.pages ul li.item.pages-item-next {
    padding: 0!important;
	background: none!important;
}
.pages ul li.item.pages-item-previous {
    padding: 0!important;
    background: none!important;
}
.product-image_custom img.product-image-photo {
    margin-bottom: 15px;
}
.col-left.sidebar .block-title.filter-title {
    display: none;
}
.col-left.sidebar strong.block-subtitle.filter-subtitle {
    display: none;
}
.col-left.sidebar dt.filter-options-title {
    padding: 0 0 0 20px;
    position: relative!important;
    margin-bottom: 10px;
}
.col-left.sidebar dt.filter-options-title::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0px;
    width: 12px;
    height: 6px;
    background: url(../images/sprite.png) -170px -186px no-repeat;
}

/* 26-03 */
.fieldset > .field > .label, .fieldset > .fields > .field > .label {
    font-weight: 600!important;
}
.webforms {
    margin-bottom: 0!important;
}
.cms-contact-us p.required {
    margin: -25px 0 0 0;
    font-weight: 600;
}
.cms-contact-us .page-title {
    margin: 0;
}
.cms-contact-us .messages {
    display: none;
}
.std p {
    font-weight: 400!important;
}
.cms-to-the-trade .messages {
    display: none;
}
.webforms .legend {
    font-weight: 700!important;
}
.fieldset.form_tothe_trade > .field:not(.choice) > .label {
    font-weight: 400!important;
    font-size: 14px!important;
    line-height: 24px!important;
}
.side-widget {
    margin-top: 30px;
}
fieldset.fieldset.form_tothe_trade .legend {
    margin: 0 0 5px 0!Important;
    padding: 0 0 5px 0!important;
}
.cms-damage-claim p {
    font-size: 14px!important;
    line-height: 24px!important;
    font-weight: 400!important;
}
.cms-damage-claim .messages {
    display: none;
}
fieldset.fieldset.damage_claim_form .label {
    font-size: 16px!important;
    line-height: 24px!important;
    font-weight: 400!important;
}
fieldset.fieldset.damage_claim_form label {
    font-size: 16px!important;
    line-height: 24px!important;
    font-weight: 400!important;
}
/* 27-03 */
.block-related .related-products-list li.item .product-image {
    display: inline!important;
}
.fieldset .validation-advice {
    min-height: 13px;
    margin: 3px 0 0;
    padding-left: 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 13px;
    color: #ff0000!important;
    clear: both;
}
.simple-content > .std .fieldset h3 {
    font-size: 25px;
    text-transform: uppercase;
}
/* custom popup style */
/* #colorbox {
    height: 492px!important;
    position: fixed!important;
    top: 50%!important;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    outline: 0;
    background: #fff;
    box-shadow: 2px 2px 2px #868686;
}
#cboxWrapper {
    height: 492px!important;
}
#cboxContent {
    height: 452px!important;
}
#cboxContent {
    background: #fff;
    overflow-y: scroll;
    max-width: 100%!important;
    overflow-x: hidden;
} */

/* 02-04 */
.products-grid .product-image img {
    width: auto;
    max-height: 100%;
}
/* 05-04 */
li.fields.name_cust > .field.field-name-firstname.required > label span::after, .field.field-name-lastname.required >label span::after{
    content: '*';
    color: #e02b27;
	margin: 0 0 0 2px;
}
.cms-edesign-services .form button.action.submit.primary span::before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: -5px;
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png) -279px 0 no-repeat;
}
.cms-edesign-services .form button.action.submit.primary span::after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: -5px;
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png) -279px 0 no-repeat;
}
.cms-edesign-services .webforms {
    padding-left: 43px;
    padding-right: 43px;
}
.webforms-description-text {
    margin-bottom: 2rem!important;
    font: italic 14px 'Cormorant Garamond',Georgia, serif;
    color: #D05D6A;
}
.home-layout .column.main script+p {
    margin: 0!important;
}
/* 09-04 */
.action_edit_custom a.action.action-delete {
    display: none;
}
.action_remove_custom a.cart-edit {
    display: none;
}
/* 10-04 */
.cart-collaterals .col-1 > .discount {
    margin-top: 0!important;
}
div#block-discount .content {
    display: block!important;
}
div#block-discount .content label.label {
    display: none!important;
}
.fieldset.coupon .field {
    margin-bottom: 0;
}
.fieldset.coupon .discount-text {
    display: inline-block;
}
button.btn-gray span {
    border: none!important;
}
/* shipping details */
.block.shipping .content {
    display: block!important;
}
.block.shipping .content fieldset.fieldset.estimate label {
    width: 100%!important;
    text-align: left!important;
	margin-bottom:5px;
}
.block.shipping .content fieldset.fieldset.estimate > .field {
    margin-bottom:10px!important;
}
.block.shipping .content dl.items.methods {
    display: none!important;
}
/* summary */
strong.summary.title {
    display: none;
}
.cart .cart-totals .totals {
    width: 225px!important;
	float:none;
}
button.action.primary.checkout {
    background: #f58686!important;
    border: 1px solid #f58686!important;
    color: #ffffff!important;
    margin: 20px;
    float: right;
}
button.action.primary.checkout:focus,
button.action.primary.checkout:active {
  background: #f58686!important;
   border: 1px solid #f58686!important;
   color: #ffffff!important;
}
button.action.primary.checkout:hover {
   background: #e2737d!important;
  border: 1px solid #e2737d!important;
  color: #ffffff!important;
}
button.button.action.continue.primary {
    background: #f58686!important;
    border: 1px solid #f58686!important;
    color: #ffffff!important;
    margin: 20px;
    float: right;
}
button.button.action.continue.primary:focus,
button.button.action.continue.primary:active {
  background: #f58686!important;
   border: 1px solid #f58686!important;
   color: #ffffff!important;
}
button.button.action.continue.primary:hover {
   background: #e2737d!important;
  border: 1px solid #e2737d!important;
  color: #ffffff!important;
}
.cart-summary table.data.table.totals th {
    vertical-align: middle;
}
.cart-summary {
    background: #e6e6e6!important;
}
.cart-summary tr.totals.sub th {
    text-transform: uppercase;
}
.cart-summary tr.grand.totals th {
    text-transform: uppercase;
}
/* 11-04 */
.fieldset.coupon .action.primary {
    background: none;
    border: none;
}
/* 13-04 */
.opc-progress-bar-item > span {
    font-size: 18PX!important;
}
.opc .step-title {
    text-align: left!important;
    margin-bottom: 20px;
    font-size: 18px!important;
}
/* checkout page design start */
.checkout-container button.action.action-auth-toggle {
    display: none;
}

.opc-wrapper .field.required:first-child {
    width: 100%;
}
.opc-wrapper .fieldset > .field:not(.choice) > .label {
    text-align: left!important;
    width: 100%!important;
    float: left!important;
    margin-bottom: 5px;
}

.opc-wrapper .field:not(.choice) .control {
    width: 100%!important;
}
.opc-wrapper .field {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}
.opc-wrapper fieldset.field.street.admin__control-fields.required .field._required {
    width: 100%;
}
.opc-wrapper .field.additional {
    width: 100%;
}
.opc-wrapper .field:not(.choice) .control input {
    width: 90%;
}
.field .control._with-tooltip input {
    margin-right: 10px;
    width: calc(100% - 48px)!important;
}
.opc-wrapper button.button.action.continue.primary {
    margin: 0!important;
    padding: 5px 45px!important;
	position:relative;
}
button.button.action.continue.primary::before {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    left: 13px;
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png) -279px 0 no-repeat;
}
button.button.action.continue.primary::after {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    right: 13px;
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png) -279px 0 no-repeat;
}
.checkout-container .opc-block-summary > .title, .checkout-agreements-items .checkout-agreements-item-title {
    font-size: 20px;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.opc-block-shipping-information .shipping-information-title .action-edit {
    top: -5px;
}
.opc-block-shipping-information .shipping-information-title {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
}

/* warning message */
.checkout-container div.mage-error[generated] {
    color: #f00!important;
}
.checkout-container .message.warning {
    color: #f00;
}
.checkout-container .field-error {
  color: #f00;
}
.checkout-container .message.notice {
    line-height: 18px;
    font-size: 18px!important;
    background: none!important;
    color: #f00!important;
}
/* checkout page design end */
/* payment page start */
.payment-method-content button.action.primary.checkout {
    padding: 3px 40px!important;
    margin: 0!important;
    font-size: 16px!important;
    position: relative;
}
.payment-method-content button.action.primary.checkout::before {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    left: 13px;
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png) -279px 0 no-repeat;
}
.payment-method-content button.action.primary.checkout::after {
    content: "";
    display: block;
    position: absolute;
    top: 7px;
    right: 13px;
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png) -279px 0 no-repeat;
}
/* payment page end*/
/* style page style start */
.checkout-success a.action.primary.continue {
    padding: 8px 40px!important;
    position: relative;
}
.checkout-success a.action.primary.continue::before {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    left: 13px;
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png) -279px 0 no-repeat;
}
.checkout-success a.action.primary.continue::after {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    right: 13px;
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png) -279px 0 no-repeat;
}
div#registration input.action.primary {
    padding: 10px 40px!important;
    font-size: 13px!important;
}
div#registration input.action.primary::before {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    left: 13px;
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png) -279px 0 no-repeat;
}
div#registration input.action.primary::after {
    content: "";
    display: block;
    position: absolute;
    top: 12px;
    right: 13px;
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png) -279px 0 no-repeat;
}
/* success page style end */

/* 16-04 */
.account table {
    width: 100%;
}
/* 18-04 */
.catalog-product-view button.button span span:before, .catalog-product-view button.button span span:after {
    top: 12px!important;
}
/* 19-04 */
.sorter-action:before {
    content: '\2191'!important;
	    font-size: 26px!important;
    line-height: 26px!important;
}
.sorter .sort-desc:before {
    content: '\2193'!important;
}
/* wishlist custom design start */
.wishlist-index-index .products-grid .product-item {
    width: 100%!important;
}
.wishlist-index-index .product-item-info {
    width: 100%!important;
	    display: flex;
}
.wishlist-index-index .product-item-info a.product-item-photo {
    width: 22%;
}
.wishlist-index-index .product-item-info a.product-item-photo img {
    max-width: 100%;
    height: auto;
}
.wishlist-index-index .product-item-info strong.product-item-name {
    margin: 0!important;
    width: 13%;
}
.wishlist-index-index .product-item-info .price-box.price-final_price {
    width: 10%;
}
.wishlist-index-index .product-item-info .tooltip.wrapper.product-item-tooltip {
    width: 17%;
	min-width: inherit;
}
.wishlist-index-index .product-item-info .product-item-inner {
    width: 38%;
}
.wishlist-index-index .product-item-info .product-item-inner .field.qty {
    width: 45%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.products-grid.wishlist .product-item .fieldset .field.qty .label {
    width: auto;
    position: relative;
    vertical-align: middle;
    float: none;
    padding: 0 10px 0 0;
}
.wishlist-index-index .product-item-info .product-item-inner .fieldset > .field:not(.choice) > .control {
    width: 50%;
    float: none;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.wishlist-index-index .product-item-info .product-item-inner fieldset.fieldset.product-item-actions {
    width: 50%!important;
    position: relative;
    vertical-align: middle;
    display: inline-block;
}
.wishlist-index-index .product-item-info .product-item-inner .product-item-actions {
    width: 100%;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    text-align: right;
}
.wishlist-index-index .product-item-info .product-item-inner .product-item-actions a.btn-remove.action.delete {
    position: absolute;
    right: 20px;
}
.wishlist-index-index .product-item-info .product-item-inner fieldset.fieldset .product-item-actions {
    width: 50%!important;
}
/* wishlist custom design end */
/* order page style start */
form.form.form-newsletter-manage .field.choice {
    text-align: left;
    width: 100%;
}
form.form.form-newsletter-manage .field.choice::before {
    display: none;
}
/* order page style end */
/* 20-04 */
.cms-contact-us button.action.submit.primary span,.cms-to-the-trade button.action.submit.primary span {
    position: relative;
}
.cms-contact-us button.action.submit.primary span::before,.cms-to-the-trade button.action.submit.primary span::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -3px;
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png) -279px 0 no-repeat;
}
.cms-contact-us button.action.submit.primary span::after,.cms-to-the-trade button.action.submit.primary span::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -3px;
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png) -279px 0 no-repeat;
}

/* top right login register font-weiht */
/* .top-right ul.links li a {
    font-weight: 500!important;
}
.top-right .questions strong {
    font-weight: 500!important;
}
.top-right .questions {
    font-weight: 500!Important;
}
 */
/* 23-04 */
.block.block-account.account-nav .content {
    background: none;
    /* padding: 0; */
}
.block.block-account.account-nav .content li.item {
    padding: 0;
    margin: 0;
	    font-weight: normal;
}
.block.block-account.account-nav .content li.current strong {
    padding-left: 0;
    padding-right: 0;
}
.block .actions.a-center.last a {
    float: none;
}
.block .actions.a-center.last {
    background: none;
}
.block thead tr .actions.a-center.last {
    background: #f0f0f0;
}
/* 30-04 */
/* div#checkout li#payment .items.payment-methods .actions-toolbar {
    position: absolute!important;
    bottom: 0!important;
    right: 0!important;
} */
div#checkout li#payment .items.payment-methods .actions-toolbar {
    position: absolute;
    bottom: 0;
    right: 0;
}
button.disabled span {
    border-color: #fff0!important;
    background: #fff0!important;
}


table#shopping-cart-table .action-towishlist {
    display: none;
}
.checkout-payment-method .payment-option-title .action-toggle {
    position: relative;
}
.checkout-payment-method .payment-option-title .action-toggle span {
   position:relative;
}
.checkout-payment-method .payment-option-title .action-toggle:after {
    position: absolute;
    right: -30px;
    top: 2px;
}
/* my order design start */
.order-details-items.ordered .order-title {
    display: none;
}
.order-details-items.ordered .table:not(.cart):not(.totals) > thead > tr > th, .table:not(.cart):not(.totals) > tbody > tr > th, .table:not(.cart):not(.totals) > tfoot > tr > th, .table:not(.cart):not(.totals) > thead > tr > td, .table:not(.cart):not(.totals) > tbody > tr > td, .table:not(.cart):not(.totals) > tfoot > tr > td {
    border: 1px solid #eee!important;
}
.order-details-items.ordered th,td{
	vertical-align: middle!important;
}
.order-details-items.ordered thead tr th {
    padding: 8px;
}
.order-details-items.ordered tbody tr td {
    padding: 8px;
}
.order-details-items.ordered tfoot tr th, .order-details-items.ordered tfoot tr td{
    padding: 6px 8px!important;
}
.cart.table-wrapper .col.price, .order-items.table-wrapper .col.price, .cart.table-wrapper .col.qty, .order-items.table-wrapper .col.qty, .cart.table-wrapper .col.subtotal, .order-items.table-wrapper .col.subtotal, .cart.table-wrapper .col.msrp, .order-items.table-wrapper .col.msrp {
    text-align: left!important;
}
.box.box-order-shipping-address {
    border: 1px solid#ccc;
    padding: 10px 20px;
    margin: 10px 0;
}
.box.box-order-shipping-method {
    border: 1px solid#ccc;
    padding: 10px 20px;
    margin: 10px 0;
}
.box.box-order-billing-address {
    border: 1px solid#ccc;
    padding: 10px 20px;
    margin: 10px 0;
}
.box.box-order-billing-method {
    border: 1px solid#ccc;
    padding: 10px 20px;
    margin: 10px 0;
}
.block.block-order-details-view address {
    font-weight: 100;
    margin: 5px 0 0 0;
}
/* my order design end */
/* 03-05 */
.action_edit_custom button.action.action-gift,.action_edit_custom .gift-content._active {
    display: none!important;
}
.action_remove_custom button.action.action-gift,.action_remove_custom .gift-content._active {
    display: none!important;
}
.action_gift_custom a.cart-edit {
    display: none;
}
.action_gift_custom a.action.action-delete.btn-remove.btn-remove2 {
    display: none;
}
.action_gift_custom .action-gift {
    font-size: 15px!important;
    line-height: 20px!important;
    background: none!important;
    font: italic normal 15px 'Cormorant Garamond',Georgia, "Times New Roman", Times, serif;
    color: #cf5e68;
    margin-bottom: 12px;
    box-shadow: none;
    margin: 0!important;
}
.gift-options-title {
    font-weight: 100!important;
    font-size: 20px!important;
}
.action_gift_custom .gift-options-title {
    font-weight: 100!important;
    font-size: 13px!important;
}


/* gift form design start */
.gift-message .field.field-to{
	width: 49%!important;
	display:inline-block;
	position:relative;
	vertical-align:middle;
}
.action_gift_custom .gift-message .field.field-to{
	width: 100%!important;
}
.gift-message .field.field-to label {
    width: 100%!important;
    text-align: left!important;
    padding: 0 0 5px 0!important;
}
.gift-message .field.field-to .control {
    width: 100%!important;
}
.gift-message .field.field-to .control input.input-text {
    width: 100%!important;
	box-sizing: border-box;
}

.gift-message .field.field-from{
	width: 50%!important;
	display:inline-block;
	position:relative;
	vertical-align:middle;
}
.action_gift_custom .gift-message .field.field-from{
	width: 100%!important;
}
.gift-message .field.field-from label {
    width: 100%!important;
    text-align: left!important;
    padding: 0 0 5px 0!important;
}
.gift-message .field.field-from .control {
    width: 100%!important;
}
.gift-message .field.field-from .control input.input-text {
    width: 100%!important;
	box-sizing: border-box;
}

.gift-message .field.text label {
    width: 100%!important;
    text-align: left!important;
    padding: 0 0 5px 0!important;
}
.gift-message .field.text .control {
    width: 100%!important;
}
/* .action_gift_custom .field.field-from .control input.input-text {
    width: 90%!important;
} */

/* gift form design end */

/* 04-05 */
/* add new address */
form.form-address-edit .field-name-firstname {
    width: 50%;
    display: inline-block;
}
form.form-address-edit label {
    width: 100%!important;
    padding: 0 0 5px 0!important;
    text-align: left!important;
}
form.form-address-edit .control {
    width: 100%!important;
}
form.form-address-edit .control input {
    width: 100%;
    box-sizing: border-box;
}
form.form-address-edit .field-name-middlename {
    width: 49%;
    display: inline-block;
}
form.form-address-edit .field-name-lastname {
    width: 50%;
    display: inline-block;
}
form.form-address-edit .field.company {
    width: 49%;
    display: inline-block;
}
form.form-address-edit .field.telephone {
    width: 50%;
    display: inline-block;
}

form.form-address-edit .field.street {
    width: 100%;
    display: inline-block;
}
form.form-address-edit .field.street .control {
    width: 50%;
    display: inline-block;
}
form.form-address-edit .field.street .control .nested {
    width: 49%;
    display: inline-block;
}
form.form-address-edit .field.street input {
    width: 50%;
    display: inline-block;
}
form.form-address-edit .field.street .control .nested label{
	width:auto!important;
}
form.form-address-edit .field.street .control .nested input{
    width: 100%;
    display: inline-block;
}
form.form-address-edit .field.city {
    width: 50%;
    display: inline-block;
	position:relative;
	vertical-align:top;
}
form.form-address-edit .field.region {
    width: 49%;
    display: inline-block;
}
form.form-address-edit .field.zip {
    width: 50%;
    display: inline-block;
}

form.form-address-edit .field.country {
    width: 49%;
    display: inline-block;
}
form.form-address-edit .fieldset > .field.choice:before, .fieldset > .field.no-label:before{
	display:none;
}
/* form button key */
form.form-address-edit button.action.save.primary span {
    position: relative;
    margin: 8px 10px;
}
form.form-address-edit button.action.save.primary span::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -20px;
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png) -279px 0 no-repeat;
}
form.form-address-edit button.action.save.primary span::after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: -20px;
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png) -279px 0 no-repeat;
}
/* add new address end  */
/* account information start */
form.form.form-edit-account label.label {
    width: 100%!important;
    text-align: left!important;
    padding: 0 0 5px 0!important;
}
form.form.form-edit-account .control {
    width: 100%!important;
}
form.form.form-edit-account .control input {
    width: 100%!important;
    box-sizing: border-box;
}
form.form.form-edit-account .field.choice::before{
	display:none;
}
/* form button key */
form.form.form-edit-account button.action.save.primary span {
    position: relative;
    margin: 8px 20px;
    padding: 0px 10px;
}
form.form.form-edit-account button.action.save.primary span::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -20px;
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png) -279px 0 no-repeat;
}
form.form.form-edit-account button.action.save.primary span::after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: -20px;
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png) -279px 0 no-repeat;
}
/* add new address end  */
/* account information end */

@media (min-width: 851px){
.custom_press {
    display: block;
    position: relative;
    font-size: 0;
}
ul.photo-gallery-block.gallery-paginator-category-items {
    display: flex;
    flex-wrap: wrap;
}
ul.photo-gallery-block.gallery-paginator-category-items li {
    width: calc(100% / 3 - 10px);
    margin: 0 5px;
    align-self: center;
    padding: 10px 0;
}
ul.photo-gallery-block.gallery-paginator-category-items img {
    /* width: auto; */
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 300px;
}
}
/* 27/03/2018 moorthy works product pop-up */
body.page-layout-productinner .modal-inner-wrap footer.modal-footer {
    display: none;
}
body.page-layout-productinner .modal-popup .modal-header{
    padding-bottom: 0.2rem !important;
    padding-top: 2rem !important;
}
body.page-layout-productinner .modal-inner-wrap{
    border: 3px solid #666;
    box-shadow: none !important;
}
body.page-layout-productinner .modal-inner-wrap button.action-close {
    padding: 0 !important;
    padding: 0 !important;
    background-color: #f58686!important;
    border-radius: 100%;
    top: 5px !important;
    right: 5px !important;
}
body.page-layout-productinner .modal-inner-wrap button.action-close:before{
    color: #fff;
    font-size: 20px;
    line-height: normal;
    font-weight: bold;
}
div#popup-mpdal .form-group {
    margin: 15px 0px;
}
div#popup-mpdal label {
    float: left;
    position: relative;
    z-index: 0;
    margin: 0 0 3px;
}
div#popup-mpdal input.form-control ,div#popup-mpdal textarea#question{
    display: block;
    clear: both;
    width: 260px;
    line-height: 25px;
    color: #000;
    font-size: 16px;
}
div#popup-mpdal label em{
    float: right;
    font-style: normal;
    color: #eb340a;
    position: absolute;
    top: 0;
    right: -8px;
}
.err{
    font-size: 12px;
    font-weight: bold;
    line-height: 13px;
    color: #ff0000;
}
.required-entries{
    border: 1px solid #eb340a !important;
    background: #faebe7 !important;
}
/* 27/03/2018 moorthy works product pop-up end*/
/* 29-05 */
a.bx-prev {
   font-size: 0!important;
}
a.bx-next {
   font-size: 0!important;
}
.clearfix, .clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
    content: " ";
    display: table;
    width: 100%!important;
}
/* 31-05 */

input#newsletter-sidebar::placeholder {
    color: #70787b!important;
    opacity: 1; /* Firefox */
}

input#newsletter-sidebar:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #70787b!important;
}

input#newsletter-sidebar::-ms-input-placeholder { /* Microsoft Edge */
   color: #70787b!important;
}

.faq-iconplus:before {
    content: "Q"!important;
    color: #000;
    font-weight: 600;
    font-size: 15px!important;
}
.faqs-list .item.active a span:before {
    content: 'Q'!important;
}
/* 01-06 UAT*/
.page-layout-productpage .banner-wrapper .category-description {
    display: none!important;
}
.page-layout-productpage .product-item-inner {
    display: none!important;
}
/* 04-06 */
.sections.nav-sections nav.navigation.custom ul li > .submenu {
    display: none!important;
}
.home-press a.bx-prev {
    font-size: 0!important;
}
.home-press a.bx-next {
    font-size: 0!important;
}
.page-layout-productpage .product-item-inner {
    display: none!important;
}
@media (min-width: 768px){
.fieldset .legend{
	    margin-left: 0!important;
}
/* 23-03 */
.navigation {
	font-weight: 600!important;
}
/* contact page web forms */
.cms-contact-us form {
    border: none!important;
	padding: 0px 25px 20px 0!important;
	    top: -15px;
    position: relative;
}
.cms-contact-us form h3.legend {
    display: none!important;
}
.fieldset.cust_contact_us_form  > .field:not(.choice) > .label {
    text-align: left!important;
    width: 100%!important;
    margin-bottom: 6px;
}
.fieldset.cust_contact_us_form > .field{
	margin:0 0 5px 0!important;
}
.fieldset.cust_contact_us_form input.input-text{
    width: 50%;
}
.fieldset.cust_contact_us_form textarea {
    height: 10em;
}
button.action.submit.primary span {
    padding: 0 20px!important;
	position:relative;
}
.cms-damage-claim button.action.submit.primary span {
    padding: 0 20px!important;
	position:relative;
}
.cms-damage-claim button.action.submit.primary span::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: -7px;
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png) -279px 0 no-repeat;
}
.cms-damage-claim button.action.submit.primary span::after {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    right: -7px;
    width: 16px;
    height: 16px;
    background: url(../images/sprite.png) -279px 0 no-repeat;
}
/* contact page web forms end */
/* to the trade form */

.fieldset.form_tothe_trade  > .field:not(.choice) > .label {
    text-align: left!important;
    width: 100%!important;
    margin-bottom: 6px;
}
.fieldset.form_tothe_trade > .field{
	margin:0 0 5px 0!important;
	    width: 49%;
    display: inline-block;
}
.fieldset.form_tothe_trade > .field.type-select:not(.choice) > .control {
    width: 97%!important;
}
.fieldset.form_tothe_trade > .field:not(.choice) > .control {
    width: 90%!important;
}
.fieldset.form_tothe_trade > .field.type-file > .control {
    border: 1px solid #385e80;
	width: 95%!important;
	    padding: 0 10px;
}
.fieldset.form_tothe_trade input.input-text{
    width: 100%;
}
.fieldset.form_tothe_trade textarea {
    height: 10em;
}
/* to the trade form  end*/
/* damage claim form */
.damage_claim_form h3.legend {
    display: none;
}
.fieldset.damage_claim_form  > .field:not(.choice) > .label {
    text-align: left!important;
    width: 100%!important;
    margin-bottom: 6px;
}
.fieldset.damage_claim_form > .field{
    margin: 0 4% 15px 0!important;
    width: 29%;
    display: inline-block;
}
.fieldset.damage_claim_form > .field.type-textarea{
	margin:0 0 15px 0!important;
	    width: 100%;
    display: inline-block;
}
.fieldset.damage_claim_form > .field.type-select-radio{
	margin:0 0 15px 0!important;
	    width: 100%;
    display: inline-block;
}
.fieldset.damage_claim_form > .field.type-select:not(.choice) > .control {
    width: 97%!important;
}
.fieldset.damage_claim_form > .field:not(.choice) > .control {
    width: 90%!important;
}
.fieldset.damage_claim_form input.input-text{
    width: 100%;
	background-color: #edf5fa!important;
}
.fieldset.damage_claim_form textarea {
    height: 10em;
}
.fieldset.damage_claim_form input.input-text {
    background: #fff;
    border: 1px solid #385e80;
    box-shadow: none;
	    height: 24px;
}
.fieldset.damage_claim_form input.input-file {
    background: #fff;
    border: 1px solid #385e80;
    box-shadow: none;
	    padding: 5px 10px;
}
.fieldset.damage_claim_form .column:not(.sidebar-main) form .actions-toolbar, .column:not(.sidebar-additional) form .actions-toolbar, .login-container .fieldset:after {
    margin-left: 0%!important;
}
.fieldset.damage_claim_form > .field.type-select-radio .field.choice{
	width:32%;
	display:inline-block;
}
.webforms-calendar {
    width: 100%!important;
}
.webforms-calendar .ui-datepicker-trigger {
    margin-left: auto!important;
    height: 100%!important;
    position: absolute;
    top: 0!important;
    right: -20px!important;
}
._has-datepicker ~ .ui-datepicker-trigger:before {
  font-size: 32px!important;
  line-height: 30px!important;
}
.fieldset.damage_claim_form .actions-toolbar {
    padding-top: 10px;
}
/* listing style */
.modes-mode.active {
    color: #385e80;
    border: 1px solid #385e80!important;
    padding: 0!important;
	background-color: rgba(206, 206, 206, 0.6705882352941176);
}
.modes-mode:before {
    color: #385e80!important;
}
/* 04-04 */
/* .cart-container .form-cart, .cart-container .cart-gift-item {
    width: 100%!important;
}
.cart-summary._sticky {
    display: none;
} */
/* 05-04 */
 body {
    height: auto!important;
}
/* 09-04 */
.cart-summary {
    top: auto!important;
}
.abs-shopping-cart-items-desktop, .block-cart-failed, .cart-container .form-cart, .cart-container .cart-gift-item {
    width: 100%!important;
}
/* 18-04 */
.opc-wrapper .shipping-address-item {
    width: 100%!important;
}
/* 20-04 */
.cms-edesign-services .actions-toolbar {
    text-align: center;
}
.cms-edesign-services .actions-toolbar .primary {
    float: none;
}
}
@media (max-width: 850px){
	li.fields.pwd_cust {
    width: 50%;
    display: block;
}
li.fields.pwd_conf_cust {
    display: block;
    width: 50%;
}
/* pop-up style */
ul.photo-gallery-block.gallery-paginator-category-items li {
    width: calc(100% / 2 - 10px);
}
ul.photo-gallery-block.gallery-paginator-category-items img {
    max-height: 470px!important;
}
/* 03-05 */
.cart-table tbody td {
    padding-left: 170px;
}
.action_edit_custom span.cart-item-label-sm {
    display: none;
}
.action_remove_custom span.cart-item-label-sm {
    display: none;
}
.action_gift_custom span.cart-item-label-sm {
    display: none;
}
}
@media (max-width: 780px){
.home-row-container .home-department-row .home-department-col {
    float: none;
    width: 100%;
}
.cart-summary {
    float: left!important;
    width: 36%!important;
}
}
@media (max-width: 650px){
li.fields.pwd_cust {
    width: 100%;
    display: block;
	margin-right: 0px!important;
}
li.fields.pwd_conf_cust {
    display: block;
    width: 100%;
}
li.fields.email_cust {
    width: 100%;
}
/* .edesignservicesformclass .field {
    width: 90%;
}
.edesignservicesformclass .webforms-fields-Message .control {
    width: 100%!Important;
} */
.fieldset > .legend {
    font-size: 24px!important;
}
/* 22-03 */
.col-left.sidebar img {
    max-width: 100%;
}
/* 26-03 */
.fieldset.cust_contact_us_form input.input-text {
    width: 95%;
}
.fieldset.form_tothe_trade > .field {
    width: 100%;
}
.fieldset.form_tothe_trade input.input-text {
    width: 95%;
}
/* pop-up style */
ul.photo-gallery-block.gallery-paginator-category-items li {
    width: calc(100% - 10px);
}
div#colorbox {
    max-width: 94%;
    margin: 0 auto!important;
    left: 3%!important;
}
#cboxWrapper {
    max-width: 330px!important;
}
/* 03-05 */
.cart-table tbody td {
    padding-left: 20px;
}
.col1-layout .col-main {
    width: 100%!important;
}
.table-wrapper .table:not(.totals):not(.table-comparison) tfoot td {
    width: 100%!important;
}
.cart-table .btn-continue {
    float: left!important;
    padding: 7px 0;
}
.cart-summary {
    width: 100%!important;
}
}

