body, form, ul, div {
    margin: 0;
    padding: 0;
    outline: none;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.zf-select {
    outline: none;
    position: relative;
    cursor: pointer;
    /*font: 14px Arial, Helvetica, sans-serif;*/
}
.toolbar-top .zf-select {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
}
.zf-select select{border: 0;}
.zf-select div, .zf-select ul {
    margin: 0;
    padding: 0;
    outline: none;
    border:  0;
}
.zf-select-dis{
    cursor: default;
}
.zf-select .select-text {
    padding: 0 33px 0 5px;
    line-height: 27px;
    height: 27px;
    overflow: hidden;
    background:#fff;
    border:1px solid #ddd;
    box-shadow: inset 1px 1px 2px #ccc;
}
.toolbar-top .zf-select .select-text {
    box-shadow: none;
}
.zf-select-focus .select-text{
    background-position: 0 -57px;
}
.zf-select-dis .select-text{
    background-position: 0 -29px;
}
.zf-select .select-btn {
    width: 0; height: 0;
    position: absolute;
    top: 50%; right: 10px;
    margin-top: -2px;
    border-top: 9px solid #8C8C8C;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
    /*background:url(../images/bg_select.gif) no-repeat 100% 0;
    width: 27px;
    height: 27px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: -1px;*/
}
.zf-select .select-btn:after {
    content: "";
    width: 0; height: 0;
    position: absolute;
    top: -9px; left: -7px;
    border-top: 7px solid #fff;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}
.catalog-product-view .zf-select .select-btn {
    width: 0; height: 0;
    position: absolute;
    top: 50%; right: 10px;
    margin-top: -2px;
    border-top: 4px solid #CF5E68;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    overflow: hidden;
}
.catalog-product-view .zf-select .select-btn:after {
    display: none;
}
.zf-select-dis .select-btn{
    background-position: 100% -29px;
}
.zf-select-focus .select-btn{
    background-position: 100% -57px;
}
.zf-multi-select .select-text,
.zf-multi-select .select-btn{display: none;}
.zf-select .select-drop {
    display: none;
    position: absolute;
    top: 27px;
    left: 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;  
}
.form-list .zf-select .select-drop,
.cart .shipping .zf-select .select-drop {
    max-width: 100%;
}
.zf-multi-select .select-drop{
    position: relative;
    top: 0;
    left: 0;
    display: block !important;
}
.zf-select ul{
    list-style: none;
    padding: 0 10px 0 0;
}
.zf-select li{
    padding: 3px 5px;
    line-height: 30px;
}
.zf-select li.selected{
    background: #EDEDED;
}
.zf-select li.disabled{
    background: #ebebeb !important;
    color: #7a7a7a;
    cursor: default;
}
.zf-select li.optgroup{
    font-weight: bold;
    text-transform: capitalize;
    font-style: italic;
}
.zf-select li.optitem{
    padding-left: 20px;
}
.zf-select .select-mid{
    background: #fff;
}
.zf-select .mid-right{
    border:1px solid #ccc;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}
.zf-focus-select .mid-right{border-color: #f8c7a7;}
.zf-select .scrollable{
    height: 150px;
    position: relative;
    overflow: hidden;
}

.zf-select .zf-scroll-track{
    width: 15px;
    position: absolute;
    top: 1px;
    right: 2px;
    background: #efefef;
}
.zf-select .zf-scroll-drag{
    background:url(../images/bg_scroll.gif) no-repeat -39px 0;
    cursor: pointer;
    height: 22px;
    position: absolute;
    right: 0;
    top: 15px;
    width: 15px;
}
.zf-select .zf-scroll-drag-btm,
.zf-select .zf-scroll-drag-top{
    top: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 15px;
}
.zf-select .zf-scroll-drag-btm{
    bottom: 0;
    top: auto;
}
.zf-select .zf-scroll-arrow-btm,
.zf-select .zf-scroll-arrow-top{
    background:url(../images/bg_scroll.gif) no-repeat;
    cursor: pointer;
    height: 15px;
    overflow: hidden;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 15px;
}
.zf-select .zf-scroll-arrow-top-press{
    background-position: 0 -48px;
}
.zf-select .zf-scroll-arrow-top-dis{
    background-position: 0 -24px;
    cursor: default;
}
.zf-select .zf-scroll-arrow-btm{
    bottom: 2px;
    top: auto;
    background-position: -19px 0;
}
.zf-select .zf-scroll-arrow-btm-press{
    background-position: -19px -48px;
}
.zf-select .zf-scroll-arrow-btm-dis{
    background-position: -19px -24px;
    cursor: default;
}

/* alt_select styles start */
.alt-style select{
    width: 200px;
}
.alt-style .zf-select{
    color: #fff;
    font: 14px Tahoma, Arial, Helvetica, sans-serif;
}
.alt-style .select-text{
    background:url(../images/bg_select.png) no-repeat;
    height: 47px;
    line-height: 46px;
    padding: 0 5px 0 20px;
}
.alt-style .select-btn{
    background:url(../images/bg_select.png) no-repeat 100% 0;
    height: 47px;
    right: -50px;
    width: 50px;
}
.alt-style .select-drop{
    margin: -13px 0 0 19px;
}
.alt-style .select-mid{
    background:url(../images/bg_select_v.png) repeat-y 100% 0;
    padding-right: 4px;
}
.alt-style .mid-right{
    border: 0;
    background:url(../images/bg_select_v.png) repeat-y;
    padding-left: 4px;
}
.alt-style .scrollable{
    background: #000;
}
.alt-style ul{
     padding: 0 5px 0 0;
}
.alt-style li{
    line-height: 25px;
    padding: 0 10px;
}
.alt-style li:hover{
    background: #6081ba;
}
.alt-style li.selected{
    background: #061651;
}
.alt-style .zf-scroll-track{
    background: #041141;
    right: 8px;
    top: 5px;
    width: 13px;
}
.alt-style .zf-scroll-drag{
    background: #6081ba;
    height: 20px;
    right: 0;
    width: 11px;
    border: 1px solid #fff;
}
.alt-style .zf-scroll-arrow-btm,
.alt-style .zf-scroll-arrow-top{
    background:url(../images/bg_select.png) no-repeat 0 -145px;
    height: 12px;
    right: 8px;
    width: 13px;
    top: 5px;
}
.alt-style .zf-scroll-arrow-btm{
    background-position: -30px -145px;
    top: auto;
    bottom: 10px;
}
.alt-style .select-btm{
    height: 12px;
    width: 100%;
    overflow: hidden;
}
.alt-style .btm-left,
.alt-style .btm-right{
    background:url(../images/bg_select.png) no-repeat -44px -145px;
    float: left;
    width: 14px;
    height: 100%;
}
.alt-style .btm-right{
    float: right;
    background-position: -59px -145px;
}
.alt-style .btm-mid{
    overflow: hidden;
    height: 100%;
    background:url(../images/bg_select.png) repeat-x 0 -158px;
}
.alt-style .select-top{
    height: 5px;
    overflow: hidden;
}
.alt-style .top-left,
.alt-style .top-right{
    background:url(../images/bg_select.png) no-repeat -70px -152px;
    float: left;
    width: 12px;
    height: 100%;
}
.alt-style .top-right{
    float: right;
    background-position: -80px -152px;
}
.alt-style .top-mid{
    overflow: hidden;
    height: 100%;
    background: #000;
}

.alt-style .select-top:after,
.alt-style .select-btm:after {
    clear: both;
    content: "";
    display: block;
}


/* alt_select styles end */
