<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="actions-toolbar buttons-set">
	<p class="back-link">
		<a class="action back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>"><small>« </small>Back</a>
	</p>
</div>

