<input type='file' name='<?php echo $this->getFieldName() ?>' id='<?php echo $this->getFieldId() ?>'
       class='<?php echo $this->getFieldClass() ?>' style='<?php echo $this->getFieldStyle() ?>'/>

<script>
    require(['VladimirPopov_WebForms/js/dropzone'], function (JSWebFormsDropzone) {
        new JsWebFormsDropzone({
            url: '<?php echo $this->getUrl('webforms/file/dropzone', ["_secure" => true]) ?>',
            fieldId: '<?php echo $this->getFieldId() ?>',
            fieldName: '<?php echo $this->getDropzoneFieldName()?>',
            dropZone: <?php echo $this->getField()->getValue('dropzone') ? 1 : 0?>,
            dropZoneText: '<?php echo $this->getField()->getValue('dropzone_text') ? str_replace("'","\'",$this->getField()->getValue('dropzone_text')) : __('Add files or drop here')?>',
            maxFiles: <?php echo $this->getField()->getValue('dropzone_maxfiles') ? $this->getField()->getValue('dropzone_maxfiles') : 5?>,
            allowedSize: <?php echo $this->getField()->getWebform()->getUploadLimit($this->getField()->getType())?>,
            allowedExtensions: <?php echo json_encode($this->getField()->getAllowedExtensions(), true)?>,
            restrictedExtensions: <?php echo json_encode($this->getField()->getRestrictedExtensions(), true)?>,
            validationCssClass: '<?php echo $this->getField()->getRequired() ? 'required-entry' : ''?>',
            errorMsgAllowedExtensions: '<?php echo __('Selected file has none of allowed extensions: %s')?>',
            errorMsgRestrictedExtensions: '<?php echo __('Uploading of potentially dangerous files is not allowed.')?>',
            errorMsgAllowedSize: '<?php echo __('Selected file exceeds allowed size: %s kB')?>',
            errorMsgUploading: '<?php echo __('Error uploading file')?>',
            errorMsgNotReady: '<?php echo __('Please wait... the upload is in progress.')?>'
        });
    });
</script>