<div aria-labelledby="label_<?php echo $this->getFieldId() ?>">
    <?php
    $validate = '';
    $options = $this->getFieldOptions();
    foreach ($this->getFieldOptions() as $i => $option) {
        $checked = false;
        if ($option["checked"]) {
            $checked = 'checked';
        }
        if ($this->getField()->getRequired() && $i == (count($options) - 1)) {
            $validate = "validate-one-required-by-name";
            if ($this->getField()->getData('validate_regex')) {
                $validate .= ' validate-field-' . $this->getField()->getId();
            }
        }
        if (isset($option["value"])) {
            $label = $option["label"];
            if ($option["image_src"]) {
                $label = "<figure><img src='{$option['image_src']}'/><figcaption>{$label}</figcaption></figure>";
            }
            ?>

            <div class='field choice option-<?php echo $i?>'>
                <input type='radio'
                       id='<?php echo $this->getFieldId() . $i ?>'
                       name='<?php echo $this->getFieldName() ?>'
                       value="<?php echo htmlspecialchars($option["value"]) ?>"
                       class='radio <?php echo $validate ?>'
                       aria-labelledby="<?php echo $this->getFieldId() . $i ?>_label label_<?php echo $this->getFieldId() ?>"
                ' <?php echo $checked ?> <?php if ($this->getField()->getDisabled()) { ?> disabled <?php } ?>
                />
                <label id="<?php echo $this->getFieldId() . $i ?>_label"
                       for='<?php echo $this->getFieldId() . $i ?>'
                       class='<?php echo $this->getFieldClass() ?>'
                       style='<?php echo $this->getFieldStyle() ?>'><?php echo $label ?></label>
                <?php
                $tooltip = $this->getField()->getTooltip($option["value"]);
                if ($tooltip) {
                    echo $this->getLayout()->createBlock(
                        'VladimirPopov\WebForms\Block\Script\Tooltip',
                        null
                    )->setField($this->getField())->setTooltip($tooltip)->toHtml();
                }
                ?>

                <?php if ($validate && $this->getField()->getValidationAdvice()) { ?>
                    <div class="validation-advice"
                         id="advice-validate-one-required-by-name-<?php echo $this->getFieldId() . $i ?>"
                         style="display:none"><?php echo $this->getField()->getValidationAdvice() ?></div>
                <?php } ?>
            </div>

            <?php
        }
    }

    ?>
</div>