<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
?>
<?php
$subcat_count=0;
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');//get current category
if ($category != NULL) {
   
$subcats = $category->getChildrenCategories();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$subcat_count=0;
?>

<ul class="products-grid rooms-grid first last odd">
    <?php
  
    foreach ($subcats as $subcat) {
         //print_r($subcat);
        $subcat_count=$subcat_count+1;
            $_category = $objectManager->create('Magento\Catalog\Model\Category')->load($subcat->getId());
            $_outputhelper = $this->helper('Magento\Catalog\Helper\Output');
            $subcaturl = $subcat->getUrl();            
            $_imgHtml = '';
           $subcat_count++;
            if ($_imgUrl = $_category->getThumbnail()) {
                //echo $subcat_count;
                $_imgHtml = '<img src="http://magento2v1.wellappointedhouse.com/pub/media/catalog/category/' . $_imgUrl . '" width="270" height="205" />';
                //$_imgHtml = $_outputhelper->categoryAttribute($_category, $_imgHtml, 'image');
                /* @escapeNotVerified */
                //echo '<li><a href="' . $subcaturl . '" title="' . $subcat->getName() . '">' . $_imgHtml . '</a>'. $subcat->getName().'</li>';
            }
            else{
                $_imgHtml = '<img src="http://magento2v1.wellappointedhouse.com/pub/media/catalog/product/placeholder/websites/1/image.jpg" width="270" height="205" />';
                //echo '<li><a href="' . $subcaturl . '" title="' . $subcat->getName() . '"></a>'. $subcat->getName().'</li>';
            }
            echo  '<li class="item">
                <a href="' . $subcaturl . '" title="' . $subcat->getName() . '" class="product-image"> '.$_imgHtml.'</a>
                <h2 class="product-name"><a href="' . $subcaturl . '" title="' . $subcaturl . '">' . $subcat->getName() . '</a></h2>
            </li>';
        // echo"<h1> recieved subcatefory</h1> <pre>";print_r($subcat);
        // echo "</pre>";

    } ?>
</ul>
<?php 
}
    if($subcat_count==0){
        echo '<style>

.products-grid .product-image_custom .backordered-until {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 6px 0;
    color: #e3828c;
    background: #eaeaea;
    text-align: center;
    text-transform: uppercase;
    font: 11px "proxima-nova", Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 15px;
}
        </style>';
if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?= /* @escapeNotVerified */ __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <div class="top_toolbar">
    <?= $block->getToolbarHtml() ?>
    </div>

    <?= $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>

    <div class="products  <?= /* @escapeNotVerified */ $viewMode ?> products-<?= /* @escapeNotVerified */ $viewMode ?>">
        <?php $iterator = 1; ?>
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
                <?= /* @escapeNotVerified */ ($iterator++ == 1) ? '<li class="item product ">' : '</li><li class="item product ">' ?>
                     <?php if($_product->getResource()->getAttribute('mm_show_low_stock')->getFrontend()->getValue($_product)=="Yes"){ ?>
                          <div class="low-stock-custom"><span>low<br>stock!</span></div> 
                      <?php } ?>
               
                    <?php
                    $product_shipping = $_product->getShippingInfo();
                    $productImage = $block->getImage($_product, $image);
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>
                    <?php // Product Image ?>
                    <a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>" class="product photo product-item-photo product-image_custom" tabindex="-1">
                        <?= $productImage->toHtml() ?>
                     <?php if($_product->getResource()->getAttribute('mm_show_backordered')->getFrontend()->getValue($_product)=='Yes' ){ ?>
                    <div class="backordered-until">  On Backorder - Call for Availability </div>
                    <?php } ?>
                    </a>

                    <div class="product details product-item-details">
                      

                        <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>

                        <h2 class="product-name">

                            <a class="product-item-link"
                               href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>">
                                <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                            </a>
                                <?php if($_product->getResource()->getAttribute('free_shipping_text')->getFrontend()->getValue($_product)!='' || !empty($_product->getResource()->getAttribute('free_shipping_text')->getFrontend()->getValue($_product))){ ?>
                            <span> - <?php /* @escapeNotVerified */ echo $_product->getResource()->getAttribute('free_shipping_text')->getFrontend()->getValue($_product); ?> </span> <?php } ?>
                        </h2>
                        



                      

                        <?= /* @escapeNotVerified */ $block->getProductPrice($_product) ?>
                        
                        <?php if ($showDescription):?>
                                <div class="product description product-item-description">
                                    <?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                    <a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>" title="<?= /* @escapeNotVerified */ $_productNameStripped ?>"
                                       class="action more"><?= /* @escapeNotVerified */ __('Learn More') ?></a>
                                </div>
                            <?php endif; ?>
                       <? if($viewMode == 'list'){?>
                        <div class="product-item-inner">
                            <div class="product actions product-item-actions"<?= strpos($pos, $viewMode . '-actions') ? $position : '' ?>>
                                <div class="actions-primary"<?= strpos($pos, $viewMode . '-primary') ? $position : '' ?>>
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form" data-product-sku="<?=  /* @NoEscape */ $_product->getSku() ?>" action="<?= /* @NoEscape */ $postParams['action'] ?>" method="post">
                                            <input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $postParams['data']['product'] ?>">
                                            <input type="hidden" name="<?= /* @escapeNotVerified */ Action::PARAM_NAME_URL_ENCODED ?>" value="<?= /* @escapeNotVerified */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
                                            <?= $block->getBlockHtml('formkey') ?>
                                            <button type="submit"
                                                    title="<?= $block->escapeHtml(__('Add to Cart')) ?>"
                                                    class="action tocart button btn-cart">
                                                <span ><span><?= /* @escapeNotVerified */ __('Add to Cart') ?></span></span>
                                            </button>
                                        </form>
                                    <?php else: ?>
                                        <?php if ($_product->isAvailable()): ?>
                                            <div class="stock available"><span><?= /* @escapeNotVerified */ __('In stock') ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable"><span><?= /* @escapeNotVerified */ __('Out of stock') ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                                <div data-role="add-to-links" class="actions-secondary"<?= strpos($pos, $viewMode . '-secondary') ? $position : '' ?>>
                                    <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                                        <?= $addToBlock->setProduct($_product)->getChildHtml() ?>
                                    <?php endif; ?>
                                </div>
                            </div>
                            
                        </div>
                        <?}?>
                    </div>
                
                <?= ($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
            <?php endforeach; ?>
        </ol>
    </div>
     <div class="bottom_toolbar">
    <?= $block->getToolbarHtml() ?>
    </div>

    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= /* @NoEscape */ $_product->getSku() ?>"
                }
            }
        }
        </script>
    <?php endif; ?>
<?php endif; }?>

