<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 *
 * @var $block \Magento\Customer\Block\Account\Forgotpassword
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Forgotpassword $block */
?>
<div class="main frame">
<div class="note-search clearfix"></div>
<div class="page-title">
    <h1>Forgot Your Password?</h1>
</div>
<form class="form password forget"
      action="<?= $block->escapeUrl($block->getUrl('*/*/forgotpasswordpost')) ?>"
      method="post"
      id="form-validate"
      data-mage-init='{"validation":{}}'>
	  <div class="fieldset">
        <h2 class="legend">Retrieve your password here</h2>
		</div>
    <fieldset class="fieldset" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
        <div class="field note"><?= $block->escapeHtml(__('Please enter your email address below. You will receive a link to reset your password.')) ?></div>
        <div class="field email required">
            <label for="email_address" class="label"><span><?= $block->escapeHtml(__('Email Address')) ?></span></label>
            <div class="control">
                <input type="email" name="email" alt="email" id="email_address" class="input-text" value="<?= $block->escapeHtmlAttr($block->getEmailValue()) ?>" data-validate="{required:true, 'validate-email':true}">
            </div>
        </div>
		<p class="back-link"><a class="action back custom-link" href="<?= $block->escapeUrl($block->getLoginUrl()) ?>"><small>« </small><?= $block->escapeHtml(__('Back to login')) ?></a></p>
        <?= $block->getChildHtml('form_additional_info') ?>
    </fieldset>
    <div class="actions-toolbar buttons-set">
        <div class="primary">
            <button type="submit" class="action submit primary"><span><?= $block->escapeHtml(__('SUBMIT')) ?></span></button>
        </div>
			
    </div>
	<p class="required">* Required Fields</p>

</form>
</div>
