<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Login $block */
?>

                                        
 <div class="account-login">
    <div class="page-title">
        <h1>Login or Create an Account</h1>
    </div>

    <form class="form form-login"
              action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>"
              method="post"
              id="login-form"
              data-mage-init='{"validation":{}}'>
            <?= $block->getBlockHtml('formkey') ?>
        
        <div class="col2-set">
            <div class="col-1 new-users">
                <div class="content">
                    <h2>New Customers</h2>
                    <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                </div>
                <div class="buttons-set">
                    <button type="button" title="Create an Account" class="button" onclick="window.location='https://uat.wellappointedhouse.com/customer/account/create';"><span><span>Create an Account</span></span></button>
                </div>
            </div>
            <div class="col-2 registered-users">
                <div class="content">
                    <h2>Registered Customers</h2>
                    <p>If you have an account with us, please log in.</p>
                    <ul class="form-list">
                        <li>
                            <label for="email" class="required"><em>*</em>Email Address</label>
                            <div class="input-box">
                                <input type="text" tabindex="0" name="login[username]" value="" id="email" class="input-text required-entry validate-email" title="Email Address">
                            </div>
                        </li>
                        <li>
                            <label for="pass" class="required"><em>*</em>Password</label>
                            <div class="input-box">
                                <input placeholder="" type="password" name="login[password]" class="input-text required-entry validate-password placeholder" id="pass" title="Password">
                            </div>
                        </li>
                                                                    </ul>
                    


                    <a href="<?= $block->escapeUrl($block->getForgotPasswordUrl()) ?>" class="custom-link">Forgot Your Password?</a>
                </div>
                <div class="buttons-set">
                  <button type="submit" class="login button" name="send" id="send2"><span><span><?= $block->escapeHtml(__('Sign In')) ?></span></span></button>
                    <p class="required">* -Required Fields</p>
                </div>
            </div>
        </div>
            </form>
    
</div>
               
            <script type="text/javascript">
                 window.onload = function() {
  document.getElementById("email").focus();
};
            </script>


