<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Review\Block\Customer\Recent $block */
?>
<?php if ($block->getReviews() && count($block->getReviews())): ?>
<div class="block block-reviews-dashboard box-account box-reviews">
	
	<div class="box-head">
        <h2><?= $block->escapeHtml(__('My Recent Reviews')) ?></h2>
        <a class="action view" href="<?= $block->escapeUrl($block->getAllReviewsUrl()) ?>"><?= $block->escapeHtml(__('View All Reviews')) ?></a>
    </div>
	
	<?php 
	$counterr=0;
    ?>
    <div class="block-content">
        <ol class="items">
        <?php foreach ($block->getReviews() as $_review): ?>
           <?php $counterr=$counterr+1; ?>
            <li class="item">
                <span class="number"> <?= $counterr ?></span>
                <strong class="product-name"><a href="<?= $block->escapeUrl($block->getReviewUrl($_review->getReviewId())) ?>"><?= $block->escapeHtml($_review->getName()) ?></a></strong>
                <?php if ($_review->getSum()): ?>
                <?php $rating = $_review->getSum() / $_review->getCount() ?>
                    <div class="rating-summary">
                         <span class="label"><span><?= $block->escapeHtml(__('Rating')) ?>:</span></span>
                         <div class="rating-result" title="<?= $block->escapeHtmlAttr($rating) ?>%">
                             <span style="width:<?= $block->escapeHtmlAttr($rating) ?>%"><span><?= $block->escapeHtml($rating) ?>%</span></span>
                         </div>
                     </div>
                <?php endif; ?>
            </li>
        <?php endforeach; ?>
        </ol>
    </div>
</div>
<?php endif; ?>
</div>
</div>
