<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Review\Block\Customer\View $block */

$product = $block->getProductData();
?>
<?php if ($product->getId()): ?>


<div class="my-account">
<div class="customer-review view product-review">
	<div class="page-title">
		<h1>Review Details</h1>
	</div>
	<div class="product-img-box">
            <a class="product-image" href="<?= $block->escapeUrl($product->getProductUrl()) ?>">
                <?php $productImageUrl = $block->getUrl('pub/media/catalog').'product'.$product->getImage();
			//echo 'Reflected' .$productImageUrl;
		 ?>
		 <img src="<?= $productImageUrl?>" width="125" height="125" alt="<?= $block->escapeHtml($product->getName()) ?>">
            </a>
		<p class="label">Average Customer Rating:</p>
		
	</div>
    <div class="product-details">
            <h2 class="product-name"><?= $block->escapeHtml($product->getName()) ?></h2>
			<?php if ($block->getRating() && $block->getRating()->getSize()): ?>
				<div class="title">
					<h3><?= $block->escapeHtml(__('Your Rating:')) ?></h3>
				</div>
				<div class="customer-review-rating">
					<?php foreach ($block->getRating() as $_rating): ?>
					<?php if ($_rating->getPercent()): ?>
						<?php $rating = ceil($_rating->getPercent()) ?>
						<div class="rating-summary item">
							<span class="rating-label"><span><?= $block->escapeHtml($_rating->getRatingCode()) ?></span></span>
							<div class="rating-result" title="<?= /* @noEscape */ $rating ?>%">
								<span style="width:<?= /* @noEscape */ $rating ?>%">
									<span><?= /* @noEscape */ $rating ?>%</span>
								</span>
							</div>
						</div>
					<?php endif; ?>
					<?php endforeach; ?>
				</div>
			<?php endif; ?>
			<dl>
				<dt>Your Review <?= $block->escapeHtml(__('Submitted on %1', '<time class="date">' . $block->dateFormat($block->getReviewData()->getCreatedAt()) . '</time>'), ['time']) ?></dt>
				<dd><?= nl2br($block->escapeHtml($block->getReviewData()->getDetail())) ?></dd>
			</dl>
    </div>
	
	<div class="buttons-set">
		<p class="back-link"> <a class="action back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>"><small>« </small><span><?= $block->escapeHtml(__('Back to My Reviews')) ?></span></a></p>
	</div>
</div>
</div>
<?php endif; ?>
