<?php /** @var $block RocketWeb\ShoppingFeeds\Block\Adminhtml\Feed\Test\Result */?>
<ul class="test-feed-items message-system-inner">
    <?php foreach ($block->getMessages() as $message) :?>
        <li class="message message-info info"><?php echo $block->escapeHtml($message, ['strong']) ?></li>
    <?php endforeach; ?>
</ul>
<?php if ($block->getTestOutput()): ?>
    <?php foreach ($block->getTestOutput() as $section): ?>
        <table class="admin__table-secondary data-table">
            <thead>
                <tr>
                    <th><?php echo $block->escapeHtml(__('Column')) ?></th>
                    <th><?php echo $block->escapeHtml(__('Value')) ?></th>
                </tr>
            </thead>
            <tbody>
            <?php foreach ($section as $row) :?>
                <tr>
                    <td class="label"><strong><?php echo $block->escapeHtml(__($row['label'])) ?></strong></td>
                    <td><?php echo $block->escapeHtml(__($row['value'])) ?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
        <br />
    <?php endforeach; ?>
<?php endif; ?>
<?php if ($block->getLogOutput()): ?>
    <div class="admin__page-section-item-title log-output">
        <legend class="admin__legend legend">
            <span><?php echo $block->escapeHtml(__('Log output:')) ?></span>
        </legend>
        <div class="message-system-inner">
            <?php echo nl2br($block->escapeHtml($block->getLogOutput())); ?>
        </div>

    </div>

<?php endif; ?>
